{% extends 'base.html.twig' %}

{% block title %}Nouveau Prospect{% endblock %}

{% block body %}

    <div class="header pb-6" style="background-color: #EDA200">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-8 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">CRM</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><i class="fas fa-phone-volume text-orange"></i></li>
                                <li class="breadcrumb-item">Service Téléprospection</li>
                                <li class="breadcrumb-item"><a href="{{ path('teleprospecting') }}">Liste des Prospects</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Nouveau Prospect</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-4 col-5 text-right">
                        <a href="{{ path('teleprospecting') }}" class="btn btn-sm btn-neutral">Retour</a>
                    </div>
                </div>
                <!-- Card stats -->
            </div>
        </div>
    </div>


    <div class="container-fluid mt--8">

            <div class="header pb-8 pt-5 pt-md-14">
                <div class="container-fluid">
                    <div class="header-body" style="text-align: center">
                        <h1 style="color: black"></h1>
                    </div>
                </div>
            </div>

        <div class="container mt--8 pb-5">
            <!-- Table -->
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="card bg-secondary border-0">

                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                            </div>
                            {{ form_start(client_form) }}

                                    <div class="form-group">

                                            {#<div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                            </div>#}
                                            {{ form_label(client_form.firstName, 'Prénom') }}
                                            {{ form_widget(client_form.firstName, {'attr': {'class': 'form-control', 'placeholder':'Prénom'}}) }}

                                    </div>

                                    <div class="form-group">

                                           {# <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                            </div>#}
                                            {{ form_label(client_form.lastName, 'Nom') }}
                                            {{ form_widget(client_form.lastName, {'attr': {'class': 'form-control', 'placeholder':'Nom'}}) }}

                                    </div>

                                    <div class="form-group">

                                        {#<div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                                    </div>#}
                                        {{ form_label(client_form.email, 'Email') }}
                                        {{ form_widget(client_form.email, {'attr': {'class': 'form-control', 'placeholder':'nom@exemple.com'}}) }}

                                    </div>

                                    <div class="form-group">

                                            {#<div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                            </div>#}
                                            {{ form_label(client_form.address, 'Addresse') }}
                                            {{ form_widget(client_form.address, {'attr': {'class': 'form-control', 'placeholder':'Addresse'}}) }}

                                    </div>

                            <div class="form-group">

                                    {#<div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                    </div>#}
                                    {{ form_label(client_form.postalCode, 'Code Postal') }}
                                    {{ form_widget(client_form.postalCode, {'attr': {'class': 'form-control', 'placeholder':'Code Postal'}}) }}
                                    {#{{ form_errors(client_form.postalCode) }}#}

                            </div>

                            <div class="form-group">

                                   {# <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                    </div>#}
                                    {{ form_label(client_form.geographicArea, 'Département') }}
                                    {{ form_widget(client_form.geographicArea, {'attr': {'class': 'form-control', 'placeholder':'Département' }}) }}

                            </div>

                            <div class="form-group">

                                {#<div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                            </div>#}
                                {{ form_label(client_form.city, 'Commune') }}
                                {{ form_widget(client_form.city, {'attr': {'class': 'form-control', 'placeholder':'Commune'}}) }}

                            </div>

                            <div class="form-group">

                                    {#<div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                    </div>#}
                                    {{ form_label(client_form.country, 'Pays') }}
                                    {{ form_widget(client_form.country, {'attr': {'class': 'form-control', 'placeholder':'Pays'}}) }}

                            </div>

                            <div class="form-group">

                                    {#<div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                    </div>#}
                                {{ form_label(client_form.phoneNumber, 'Numéro Domicile') }}
                                    {{ form_widget(client_form.phoneNumber, {'attr': {'class': 'form-control', 'placeholder':'Numéro Domicile'}}) }}

                            </div>

                            <div class="form-group">

                                    {#<div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                    </div>#}
                                    {{ form_label(client_form.mobileNumber, 'Numéro Mobile') }}
                                    {{ form_widget(client_form.mobileNumber, {'attr': {'class': 'form-control', 'placeholder':'Numéro Mobile'}}) }}

                            </div>

                            <div class="form-group">

                                {#<div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                            </div>#}
                                {{ form_label(client_form.companyName, 'Société') }}
                                {{ form_widget(client_form.companyName, {'attr': {'class': 'form-control', 'placeholder':'Société'}}) }}

                            </div>

                            <div class="form-group">

                                    {#<div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                    </div>#}
                                {{ form_label(client_form.clientCategory, 'Catégorie') }}
                                {{ form_widget(client_form.clientCategory, {'attr': {'class': 'form-control' }}) }}

                            </div>

                            <div class="form-group">

                                    {#<div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                    </div>#}
                                    {{ form_label(client_form.providedEquipment, 'Equipement') }}
                                    {{ form_widget(client_form.providedEquipment, {'attr': {'class': 'form-control' }}) }}

                            </div>

                            <div class="form-group">

                                {#<div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                    </div>#}
                                {{ form_label(client_form.isUnderContract, 'Sous contrat') }}
                                {{ form_widget(client_form.isUnderContract, {'attr': {'class': 'form-control'}}) }}

                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-success mt-4">Confirmer</button>
                            </div>

                            {{ form_end(client_form)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
