{% extends 'base.html.twig' %}

{% block title %}Traitement Prospect{% endblock %}

{% block body %}

    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">CRM</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="#"><i class="fas fa-phone-volume"></i></a></li>
                                <li class="breadcrumb-item"><a href="#">Téléprospection</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Traitement Prospect</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a href="{{ path('teleprospecting') }}" class="btn btn-sm btn-neutral">Retour</a>
                    </div>
                </div>
                <!-- Card stats -->
                {#<div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Total traffic</h5>
                                        <span class="h2 font-weight-bold mb-0">350,897</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                            <i class="ni ni-active-40"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-sm">
                                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">New users</h5>
                                        <span class="h2 font-weight-bold mb-0">2,356</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                            <i class="ni ni-chart-pie-35"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-sm">
                                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Sales</h5>
                                        <span class="h2 font-weight-bold mb-0">924</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                            <i class="ni ni-money-coins"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-sm">
                                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
                                        <span class="h2 font-weight-bold mb-0">49,65%</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                            <i class="ni ni-chart-bar-32"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-sm">
                                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>#}
            </div>
        </div>
    </div>


    <div class="container-fluid mt--8">

            <div class="header pb-8 pt-5 pt-md-14">
                <div class="container-fluid">
                    <div class="header-body" style="text-align: center">
                        <h1 style="color: black">Traitement Prospect</h1>
                    </div>
                </div>
            </div>

        <div class="container mt--8">
            <!-- Table -->
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="card bg-secondary border-0">

                        <div class="card-body px-lg-8 py-lg-1">
                            <div class="text-center text-muted mb-4">
                            </div>
                            {{ form_start(call_form) }}

                            <div>
                                <div>
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Client</label>
                                        <input type="text" id="input-username" class="form-control" value="{{ client.firstName ~ ' ' ~ client.lastName }}" disabled>
                                    </div>
                                </div>

                            </div>
                            <div>
                                <div>
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Etat Appel</label>
                                        {{ form_widget(call_form.status, {'attr': {'class': 'form-control', 'placeholder':'Etat' }}) }}
                                    </div>
                                </div>

                            </div>

                            <div>
                                <div>
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Date RDV</label>
                                        <input type="datetime-local" id="input-datet" class="form-control">
                                    </div>
                                </div>

                            </div>

                            <div>

                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Notes</label>
                                        {#<input type="text" id="input-username" class="form-control" value="{{ client.firstName }}" disabled>#}
                                        <textarea rows="4" class="form-control" resize="none"></textarea>
                                    </div>


                            </div>


                                    {#<div class="form-group">
                                        <label class="form-control-label" for="input-last-name">Client</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                #}{#<span class="input-group-text" style="width:120px">Client</span>#}{#

                                            </div>
                                            {{ form_widget(call_form.client, {'attr': {'class': 'form-control', 'value': client.firstName ~ client.lastName }}) }}
                                        </div>
                                    </div>#}

                                   {# <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" style="width:120px">Etat Appel</span>
                                            </div>
                                            {{ form_widget(call_form.status, {'attr': {'class': 'form-control', 'placeholder':'Etat' }}) }}
                                        </div>
                                    </div>#}

                                    {#<div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" style="width:120px">Notes</span>
                                            </div>
                                            {{ form_widget(call_form.notes, {'attr': {'class': 'form-control', 'placeholder':'Notes du Traitement' }}) }}
                                        </div>
                                    </div>#}

                                    {#<div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" style="width:120px">Email</span>
                                            </div>
                                            {{ form_widget(client_form.email, {'attr': {'class': 'form-control', 'value': client_to_update.email }}) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" style="width:120px">Addresse</span>
                                            </div>
                                            {{ form_widget(client_form.address, {'attr': {'class': 'form-control', 'value': client_to_update.address }}) }}
                                        </div>
                                    </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="width:120px">Code Postal</span>
                                    </div>
                                    {{ form_widget(client_form.postalCode, {'attr': {'class': 'form-control', 'value': client_to_update.postalCode }}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="width:120px">Pays</span>
                                    </div>
                                    {{ form_widget(client_form.country, {'attr': {'class': 'form-control', 'value': client_to_update.country }}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="width:120px">N° Domicile</span>
                                    </div>
                                    {{ form_widget(client_form.phoneNumber, {'attr': {'class': 'form-control', 'value': client_to_update.phoneNumber }}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="width:120px">N° Mobile</span>
                                    </div>
                                    {{ form_widget(client_form.mobileNumber, {'attr': {'class': 'form-control', 'value': client_to_update.mobileNumber }}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="width:120px">Catégorie</span>
                                    </div>
                                    {{ form_widget(client_form.category, {'attr': {'class': 'form-control', 'value': client_to_update.category }}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="width:120px">Sous Contrat</span>
                                    </div>
                                    {{ form_widget(client_form.isUnderContract, {'attr': {'class': 'form-control', 'value': client_to_update.isUnderContract }}) }}
                                </div>
                            </div>#}

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary mt-4">Confirmer</button>
                            </div>

                            {{ form_end(call_form)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
