{% extends 'base.html.twig' %}

{% block title %}Vérification des Disponibilités{% endblock %}

{% block body %}


    <div class="header pb-6" style="background-color: #EDA200">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">CRM</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><i class="fas fa-phone-volume text-orange"></i></li>
                                <li class="breadcrumb-item">Prise de RDV</li>
                                <li class="breadcrumb-item active" aria-current="page">Vérification des Disponibilités</li>
                                {#<li class="breadcrumb-item active" aria-current="page">Fixer un RDV</li>#}
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        {#<a href="{{ path('appointment') }}" class="btn btn-sm btn-neutral">Retour</a>#}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid mt--8">

        <div class="header pb-8 pt-5 pt-md-14">
            <div class="container-fluid">
                <div class="header-body" style="text-align: center">
                    <h1 style="color: black"></h1>
                </div>
            </div>
        </div>

        <div class="container mt--8 pb-5">
            <!-- Table -->
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="card bg-secondary border-0">

                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                            </div>

                            {{ form_start(appointment_form) }}
                            <div class="form-group">
                                <label for="example-datetime-local-input" class="form-control-label">Date et heure de Début</label>
                                {{ form_widget(appointment_form.start) }}
                            </div>

                            <div class="form-group">
                                <label for="example-datetime-local-input" class="form-control-label">Date et heure de Fin</label>
                                {{ form_widget(appointment_form.end) }}
                            </div>
                            <hr class="my-3">
                            {% for message in app.flashes('appointment_duration_warning') %}
                                <div style="color: red">
                                    <small>
                                        {{ message }}
                                    </small>
                                </div>
                            {% endfor %}
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary mt-4">Vérifier la disponibilité</button>
                            </div>
                            {{ form_end(appointment_form)}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additionalJs %}
    <script>
        window.onload = () => {

            let d = new Date();
            let month = d.getMonth()+1;
            let day = d.getDate();
            let today = d.getFullYear() + '-' +
                ((''+month).length<2 ? '0' : '') + month + '-' +
                ((''+day).length<2 ? '0' : '') + day;

            $("#appointment_form_start_date").val(today)
            $("#appointment_form_end_date").val(today)
            $("#appointment_form_start_time_hour").val(9)
            $("#appointment_form_end_time_hour").val(10)

            $("#appointment_form_start_date").on("change", function () {
                $("#appointment_form_end_date").val(this.value)
            })

            $("#appointment_form_start_time_hour").on("change", function () {
                if(this.value == "23") {
                    $("#appointment_form_end_time_hour").val(0)
                } else {
                    $("#appointment_form_end_time_hour").val(parseInt(this.value) + 1)
                }
            })
        }
    </script>
{% endblock %}