{% extends 'base.html.twig' %}

{% block title %}
    Liste des réglements
{% endblock %}

{% block body %}
    <div class="header pb-6" style="background-color: #EDA200">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">CRM</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><i class="fas fa-euro-sign text-indigo"></i></li>
                                <li class="breadcrumb-item">Facturation</li>
                                <li class="breadcrumb-item"><a href="{{ path('payment_schedule_list') }}">Liste des échéanciers</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Liste des réglements</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        {#<a href="{{ path('new_contact') }}" class="btn btn-sm btn-success">Nouveau Projet</a>#}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                        <div class="card-header border-0">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="mb-0">Total: {{ all_payments|length }} Réglement(s)</h3>
                                </div>
                                <div class="col-md-6 text-right">
                                    <a href="{{ path('schedule_pdf_export', {'id': payment_schedule_id}) }}" class="btn btn-sm btn-info">Exporter vers PDF</a>
                                </div>
                            </div>
                        </div>
                        <!-- Light table -->
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Réglement N°</th>
                                    <th scope="col">Valeur</th>
                                    <th scope="col">Date prévue de paiement</th>
                                    <th scope="col">État</th>
                                    <th scope="col">Méthode de paiement</th>
                                    <th scope="col">Date d'encaissement</th>
                                    <th scope="col">Traitement</th>
                                    <th scope="col">Vers PDF</th>
                                </tr>
                                </thead>
                                <tbody class="list">
                                {% for payment_row in payments %}
                                    <tr class="clickable-row" data-href="{{ path('payments_row_show', {'paymentScheduleId': payment_schedule_id, 'paymentRowId': payment_row.id}) }}">
                                        <td class="budget">
                                            {{ payment_row.paymentNumber }}
                                        </td>

                                        <td class="budget">
                                            {{ payment_row.value }} €
                                        </td>

                                        <td class="budget">
                                            {{ payment_row.paymentDate | format_datetime('short', 'none', locale='fr') }}
                                        </td>

                                        <td class="budget">
                                            {% if payment_row.isPaid == 1 %}
                                                Payé
                                            {% else %}
                                                Non Payé
                                            {% endif %}
                                        </td>
                                        <td class="budget">
                                            {% if payment_row.paymentMethod == 1 %}Carte Bancaire{% elseif payment_row.paymentMethod == 2 %}Virement Bancaire{% elseif payment_row.paymentMethod == 3 %}Chèque{% elseif payment_row.paymentMethod == 4 %}Espèces{% else %}N/A{% endif %}
                                        </td>

                                        <td>
                                            {% if payment_row.isPaid == 1 %}
                                                {{ payment_row.paymentReceiptDate | format_datetime('short', 'none', locale='fr') }}
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        </td>

                                        <td>
                                            {% if payment_row.isPaid == 1 %}
                                                <span class="badge badge-success badge-lg">
                                                    <i class="bg-success"></i>
                                                    Traité
                                                </span>
                                            {% else %}
                                                <a href="{{ path('payments_row_show', {'paymentScheduleId': payment_schedule_id, 'paymentRowId': payment_row.id}) }}"  class="badge badge-default">Traiter</a>
                                            {% endif %}
                                        </td>

                                        <td>
                                            {% if payment_row.isPaid == 1 %}
                                                <a href="{{ path('one_payment_pdf_export', {'paymentScheduleId': payment_schedule_id,'paymentId': payment_row.id}) }}"><i class="fas fa-file-pdf text-black-50"></i></a>
                                                {#<a href="{{ path('one_payment_pdf_export', {'paymentScheduleId': payment_schedule_id,'paymentId': payment_row.id}) }}" class="badge badge-default" >Imprimer Bon de Réglement</a>#}
                                            {% else %}
                                                <i class="fas fa-times-circle text-red"></i>
                                                {#<button class="badge badge-neutral" disabled>Imprimer Bon de Réglement</button>#}
                                            {% endif %}
                                        </td>
                                    </tr>

                                    <div class="modal fade" id="editpayment{{ payment_row.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header" style="margin: 0 auto">
                                                    <h5 class="modal-title" id="exampleModalLabel">Réglement N° {{ payment_row.paymentNumber }}</h5>
                                                </div>

                                                <div class="modal-body">

                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-username">Valeur</label>
                                                        <input type="text" id="value{{ payment_row.id }}" class="form-control" value="{{ payment_row.value }}" disabled>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-username">Date prévue de paiement</label>
                                                        <input type="text" id="paymentDate{{ payment_row.id }}" class="form-control" value="{{ payment_row.paymentDate | date("m/Y") }}" disabled>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="form-control-label" for="payment_status">Etat</label>
                                                        <div class="custom-control custom-radio mb-3">
                                                            <input type="radio" id="unpaid" name="payment_status" value="unpaid" class="custom-control-input">
                                                            <label class="custom-control-label" for="unpaid">Non Payé</label>
                                                        </div>
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" id="paid" name="payment_status" value="paid" class="custom-control-input">
                                                            <label class="custom-control-label" for="paid">Payé</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-username">Payé ?</label>
                                                        <div>
                                                            <label class="custom-toggle">
                                                                <input id="payment_status{{ payment_row.id }}" type="checkbox" name="payment_status">
                                                                <span class="custom-toggle-slider rounded-circle" data-label-off="Non" data-label-on="Oui"></span>
                                                            </label>
                                                        </div>
                                                    </div>


                                                    <div id="payment_receive_date_block{{ payment_row.id }}" class="form-group" style="display: none">
                                                        <label class="form-control-label" for="input-username">Date d'encaissement</label>
                                                        <input id="payment_receive_date{{ payment_row.id }}" type="date" class="form-control">
                                                    </div>

                                                </div>

                                                <div class="modal-footer" style="margin: 0 auto">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                                                    <a href="{{ path('payment_schedule', {'id': payment_row.id}) }}" class="btn btn-success">Confirmer</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    <!-- Card footer -->
                    {{ knp_pagination_render(payments) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additionalJs %}
    <script>
        $(document).ready(function() {
            /*$(".clickable-row").hover(function() {
                $(this).css('cursor', 'pointer');
            });

            $(".clickable-row").dblclick(function() {
                window.location = $(this).data("href");
            });*/
            $('input[type=checkbox][name=payment_status]').change(function() {
                if ($(this).is(':checked')) {
                    console.log("Oui")
                    $("#payment_receive_date_block").show();
                    $("#payment_receive_date").prop('required', true);
                } else {
                    console.log("no")
                    $("#payment_receive_date_block").hide();
                    $("#payment_receive_date").prop('required', false);
                }
            });
            $(".clickable-row").hover(function() {
                $(this).css('cursor', 'pointer');
            });
            $(".clickable-row").dblclick(function() {
                window.location = $(this).data("href");
            });
        })
    </script>
{% endblock %}

