{% extends 'base.html.twig' %}

{% block title %}
    Réglement N° {{ payment_row.paymentNumber }}
{% endblock %}

{% block body %}

    <div class="header pb-6" style="background-color: #EDA200">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-10 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">CRM</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><i class="fas fa-euro-sign text-indigo"></i></li>
                                <li class="breadcrumb-item">Facturation</li>
                                <li class="breadcrumb-item"><a href="{{ path('payment_schedule_list') }}">Liste des échéanciers</a></li>
                                <li class="breadcrumb-item"><a href="{{ path('payments_per_schedule', {'id': payment_schedule_id}) }}">Liste des réglements</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Réglement N° {{ payment_row.paymentNumber }}</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-2 col-5 text-right">
                        {#<a href="" class="btn btn-sm btn-neutral">Retour</a>#}
                    </div>
                </div>
                <!-- Card stats -->

            </div>
        </div>
    </div>


    <div class="container-fluid mt--8">

        <div class="header pb-8 pt-5 pt-md-14">
            <div class="container-fluid">
                <div class="header-body" style="text-align: center">
                    <h1 style="color: black"></h1>
                </div>
            </div>
        </div>

        <div class="container mt--8 pb-5">
            <!-- Table -->
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="card bg-secondary border-0">

                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                            </div>

                            <form action="{{ path('payments_row_edit', {'paymentScheduleId': payment_schedule_id, 'paymentRowId': payment_row.id}) }}" method="post">

                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Valeur</label>
                                    <input type="text" id="value" class="form-control" value="{{ payment_row.value }} €" disabled>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Date prévue de paiement</label>
                                    <input type="text" id="paymentDate" class="form-control" value="{{ payment_row.paymentDate | date("m/Y") }}" disabled>
                                </div>


                                <div class="form-group">
                                    <label class="form-control-label" for="payment_status">Etat</label>
                                    <div class="custom-control custom-radio mb-3">
                                        <input type="radio" id="unpaid" name="payment_status" value="unpaid" class="custom-control-input">
                                        <label class="custom-control-label" for="unpaid">Non Payé</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="paid" name="payment_status" value="paid" class="custom-control-input">
                                        <label class="custom-control-label" for="paid">Payé</label>
                                    </div>
                                </div>


                                <div id="payment_receipt_date_block" class="form-group" style="display: none">
                                    <label class="form-control-label" for="input-username">Date d'encaissement</label>
                                    <input id="payment_receipt_date" type="date" name="payment_receipt_date" class="form-control">
                                </div>


                                <div class="text-center">
                                    <button type="submit" class="btn btn-success mt-4">Sauvegarder</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additionalJs %}
<script type="text/javascript">
    $(document).ready(function() {
        let d = new Date();
        let month = d.getMonth()+1;
        let day = d.getDate();
        let today = d.getFullYear() + '-' +
            ((''+month).length<2 ? '0' : '') + month + '-' +
            ((''+day).length<2 ? '0' : '') + day;
        $("#payment_receipt_date").val(today)
        {% if payment_row.isPaid == 1 %}
            $('input[type=radio][name=payment_status][value=paid]').prop('checked', true);
        {% else %}
            $('input[type=radio][name=payment_status][value=unpaid]').prop('checked', true);
        {% endif %}

        $('input[type=radio][name=payment_status]').change(function() {
            if (this.value == "paid") {
                $("#payment_receipt_date_block").show();
                $("#payment_receipt_date").prop('required', true);
            } else {
                $("#payment_receipt_date_block").hide();
                $("#payment_receipt_date").prop('required', false);
            }
        });
    });
</script>
{% endblock %}