{% extends 'base.html.twig' %}

{% block title %}
    Réglement N° {{ payment_row.paymentNumber }}
{% endblock %}

{% block body %}

    <div class="header pb-6" style="background-color: #EDA200">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-10 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">CRM</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><i class="fas fa-euro-sign text-indigo"></i></li>
                                <li class="breadcrumb-item">Facturation</li>
                                <li class="breadcrumb-item"><a href="{{ path('payment_schedule_list') }}">Liste des échéanciers</a></li>
                                <li class="breadcrumb-item"><a href="{{ path('payments_per_schedule', {'id': payment_schedule_id}) }}">Liste des réglements</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Réglement N° {{ payment_row.paymentNumber }}</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-2 col-5 text-right">
                        {#<a href="" class="btn btn-sm btn-neutral">Retour</a>#}
                    </div>
                </div>
                <!-- Card stats -->

            </div>
        </div>
    </div>


    <div class="container-fluid mt--8">

        <div class="header pb-8 pt-5 pt-md-14">
            <div class="container-fluid">
                <div class="header-body" style="text-align: center">
                    <h1 style="color: black"></h1>
                </div>
            </div>
        </div>

        <div class="container mt--8 pb-5">
            <!-- Table -->
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="card bg-secondary border-0">

                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                            </div>

                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Valeur</label>
                                    <input type="text" id="value" class="form-control" value="{{ payment_row.value }} €" disabled>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Date prévue de paiement</label>
                                    <input type="text" id="paymentDate" class="form-control" value="{{ payment_row.paymentDate | date("m/Y") }}" disabled>
                                </div>


                                <div class="form-group">
                                    <label class="form-control-label" for="payment_status">Etat</label>
                                    <input id="payment_receive_date" type="text" class="form-control" value="Payé" disabled>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" for="payment_method">Méthode de paiement</label>
                                    <input type="text" class="form-control" value="{% if payment_row.paymentMethod == 1 %}Carte Bancaire{% elseif payment_row.paymentMethod == 2 %}Virement Bancaire{% elseif payment_row.paymentMethod == 3 %}Chèque{% elseif payment_row.paymentMethod == 4 %}Espèces{% else %}N/A{% endif %}" disabled>
                                </div>


                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Date d'encaissement</label>
                                    <input id="payment_receive_date" type="text" class="form-control" value="{{ payment_row.paymentReceiptDate | format_datetime('short', 'none', locale='fr') }}" disabled>
                                </div>


                                <div class="text-center">
                                    <a href="{{ path('one_payment_pdf_export', {'paymentScheduleId': payment_schedule_id,'paymentId': payment_row.id}) }}" class="btn btn-info mt-4" disabled>Télécharger Bon de Réglement N° {{ payment_row.paymentNumber }}</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
