{% extends 'base.html.twig' %}

{% block title %}
    Liste des échéanciers
{% endblock %}

{% block body %}
    <div class="header pb-6" style="background-color: #EDA200">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">CRM</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><i class="fas fa-euro-sign text-indigo"></i></li>
                                <li class="breadcrumb-item">Facturation</li>
                                <li class="breadcrumb-item active" aria-current="page">Liste des échéanciers</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        {#<a href="{{ path('new_contact') }}" class="btn btn-sm btn-success">Nouveau Projet</a>#}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <form action="{{ path('payments_schedules_search_filters') }}" method="post">
                        <div class="card-header border-0">
                            <div class="row">
                                <div class="col-md-6">
                                    {% if app.session.get('total_payments_schedules_search_results') and app.session.get('total_payments_schedules_search_results') != "nothing" %}
                                        <h3 class="mb-0">Nombre de résultats: {{ app.session.get('total_payments_schedules_search_results')}}</h3>
                                    {% elseif app.session.get('total_payments_schedules_search_results') and app.session.get('total_payments_schedules_search_results') == "nothing" %}
                                        <h3 class="mb-0" style="color: red">Aucun résultat correspondant à votre recherche!</h3>
                                    {% else %}
                                        <h3 class="mb-0">Total: {{ all_payments_schedules|length }} Échéancier(s)</h3>
                                    {% endif %}
                                </div>
                                <div class="col-md-6 text-right">
                                    {% if all_payments_schedules|length != 0 %}
                                        <button class="btn btn-sm btn-success" type="submit">Appliquer les filtres</button>
                                        <a class="btn btn-sm btn-primary" href="{#{{ path('projects_list') }}#}">Réinitialiser les filtres</a>
                                    {% else %}
                                        <a class="btn btn-sm btn-primary" href="{#{{ path('projects_list') }}#}">Réinitialiser les filtres</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- Light table -->
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Prénom Client</th>
                                    <th scope="col">Nom Client</th>
                                    <th scope="col">Actions</th>
                                    {#{% if "ROLE_COMMERCIAL" in app.user.roles  %}
                                    {% else %}
                                        <th scope="col">Commercial</th>
                                    {% endif %}#}
                                    <th scope="col">Technologie Vendue</th>
                                    <th scope="col">Total Contrat</th>
                                    <th scope="col">Nombre de Mensualités</th>
                                    <th scope="col">état</th>
                                    <th scope="col">Consultation</th>
                                    <th scope="col">Vers PDF</th>
                                    {#<th scope="col">Statut</th>
                                    <th scope="col">Facturation</th>#}
                                    {#<th scope="col">Actions</th>#}
                                    {#<th scope="col">CNI R/V</th>
                                    <th scope="col">RIB</th>
                                    <th scope="col">Déclaration 2035</th>
                                    <th scope="col">Déclaration 2042</th>
                                    <th scope="col">Bilan Comptable</th>
                                    <th scope="col">Feuille de Partenariat</th>#}
                                </tr>

                                {% if all_payments_schedules|length != 0 %}

                                <tr>
                                    <td>
                                        <input id="firstName" name="firstName" class="test" type="text">
                                    </td>
                                    <td>
                                        <input id="lastName" name="lastName" class="test" type="text">
                                    </td>
                                    <td></td>

                                    {#{% if "ROLE_COMMERCIAL" in app.user.roles  %}
                                    {% else %}
                                        <td>
                                            <select id="user" name="user" class="form-control-sm">
                                                <option value="" selected>--- Choisir ---</option>
                                                {% for commercial_user in commercial_users %}
                                                    <option value="{{ commercial_user.id }}">{{ commercial_user.firstName ~ ' ' ~ commercial_user.lastName }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    {% endif %}#}

                                    <td>
                                        <select id="equipment" name="equipment" class="form-control-sm">
                                            <option value="" selected>--- Choisir ---</option>
                                            {% for equipment in equipments %}
                                                <option value="{{ equipment.id }}">{{ equipment.designation }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <input id="totalHT" name="totalHT" class="test" type="text">
                                    </td>
                                    <td>
                                        <input id="numberOfMonthlyPayments" name="numberOfMonthlyPayments" class="test" type="number">
                                    </td>
                                    <td>
                                        <select id="isCompleted" name="isCompleted" class="form-control-sm">
                                            <option value="" selected>--- Choisir ---</option>
                                            <option value="0">En cours</option>
                                            <option value="1">Totalement encaissé</option>
                                        </select>
                                    </td>
                                    {#<td>
                                        <select id="status" name="status" class="form-control-sm">
                                            <option value="" selected>--- Choisir ---</option>
                                            <option value="1">En cours</option>
                                            <option value="2">Accepté</option>
                                            <option value="3">Refusé</option>
                                        </select>
                                    </td>
                                    <td ></td>#}
                                    <td></td>
                                    <td></td>

                                </tr>

                                {% endif %}

                                </thead>
                                <tbody class="list">

                                {% for payment_schedule in payments_schedules %}
                                    <tr class="clickable-row" data-href="{{ path('show_contact', {'id': payment_schedule.project.client.id}) }}">
                                        <td>
                                            {{ payment_schedule.client.firstName }}
                                        </td>

                                        <td class="budget">
                                            {{ payment_schedule.client.lastName }}
                                        </td>

                                        <td>
                                            {#<a href="{{ path('show_contact', {'id': client.id}) }}"  class="badge badge-default" >Consulter Fiche</a>#}
                                            <a href="{{ path('show_contact', {'id': payment_schedule.project.client.id}) }}"><i class="fas fa-search-plus text-blue"></i></a>&nbsp;&nbsp;
                                            <a href="{{ path('full_update_contact', {'id': payment_schedule.project.client.id}) }}"><i class="fas fa-edit text-yellow"></i></a>&nbsp;&nbsp;
                                            {% if payment_schedule.isDeleted != 1 %}
                                                <a href="" data-toggle="modal" data-target="#deleteModal{{ payment_schedule.project.id }}"><i class="fas fa-trash-alt text-red"></i></a>
                                            {% endif %}

                                        </td>

                                        {#{% if "ROLE_COMMERCIAL" in app.user.roles  %}
                                        {% else %}
                                            <td class="budget">
                                                {{ project.projectMakerUser.firstName ~ ' ' ~ project.projectMakerUser.lastName }}
                                            </td>
                                        {% endif %}#}

                                        <td class="budget">
                                            {{ payment_schedule.project.equipment.designation }}
                                        </td>

                                        <td class="budget">
                                            {{ payment_schedule.project.totalHT }} €
                                        </td>

                                        <td class="budget">
                                            {{ payment_schedule.project.numberOfMonthlyPayments }}
                                        </td>

                                        <td>
                                            {% if payment_schedule.isCompleted == 0 %}
                                                <span class="badge badge-info badge-lg">
                                                    <i class="bg-info"></i>
                                                    En cours
                                                </span>
                                            {% elseif  payment_schedule.isCompleted == 1 %}
                                                <span class="badge badge-success badge-lg">
                                                    <i class="bg-success"></i>
                                                    Totalement encaissé
                                                </span>
                                            {% endif %}
                                        </td>

                                        <td>
                                            <a href="{{ path('payments_per_schedule', {'id': payment_schedule.id}) }}" class="badge badge-default" >Consulter échéancier</a>
                                        </td>

                                        <td>
                                            <a href="{{ path('schedule_pdf_export', {'id': payment_schedule.id}) }}"><i class="fas fa-file-pdf text-black-50"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </form>
                    <!-- Card footer -->
                    {{ knp_pagination_render(payments_schedules) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additionalJs %}
    <script>
        $(document).ready(function() {
            $(".clickable-row").hover(function() {
                $(this).css('cursor', 'pointer');
            });

            $(".clickable-row").dblclick(function() {
                window.location = $(this).data("href");
            });
        })
    </script>
{% endblock %}
