{% extends 'base.html.twig' %}

{% block title %}Edition contact{% endblock %}

{% block body %}

    <div class="header pb-6" style="background-color: #EDA200">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">CRM</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><i class="ni ni-single-02 text-black-50"></i></li>
                                <li class="breadcrumb-item">Utilisateurs & Rôles</li>
                                <li class="breadcrumb-item"><a href="{{ path('roles') }}">Liste des utilisateurs</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Edition Utilisateur</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a href="{{ path('roles') }}" class="btn btn-sm btn-neutral">Retour</a>
                    </div>
                </div>
                <!-- Card stats -->
            </div>
        </div>
    </div>


    <div class="container-fluid mt--8">

            <div class="header pb-8 pt-5 pt-md-14">
                <div class="container-fluid">
                    <div class="header-body" style="text-align: center">
                       {# <h1 style="color: black">Editer Utilisateur</h1>#}
                    </div>
                </div>
            </div>

        <div class="container mt--8">
            <!-- Table -->
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="card bg-secondary border-0">

                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                            </div>
                            {{ form_start(user_form) }}

                                    {#<div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" style="width:120px">Prénom</span>
                                            </div>
                                            {{ form_widget(user_form.firstName, {'attr': {'class': 'form-control', 'value': user_to_update.firstName }}) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" style="width:120px">Nom</span>
                                            </div>
                                            {{ form_widget(user_form.lastName, {'attr': {'class': 'form-control', 'value': user_to_update.lastName }}) }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" style="width:120px">Email</span>
                                            </div>
                                            {{ form_widget(user_form.email, {'attr': {'class': 'form-control', 'value': user_to_update.email }}) }}
                                        </div>
                                    </div>#}

                                    <div class="form-group">

                                        {# <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                                            </div>#}
                                        {#{{ form_label(client_form.lastName, 'Nom') }}#}
                                        {{ form_row(user_form.firstName, {'label': 'Prénom','attr': {'class': 'form-control', 'value': user_to_update.firstName }}) }}

                                    </div>

                                    <div class="form-group">

                                        {# <div class="input-group-prepend">
                                                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                                                    </div>#}
                                        {#{{ form_label(client_form.lastName, 'Nom') }}#}
                                        {{ form_row(user_form.lastName, {'label': 'Nom','attr': {'class': 'form-control', 'value': user_to_update.lastName }}) }}

                                    </div>
                                    <div class="form-group">

                                        {# <div class="input-group-prepend">
                                                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                                                    </div>#}
                                        {#{{ form_label(client_form.lastName, 'Nom') }}#}
                                        {{ form_row(user_form.email, {'label': 'Email','attr': {'class': 'form-control', 'value': user_to_update.email, "disabled": "true" }}) }}

                                    </div>

                                    {#<div class="form-group">

                                        #}{# <div class="input-group-prepend">
                                                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                                                    </div>#}{#
                                        #}{#{{ form_label(client_form.lastName, 'Nom') }}#}{#
                                        {{ form_row(user_form.roles, {'label': 'Rôle'}) }}

                                    </div>#}

                                    <div class="form-group">

                                            {#<div class="input-group-prepend">
                                                <span class="input-group-text" style="width:120px">Rôle</span>
                                            </div>#}
                                            <label for="role" class="required">Rôle</label>
                                            <select class="form-control" name="role" id="role">
                                                    <option value="ROLE_SUPERADMIN"
                                                                {% if user_to_update.roles[0] == "ROLE_SUPERADMIN" %}
                                                                    selected
                                                                {% endif %}
                                                            >Super Admin</option>
                                                    <option value="ROLE_ADMIN"
                                                            {% if user_to_update.roles[0] == "ROLE_ADMIN" %}
                                                                selected
                                                            {% endif %}
                                                    >Admin</option>
                                                    <option value="ROLE_COMMERCIAL"
                                                            {% if user_to_update.roles[0] == "ROLE_COMMERCIAL" %}
                                                                selected
                                                            {% endif %}
                                                    >Commercial</option>
                                                    <option value="ROLE_TELEPRO"
                                                            {% if user_to_update.roles[0] == "ROLE_TELEPRO" %}
                                                                selected
                                                            {% endif %}
                                                    >Téléprospecteur</option>
                                            </select>

                                    </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-success mt-4">Confirmer</button>
                            </div>

                            {{ form_end(user_form)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
