{% extends 'base.html.twig' %}

{% block title %}Edition Contact{% endblock %}

{% block body %}

    <div class="header pb-6" style="background-color: #EDA200">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">CRM</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                {% if (is_granted('ROLE_SUPERADMIN')) %}
                                    <li class="breadcrumb-item"><i class="ni fas fa-address-book text-black-50"></i></li>
                                    <li class="breadcrumb-item">Gestion des contacts</li>
                                    <li class="breadcrumb-item"><a href="{{ path('all_contacts') }}">Liste des contacts</a></li>
                                {% elseif (is_granted('ROLE_COMMERCIAL')) %}
                                    <li class="breadcrumb-item"><i class="fas fa-chalkboard-teacher text-yellow"></i></li>
                                    <li class="breadcrumb-item">Service Commercial</li>
                                    <li class="breadcrumb-item"><a href="{{ path('commercial_my_contacts') }}">Mes contacts</a></li>
                                {% elseif (is_granted('ROLE_TELEPRO')) %}
                                    <li class="breadcrumb-item"><i class="fas fa-phone-volume text-orange"></i></li>
                                    <li class="breadcrumb-item">Service Téléprospection</li>
                                    <li class="breadcrumb-item"><a href="{{ path('teleprospecting') }}">Liste des prospects</a></li>
                                {% endif %}
                                <li class="breadcrumb-item active" aria-current="page">Fiche contact</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        {% if (is_granted('ROLE_SUPERADMIN')) %}
                            <a href="{{ path('all_contacts') }}" class="btn btn-sm btn-neutral">Retour</a>
                        {% elseif (is_granted('ROLE_COMMERCIAL')) %}
                            <a href="{{ path('commercial_my_contacts') }}" class="btn btn-sm btn-neutral">Retour</a>
                        {% elseif (is_granted('ROLE_TELEPRO')) %}
                            <a href="{{ path('teleprospecting') }}" class="btn btn-sm btn-neutral">Retour</a>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
<!-- Page content -->
<div class="container-fluid mt--6">

        <div class="col-xl-12 order-xl-1">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Fiche Contact</h3>
                        </div>
                        <div class="col-4 text-right">
                            {#<a href="{{ path('all_contacts') }}" class="btn btn-sm btn-primary">Retour</a>#}
                            <a href="{{ path('show_contact', {'id': client_to_update.id}) }}" class="btn btn-sm btn-slack">Vers Fiche</a>
                            <a href="" data-toggle="modal" data-target="#deleteModal" class="btn btn-sm btn-warning">Supprimer</a>
                            {#<a href="" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt text-red"></i></a>#}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form action="{{ path('full_update_contact', {'id': client_to_update.id}) }}" method="post">
                        <h6 class="heading-small text-muted mb-4">Données Client</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_label(client_form.firstName, 'Prénom') }}
                                        {{ form_widget(client_form.firstName, {'attr': {'class': 'form-control', 'value': client_to_update.firstName }}) }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_label(client_form.lastName, 'Nom') }}
                                        {{ form_widget(client_form.lastName, {'attr': {'class': 'form-control', 'value': client_to_update.lastName }}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_label(client_form.companyName, 'Société') }}
                                        {{ form_widget(client_form.companyName, {'attr': {'class': 'form-control', 'value': client_to_update.companyName }}) }}

                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_label(client_form.email, 'Email') }}
                                        {{ form_widget(client_form.email, {'attr': {'class': 'form-control', 'value': client_to_update.email }}) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_label(client_form.address, 'Addresse') }}
                                        {{ form_widget(client_form.address, {'attr': {'class': 'form-control', 'value': client_to_update.address }}) }}
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_label(client_form.postalCode, 'Code Postal') }}
                                        {{ form_widget(client_form.postalCode, {'attr': {'class': 'form-control', 'value': client_to_update.postalCode }}) }}
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_label(client_form.city, 'Commune') }}
                                        {{ form_widget(client_form.city, {'attr': {'class': 'form-control', 'value': client_to_update.city }}) }}
                                    </div>
                                </div>

                               {# <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_label(client_form.postalCode, 'Code Postal') }}
                                        {{ form_widget(client_form.postalCode, {'attr': {'class': 'form-control', 'value': client_to_update.postalCode }}) }}
                                    </div>
                                </div>#}
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_label(client_form.geographicArea, 'Département') }}
                                        {{ form_widget(client_form.geographicArea, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>

                            </div>



                            <div class="row">
                               {# <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_label(client_form.geographicArea, 'Département') }}
                                        {{ form_widget(client_form.geographicArea, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>#}
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_label(client_form.country, 'Pays') }}
                                        {{ form_widget(client_form.country, {'attr': {'class': 'form-control', 'value': client_to_update.country }}) }}
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_label(client_form.phoneNumber, 'Numéro Domicile') }}
                                        {{ form_widget(client_form.phoneNumber, {'attr': {'class': 'form-control', 'value': client_to_update.phoneNumber }}) }}
                                    </div>
                                </div>

                            </div>

                            <div class="row">


                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_label(client_form.mobileNumber, 'Numéro Mobile') }}
                                        {{ form_widget(client_form.mobileNumber, {'attr': {'class': 'form-control', 'value': client_to_update.mobileNumber }}) }}
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_label(client_form.category, 'Catégorie') }}
                                        {{ form_widget(client_form.category, {'attr': {'class': 'form-control', 'value': client_to_update.category }}) }}
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                {#<div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_label(client_form.category, 'Catégorie') }}
                                        {{ form_widget(client_form.category, {'attr': {'class': 'form-control', 'value': client_to_update.category }}) }}
                                    </div>
                                </div>#}
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_label(client_form.providedEquipment, 'Equipement') }}
                                        {{ form_widget(client_form.providedEquipment, {'attr': {'class': 'form-control', 'value': client_to_update.providedEquipment }}) }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_label(client_form.isUnderContract, 'Sous contrat') }}
                                        {{ form_widget(client_form.isUnderContract, {'attr': {'class': 'form-control', 'value': client_to_update.isUnderContract }}) }}
                                    </div>
                                </div>

                            </div>

                        </div>
                        {#<hr class="my-4" />#}
                        <!-- Address -->
                        {#<h6 class="heading-small text-muted mb-4">Données Utiles</h6>#}
                        {#<div class="pl-lg-4">#}

                            {#<div class="row">
                                #}{#<div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_label(client_form.category, 'Catégorie') }}
                                        {{ form_widget(client_form.category, {'attr': {'class': 'form-control', 'value': client_to_update.category }}) }}
                                    </div>
                                </div>#}{#
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_label(client_form.providedEquipment, 'Equipement') }}
                                        {{ form_widget(client_form.providedEquipment, {'attr': {'class': 'form-control', 'value': client_to_update.providedEquipment }}) }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_label(client_form.isUnderContract, 'Sous contrat') }}
                                        {{ form_widget(client_form.isUnderContract, {'attr': {'class': 'form-control', 'value': client_to_update.isUnderContract }}) }}
                                    </div>
                                </div>

                            </div>#}

                           {# <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        {{ form_label(client_form.isUnderContract, 'Sous contrat') }}
                                        {{ form_widget(client_form.isUnderContract, {'attr': {'class': 'form-control', 'value': client_to_update.isUnderContract }}) }}
                                    </div>
                                </div>
                            </div>#}

                        {#</div>#}
                        <div class="text-right">
                            <button type="submit" class="btn btn-sm btn-success mt-4">Enregistrer les modifications</button>
                        </div>
                        </form>
                        {% if client_to_update.calls|length > 0 %}
                            {% set calls_counter = 0 %}
                            <hr class="my-4" />

                            <h6 class="heading-small text-muted mb-4">Historique des Appels</h6>
                            {#{{ dump(client_form.calls) }}#}
                                    {% for call in client_to_update.calls %}
                                        {#{{ dump(client_form.calls) }}#}
                                        <div class="pl-lg-4">
                                        {% set calls_counter = calls_counter + 1 %}
                                            <h3 class="heading-small text-muted mb-4">Appel {{ calls_counter }}</h3>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        {#<div class="form-group">
                                                            <label class="form-control-label" for="input-city">Etat</label>
                                                            <input type="text" id="input-city" class="form-control" value="{% if client_to_show.status == 0 %}Non traité{% elseif client_to_show.status == 1 %}Appel non qualifié{% else %}Appel qualifié{% endif %}" disabled>
                                                        </div>#}
                                                        {#<div class="form-group">
                                                            <label class="form-control-label" for="status">Etat</label>
                                                           #}{# <input type="text" id="input-status" class="form-control" value="{% if client_to_show.status == 0 %}Non traité{% elseif client_to_show.status == 1 %}Appel non qualifié{% else %}Appel qualifié{% endif %}" disabled>#}{#
                                                            <select name="status" id="status" class="form-control">
                                                                <option value="" selected>Choisir...</option>
                                                                <option value="1">Appel non Qualifié</option>
                                                                <option value="2">Appel Qualifié</option>
                                                            </select>
                                                        </div>#}
                                                        <div class="form-group">
                                                            <label class="form-control-label" for="input-city">Etat</label>
                                                            <input type="text" id="input-city" class="form-control" value="{% if call.generalStatus == 0 %}Non traité{% elseif call.generalStatus == 1 %}Appel non qualifié{% else %}Appel qualifié{% endif %}" disabled>
                                                        </div>
                                                        {#<div class="form-group">
                                                            {{ form_label(call.vars.value.generalStatus, 'Sous contrat') }}
                                                            {{ form_widget(call.vars.value.generalStatus, {'attr': {'class': 'form-control', 'value': 'hi' }}) }}
                                                        </div>#}
                                                    </div>
                                                    <div class="col-lg-6">
                                                        {#<div class="form-group">
                                                            <label class="form-control-label" for="input-country">Détails</label>
                                                            <input type="text" id="input-country" class="form-control" value="{% if client_to_update.statusDetail == 1 %}Ne répond pas{% elseif client_to_update.statusDetail == 2 %}Répondeur{% elseif client_to_update.statusDetail == 3 %}Barrage Secrétaire{% elseif client_to_update.statusDetail == 4 %}Pas Intéressé{% elseif client_to_update.statusDetail == 5 %}A Rappeler{% elseif client_to_update.statusDetail == 6 %}RDV à prendre{% elseif client_to_update.statusDetail == 7 %}RDV fixé {% else %}Non traité{% endif %}" disabled>
                                                        </div>#}
                                                        {#<div class="form-group">
                                                            <label class="form-control-label" for="status_details">Détails</label>
                                                            #}{#<input type="text" id="input-status" class="form-control" value="{% if client_to_show.status == 0 %}Non traité{% elseif client_to_show.status == 1 %}Appel non qualifié{% else %}Appel qualifié{% endif %}" disabled>#}{#
                                                            <select name="status_details" id="status_details" class="form-control">
                                                                <option value="" selected>Choisir...</option>
                                                                <option value="1">Ne répond pas</option>
                                                                <option value="2">Répondeur</option>
                                                                <option value="3">Barrage Secrétaire</option>
                                                                <option value="4">Pas Intéressé</option>
                                                                <option value="5">A Rappeler</option>
                                                                <option value="6">RDV à prendre</option>
                                                                <option value="7">RDV fixé</option>
                                                            </select>
                                                        </div>#}
                                                        <div class="form-group">
                                                            <label class="form-control-label" for="input-country">Détails</label>
                                                            <input type="text" id="input-country" class="form-control" value="{% if call.statusDetails == 1 %}Ne répond pas{% elseif call.statusDetails == 2 %}Répondeur{% elseif call.statusDetails == 3 %}Barrage Secrétaire{% elseif call.statusDetails == 4 %}Pas Intéressé{% elseif call.statusDetails == 5 %}A Rappeler{% elseif call.statusDetails == 6 %}RDV à prendre{% elseif call.statusDetails == 7 %}RDV fixé {% else %}Non traité{% endif %}" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>

                                        <div class="pl-lg-4">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-city">Appelé Par</label>
                                                        <input type="text" id="input-city" class="form-control" value="{{ call.user.firstName ~ ' ' ~ call.user.lastName }}" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-country">Date</label>
                                                        <input type="text" id="input-country" class="form-control" value="{{ call.createdAt | format_datetime(locale='fr') }}" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {#<hr class="my-4" />#}
                        <!-- Description -->

                        {#<h6 class="heading-small text-muted mb-4">Notes Appel</h6>#}
                                        <div class="pl-lg-4">
                                            {#<h3 class="heading-small text-muted mb-4">Notes Appel {{ calls_counter }}</h3>#}
                                            <div class="form-group">
                                                <label class="form-control-label">Observations Appel</label>
                                                {#<textarea rows="4" class="form-control" placeholder="Pas de notes ..." resize="none" disabled>{{ call.callNotes }}</textarea>#}
                                                {% if call.statusDetails != 7 %}<textarea rows="4" class="form-control" placeholder="Pas de notes ..." resize="none" disabled>{{ call.callNotes }}</textarea>{% else %}
                                                    {#{% set value = "" %}
                                                    {% set break = false %}
                                                    {% for appointment in client_appointments_list %}
                                                        {% if break == false %}
                                                            {% if appointment.appointmentCallNotes is not null %}
                                                                {% set value = appointment.appointmentCallNotes %}
                                                                {% set break = true %}
                                                            {% endif%}
                                                        {% endif %}
                                                    {% endfor %}#}<textarea rows="4" class="form-control" placeholder="Pas de notes ..." resize="none" disabled>{{ call.callIfAppointmentNotes }}</textarea>{% endif%}
                                            </div>
                                        </div>
                                        {#{% if not (is_granted('ROLE_TELEPRO')) %}#}
                                        <div class="text-right">
                                            {% if call.isDeleted != 1  %}
                                            <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#modal-edit-call-form{{ call.id }}">Editer Appel {{ calls_counter }}</button>
                                            <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#modal-delete-call-form{{ call.id }}">Supprimer Appel {{ calls_counter }}</button>
                                            {#<button type="button" data-toggle="modal" data-target="#deleteModal" class="btn btn-sm btn-warning">Supprimer</button>#}
                                                {% else %}
                                                    <a class="badge bg-gradient-red text-white"><i class="fas fa-times fa-lg"></i> Appel Supprimé</a>
                                            {% endif %}
                                        </div>
                                        {#{% endif %}#}
                                        <hr class="my-4" />

                                        <div class="modal fade" id="modal-edit-call-form{{ call.id }}" tabindex="-1" role="dialog" aria-labelledby="modal-edit-call-form{{ call.id }}" aria-hidden="true">
                                            <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <form action="{{ path('update_call', {'id': call.id}) }}" method="post">

                                                            <div class="form-group">
                                                                <div class="form-group">
                                                                    <label class="form-control-label" for="input-username">Client</label>
                                                                    <input type="text" id="client-show" class="form-control" value="{{ client_to_update.firstName ~ ' ' ~ client_to_update.lastName }}" disabled>
                                                                </div>
                                                            </div>

                                                            <div>
                                                                {#<div class="form-group">
                                                                    <label class="form-control-label" for="input-username">Date et heure de Début</label>
                                                                    <input type="datetime-local" id="start_appointment" name="start_appointment" class="form-control" value="{{ appointment.start|date }}" required>
                                                                </div>#}
                                                                <div class="form-group">
                                                                    <label class="form-control-label" for="status">Etat</label>
                                                                    <select name="status" id="status" class="form-control">
                                                                        <option value="" selected>Choisir...</option>
                                                                        <option value="1" {% if call.generalStatus == 1 %} selected {% endif %}>Appel non Qualifié</option>
                                                                        <option value="2" {% if call.generalStatus == 2 %} selected {% endif %}>Appel Qualifié</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div>
                                                                {#<div class="form-group">
                                                                    <label class="form-control-label" for="input-username">Date et heure de Fin</label>
                                                                    <input type="datetime-local" id="end_appointment" name="end_appointment" class="form-control" value="{{ appointment.end|date }}" required>
                                                                </div>#}
                                                                <div class="form-group">
                                                                    <label class="form-control-label" for="status_details">Détails</label>
                                                                    <select name="status_details" id="status_details" class="form-control">
                                                                        <option value="" selected>Choisir...</option>
                                                                        <option value="1" {% if call.statusDetails == 1 %} selected {% endif %}>Ne répond pas</option>
                                                                        <option value="2" {% if call.statusDetails == 2 %} selected {% endif %}>Répondeur</option>
                                                                        <option value="3" {% if call.statusDetails == 3 %} selected {% endif %}>Barrage Secrétaire</option>
                                                                        <option value="4" {% if call.statusDetails == 4 %} selected {% endif %}>Pas Intéressé</option>
                                                                        <option value="5" {% if call.statusDetails == 5 %} selected {% endif %}>A Rappeler</option>
                                                                        <option value="6" {% if call.statusDetails == 6 %} selected {% endif %}>RDV à prendre</option>
                                                                        <option value="7" {% if call.statusDetails == 7 %} selected {% endif %}>RDV fixé</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div>
                                                                <div class="form-group">
                                                                    <label class="form-control-label" for="input-username">Observations Appel</label>
                                                                    {#<textarea id="notes-show" class="form-control" name="notes_call" id="notes" cols="30" rows="6" placeholder="..." resize="none" required>{{ call.callNotes }}</textarea>#}
                                                                    {% if call.statusDetails != 7 %}<textarea rows="4" class="form-control" name="notes_call" placeholder="Pas de notes ..." resize="none">{{ call.callNotes }}</textarea>{% else %}
                                                                        {#{% set value = "" %}
                                                                        {% set break = false %}
                                                                        {% for appointment in client_appointments_list %}
                                                                            {% if break == false %}
                                                                                {% if appointment.appointmentCallNotes is not null %}
                                                                                    {% set value = appointment.appointmentCallNotes %}
                                                                                    {% set break = true %}
                                                                                {% endif%}
                                                                            {% endif %}
                                                                        {% endfor %}#}<textarea rows="4" class="form-control" name="notes_call" placeholder="Pas de notes ..." resize="none">{{ call.callIfAppointmentNotes }}</textarea>{% endif%}
                                                                </div>
                                                            </div>
                                                            <hr class="my-3">
                                                            <div class="text-center">
                                                                <button type="submit" class="btn btn-sm btn-success">Confirmer</button>
                                                                {#<a class="btn btn-sm btn-success" href="{{ path('full_update_appointment', {'id': appointment.id}) }}">Confirmer</a>#}
                                                            </div>

                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="modal fade" id="modal-delete-call-form{{ call.id }}" tabindex="-1" role="dialog" aria-labelledby="emodal-delete-call-form" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                {#<form action="{{ path('delete_contact', {'id': client.id}) }}" method="post">#}
                                                <div class="modal-content">
                                                    <div class="modal-header" style="margin: 0 auto">
                                                        <h5 class="modal-title" id="exampleModalLabel">Avertissement</h5>
                                                        {#<button type="button" class="close" data-dismiss="modal" aria-label="Close">#}{#
                                                        #}{#<span aria-hidden="true">&times;</span>#}{#
                                                        </button>#}
                                                    </div>
                                                    <div class="modal-body" style="margin: 0 auto">
                                                        Êtes-vous sûr de vouloir supprimer cet appel?
                                                    </div>
                                                    <div class="modal-footer" style="margin: 0 auto">
                                                        <button type="button" class="btn btn-success" data-dismiss="modal">Annuler</button>
                                                        <a href="{{ path('delete_call', {'id': call.id}) }}" class="btn btn-danger">Confirmer</a>
                                                    </div>

                                                </div>
                                                {#</form>#}
                                            </div>
                                        </div>
                                    {% endfor %}
                        {% endif %}

                        {% if client_appointments_list|length > 0 %}
                        <hr class="my-4" />

                        <div class="row align-items-center py-4">
                            <div class="col-lg-6 col-7">
                                <h6 class="heading-small text-muted mb-4">Historique des RDV</h6>
                            </div>
                        </div>
                            {% set appointments_counter = 0 %}
                            {% for appointment in client_appointments_list %}
                        <div class="pl-lg-4">


                                <input type="text" name="{{ appointment.id }}" hidden>
                                {% set appointments_counter = appointments_counter + 1 %}
                                <h3 class="heading-small text-muted mb-4">RDV {{ appointments_counter }}</h3>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-city">Date et Heure de Début</label>
                                            <input type="text" id="input-city" class="form-control" value="{{ appointment.start|date }}" disabled>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-country">Date et Heure de Fin</label>
                                            <input type="text" id="input-country" class="form-control" value="{{ appointment.end|date }}" disabled>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        {#<div class="form-group">
                                            <label class="form-control-label" for="input-city">Commercial Affecté</label>
                                            #}{#<input type="text" id="input-city" class="form-control" value="{{ appointment.user.firstName ~ ' ' ~ appointment.user.lastName }}">#}{#
                                            <select name="assigned_commercial" id="assigned_commercial" class="form-control appointment_commercial{{ appointment.id }}">
                                                <option value="">Choisir...</option>
                                                {% for commercial in commercials %}
                                                    <option value="{{ commercial.id }}">{{ commercial.firstName ~ ' ' ~ commercial.lastName }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>#}
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-city">Commercial Affecté</label>
                                            <input type="text" id="input-city" class="form-control" value="{{ appointment.user.firstName ~ ' ' ~ appointment.user.lastName }}" disabled>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                       {# <div class="form-group">
                                            <label class="form-control-label" for="input-city">Etat</label>
                                            <select name="appointment_status" id="appointment_status" class="form-control appointment_status{{ appointment.id }}">
                                                <option value="" selected>Choisir...</option>
                                                <option value="0">A Venir</option>
                                                <option value="1">Effectué</option>
                                            </select>
                                        </div>#}
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-city">Etat</label>
                                            <input type="text" id="input-city" class="form-control" value="{% if appointment.isDone == 0 %}A Venir{% else %}Effectué{% endif %}" disabled>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-lg-12">
                                        {#<div class="form-group">
                                            <label class="form-control-label" for="input-city">Notes RDV</label>
                                            <textarea rows="4" class="form-control appointment_notes{{ appointment.id }}" placeholder="Pas de notes ..." resize="none">{{ appointment.appointmentNotes }}</textarea>
                                        </div>#}
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-city">Observations RDV</label>
                                            <textarea rows="4" class="form-control" placeholder="Pas de notes ..." resize="none" disabled>{{ appointment.appointmentNotes }}</textarea>
                                        </div>
                                    </div>

                                </div>
                                {% if not (is_granted('ROLE_TELEPRO')) %}
                                <div class="text-right">
                                    {% if appointment.isDeleted != 1 %}
                                    <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#modal-appointment-form{{ appointment.id }}">Editer RDV {{ appointments_counter }}</button>
                                    <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#modal-delete-appointment-form{{ appointment.id }}">Supprimer RDV {{ appointments_counter }}</button>
                                        {% else %}
                                            <a class="badge bg-gradient-red text-white"><i class="fas fa-times fa-lg"></i> RDV Supprimé</a>
                                            {% endif %}
                                </div>
                                {% endif %}
                                <hr class="my-4" />

                                <div class="modal fade" id="modal-appointment-form{{ appointment.id }}" tabindex="-1" role="dialog" aria-labelledby="modal-appointment-form{{ appointment.id }}" aria-hidden="true">
                                    <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <form action="{{ path('update_appointment', {'id': appointment.id}) }}" method="post">

                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <label class="form-control-label" for="input-username">Client</label>
                                                            <input type="text" id="client-show" class="form-control" value="{{ client_to_update.firstName ~ ' ' ~ client_to_update.lastName }}" disabled>
                                                        </div>
                                                    </div>

                                                    <div>
                                                        <div class="form-group">
                                                            <label class="form-control-label" for="input-username">Date et heure de Début</label>
                                                            <input type="datetime-local" id="start_appointment" name="start_appointment" class="form-control" value="{{ appointment.start|date }}" required>
                                                        </div>
                                                    </div>

                                                    <div>
                                                        <div class="form-group">
                                                            <label class="form-control-label" for="input-username">Date et heure de Fin</label>
                                                            <input type="datetime-local" id="end_appointment" name="end_appointment" class="form-control" value="{{ appointment.end|date }}" required>
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-city">Commercial Affecté</label>
                                                        {#<input type="text" id="input-city" class="form-control" value="{{ appointment.user.firstName ~ ' ' ~ appointment.user.lastName }}">#}
                                                        <select name="assigned_commercial_appointment" id="assigned_commercial_appointment" class="form-control appointment_commercial" required>
                                                            <option value="">Choisir...</option>
                                                            {% for commercial in commercials %}
                                                                <option value="{{ commercial.id }}" {% if appointment.user.id == commercial.id %} selected {% endif %}>{{ commercial.firstName ~ ' ' ~ commercial.lastName }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>

                                                    <div>
                                                        <div class="form-group">
                                                            <label class="form-control-label" for="input-username">Observations RDV</label>
                                                            <textarea id="notes-show" class="form-control" name="notes_appointment" id="notes" cols="30" rows="6" placeholder="..." resize="none" required>{{ appointment.appointmentNotes }}</textarea>
                                                        </div>
                                                    </div>
                                                    <hr class="my-3">
                                                    <div class="text-center">
                                                        <button type="submit" class="btn btn-sm btn-success">Confirmer</button>
                                                        {#<a class="btn btn-sm btn-success" href="{{ path('full_update_appointment', {'id': appointment.id}) }}">Confirmer</a>#}
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="modal fade" id="modal-delete-appointment-form{{ appointment.id }}" tabindex="-1" role="dialog" aria-labelledby="emodal-appointment-call-form" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        {#<form action="{{ path('delete_contact', {'id': client.id}) }}" method="post">#}
                                        <div class="modal-content">
                                            <div class="modal-header" style="margin: 0 auto">
                                                <h5 class="modal-title" id="exampleModalLabel">Avertissement</h5>
                                                {#<button type="button" class="close" data-dismiss="modal" aria-label="Close">#}{#
                                                #}{#<span aria-hidden="true">&times;</span>#}{#
                                                </button>#}
                                            </div>
                                            <div class="modal-body" style="margin: 0 auto">
                                                Êtes-vous sûr de vouloir supprimer ce RDV?
                                            </div>
                                            <div class="modal-footer" style="margin: 0 auto">
                                                <button type="button" class="btn btn-success" data-dismiss="modal">Annuler</button>
                                                <a href="{{ path('delete_appointment', {'id': appointment.id}) }}" class="btn btn-danger">Confirmer</a>
                                            </div>

                                        </div>
                                        {#</form>#}
                                    </div>
                                </div>


                            {% endfor %}
                        </div>

                        {% endif %}
                    {#<div class="text-center">
                        <button type="button" class="btn btn-success mt-4">Confirmer</button>
                    </div>#}
                    {#</form>#}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <form action="{{ path('delete_contact', {'id': client_to_update.id}) }}" method="post">
                <div class="modal-content">
                    <div class="modal-header" style="margin: 0 auto">
                        <h5 class="modal-title" id="exampleModalLabel">Avertissement</h5>
                        {#<button type="button" class="close" data-dismiss="modal" aria-label="Close">#}{#
                        #}{#<span aria-hidden="true">&times;</span>#}{#
                        </button>#}
                    </div>
                    <div class="modal-body" style="margin: 0 auto">
                        Êtes-vous sûr de vouloir supprimer "{{ client_to_update.firstName ~ ' ' ~ client_to_update.lastName }}" ?
                    </div>
                    <div class="modal-footer" style="margin: 0 auto">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-danger">Confirmer</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block additionalJs %}

    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <script src="{{ asset('assets/js/plugins/jquery/dist/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.selectpicker').selectpicker();
        })
    </script>#}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#client_form_geographicArea').val({{ client_to_update.geographicArea.id }})
            $('#client_form_category').val({{ client_to_update.category }})

        });
    </script>

{% endblock %}