{% extends 'base.html.twig' %}

{% block title %}Gestion des contacts{% endblock %}

{% block body %}

    <div class="header pb-6" style="background-color: #EDA200">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">CRM</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><i class="fas fa-address-book text-black-50"></i></li>
                                <li class="breadcrumb-item">Gestion des contacts</li>
                                <li class="breadcrumb-item active" aria-current="page">Liste des contacts</li>
                            </ol>
                        </nav>
                    </div>
                    <div id="initial-import" class="col-lg-6 col-5 text-right">
                        <a id="import-button" class="btn btn-sm btn-info" style="color: white">Importer une liste</a>
                        <a href="{{ path('new_contact') }}" class="btn btn-sm btn-success">Nouveau contact</a>
                        {#<label for="pagination" style="color: white; font-size: small">Nb de résultats par page</label>
                        <select name="pagination" id="pagination" class="form-control-sm">
                            <option value="10" {% if app.session.get('pagination_value') == 10 %} selected {% endif %}>10</option>
                            <option value="50" {% if app.session.get('pagination_value') == 50 %} selected {% endif %}>50</option>
                            <option value="100" {% if app.session.get('pagination_value') == 100 %} selected {% endif %}>100</option>
                        </select>
                        <div class="raiscontainer" style="text-align: center"><label for="raison">Raison:</label><br><textarea id="raison" class="rais" name="raison" type = "text" style="height: 160px; resize: none; white-space: unset" required></textarea><a class="seconddel btn btn-danger btn-supprimer" data-toggle="tooltip" data-placement="top" data-href="/admin_resp/ingenieur/oussingenieurref/deleted" href="#modal_supp" onclick="return false" rel="modal:open" title="Supprimer Ingénieur" name="btnTicket" id="search" style="margin-top: 10px" disabled>Confirmer</a></div>
                        <a href="#" class="btn btn-sm btn-neutral">Filters</a>#}
                    </div>

                    <div id="import-block" class="col-lg-6 col-5 text-right" style="display: none">
                        <form action="{{ path('import_contacts') }}" method="post" enctype="multipart/form-data">
                                <input id="excelcontactsfile" type="file" name="excelcontactsfile" class="btn btn-sm btn-secondary" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" value="Importer" required>
                                <input class="btn btn-sm btn-success" type="submit" value="Confirmer">
                                <a id="retour-import" class="btn btn-sm btn-neutral">Retour</a>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <form action="{{ path('all_contacts_search_filters') }}" method="post">
                    <div class="card-header border-0">
                        <div class="row">
                            <div class="col-md-6">
                                {% if app.session.get('total_contacts_search_results') and app.session.get('total_contacts_search_results') != "nothing" %}
                                    <h3 class="mb-0">Nombre de résultats: {{ app.session.get('total_contacts_search_results')}}</h3>
                                {% elseif app.session.get('total_contacts_search_results') and app.session.get('total_contacts_search_results') == "nothing" %}
                                    <h3 class="mb-0" style="color: red">Aucun résultat correspondant à votre recherche!</h3>
                                {% else %}
                                    <h3 class="mb-0">Total: {{ app.session.get('total_contacts')}} Contacts</h3>
                                {% endif %}
                                <span>
                                    {% for message in app.flashes('import_file_type_error') %}
                                        <div style="color: red">
                                            <small>
                                                {{ message }}
                                            </small>
                                        </div>
                                    {% endfor %}
                                    {% for message in app.flashes('import_file_template_error') %}
                                        <div style="color: red">
                                            <small>
                                                {{ message }}
                                            </small>
                                        </div>
                                    {% endfor %}
                                    {% for message in app.flashes('add_contacts_confirmation1') %}
                                        <div style="color: green">
                                            <small>
                                                {{ message }}
                                            </small>
                                        </div>
                                    {% endfor %}
                                    {% for message in app.flashes('add_contacts_warning') %}
                                        <div style="color: red">
                                            <small>
                                                {{ message }}
                                            </small>
                                        </div>
                                    {% endfor %}
                                </span>
                                <span>
                                    {% for message in app.flashes('add_contacts_confirmation2') %}
                                        <div style="color: orangered">
                                            <small>
                                                {{ message }}
                                            </small>
                                        </div>
                                    {% endfor %}
                                </span>
                            </div>
                            {% if clients|length != 0 %}
                            <div class="col-md-6 text-right">
                                <button class="btn btn-sm btn-success" type="submit">Appliquer les filtres</button>
                                <a class="btn btn-sm btn-primary" href="{{ path('all_contacts') }}">Réinitialiser les filtres</a>
                                {#<input type="text" class="form-control " placeholder="Recherche" id="contact-filter">#}
                            </div>
                            {% else %}
                                <div class="col-md-4 text-right">
                                    <a class="btn btn-sm btn-primary" href="{{ path('all_contacts') }}">Réinitialiser les filtres</a>
                                    {#<input type="text" class="form-control " placeholder="Recherche" id="contact-filter">#}
                                    {#<button class="btn btn-sm btn-success" type="submit">Appliquer les filtres</button>#}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Light table -->
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Prénom</th>
                                <th scope="col">Nom</th>

                                <th scope="col">état</th>
                                <th scope="col">Détails</th>
                                <th scope="col">Observations Appel</th>
                                <th scope="col">Observations avant RDV</th>
                                <th scope="col">Actions</th>

                                <th scope="col">Email</th>
                                <th scope="col">Catégorie</th>
                                {#<th scope="col">Equipement</th>#}

                                <th scope="col">Adresse</th>
                                <th scope="col">Code Postal</th>
                                <th scope="col">Département</th>
                                <th scope="col">Commune</th>
                                <th scope="col">Pays</th>
                                <th scope="col">Numéro Domicile</th>
                                <th scope="col">Numéro Mobile</th>
                                <th scope="col">Société</th>
                                <th scope="col">Sous Contrat</th>
                                {#<th scope="col">Traitement</th>#}

                                {#<th scope="col">Modification</th>
                                <th scope="col">Suppression</th>#}
                            </tr>

                            {% if clients|length != 0 %}
                            <tr>
                                <td>
                                    <input id="firstName" name="firstName" class="test" type="text">
                                </td>
                                <td>
                                    <input id="lastName" name="lastName" class="test" type="text">
                                </td>

                                <td>
                                    <select id="status" name="status" class="form-control-sm">
                                        <option value="" selected>--- Choisir ---</option>
                                        <option value="0">Non traité</option>
                                        <option value="1">Appel non Qualifié</option>
                                        <option value="2">Appel Qualifié</option>
                                    </select>
                                </td>
                                <td>
                                    <select id="status" name="statusDetail" class="form-control-sm">
                                        <option value="" selected>--- Choisir ---</option>
                                        <option value="1">Ne répond pas</option>
                                        <option value="2">Répondeur</option>
                                        <option value="3">Barrage Secrétaire</option>
                                        <option value="4">Pas Intéressé</option>
                                        <option value="5">A Rappeler</option>
                                        <option value="6">RDV à prendre</option>
                                        <option value="7">RDV fixé</option>
                                    </select>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>

                                <td>
                                    <input id="email" name="email" class="test" type="text">
                                </td>

                                <td>
                                    <select id="category" name="category" class="form-control-sm">
                                        <option value="" selected>--- Choisir ---</option>
                                        <option value="1">Médecin</option>
                                        <option value="2">Vétérinaire</option>
                                        <option value="3">Chirurgien</option>
                                    </select>
                                </td>
                                <td>
                                    <input id="address" name="address" class="test" type="text">
                                </td>
                                <td>
                                    <input id="postalCode" name="postalCode" class="test" type="text">
                                </td>
                                <td>
                                    <select id="geographicArea" name="geographicArea" class="form-control-sm">
                                        <option value="" selected>--- Choisir ---</option>
                                        {% for geographic_area in geographic_areas %}
                                            <option value="{{ geographic_area.id }}">{{ geographic_area.designation }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <input id="city" name="city" class="test" class="test" type="text">
                                </td>
                                <td>
                                    <input id="country" name="country" class="test" type="text">
                                </td>
                                <td>
                                    <input id="phoneNumber" name="phoneNumber" class="test" type="text">
                                </td>
                                <td>
                                    <input id="mobileNumber" name="mobileNumber" class="test" type="text">
                                </td>
                                <td>
                                    <input id="companyName" name="companyName" class="test" type="text">
                                </td>
                                <td>
                                    <select id="isUnderContract" name="isUnderContract" class="form-control-sm">
                                        <option value="" selected>--- Choisir ---</option>
                                        <option value="1">Oui</option>
                                        <option value="0">Non</option>
                                    </select>
                                </td>

                            </tr>

                            {% endif %}

                            </thead>
                            <tbody class="list">

                            {% for client in clients %}
                                <tr class="clickable-row" data-href="{{ path('show_contact', {'id': client.id}) }}">
                                    <td class="budget">
                                        {{ client.firstName }}
                                    </td>

                                    <td class="budget">
                                        {{ client.lastName }}
                                    </td>

                                    <td class="budget">
                                        {% if client.status == 1 %}
                                            <span class="badge badge-warning badge-lg">
                                        <i class="bg-warning"></i>
                                         Appel non Qualifié
                                        </span>
                                        {% elseif client.status == 2 %}
                                            <span class="badge badge-success badge-lg">
                                        <i class="bg-success"></i>
                                            Appel Qualifié
                                        </span>
                                        {% else %}
                                            <span class="badge badge-info badge-lg">
                                        <i class="bg-info"></i>
                                            Non Traité
                                        </span>
                                        {% endif %}
                                    </td>

                                    <td class="budget">
                                        {% if client.statusDetail == 1 %}
                                            <span class="badge badge-warning badge-lg">
                                        <i class="bg-warning"></i>
                                         Ne répond pas
                                        </span>
                                        {% elseif client.statusDetail == 2 %}
                                            <span class="badge badge-warning badge-lg">
                                        <i class="bg-warning"></i>
                                            Répondeur
                                        </span>
                                        {% elseif client.statusDetail == 3 %}
                                            <span class="badge badge-warning badge-lg">
                                        <i class="bg-warning"></i>
                                            Barrage Secrétaire
                                        </span>
                                        {% elseif client.statusDetail == 4 %}
                                            <span class="badge badge-warning badge-lg">
                                        <i class="bg-success"></i>
                                            Pas Intéressé
                                        </span>
                                        {% elseif client.statusDetail == 5 %}
                                            <span class="badge badge-warning badge-lg">
                                        <i class="bg-warning"></i>
                                            A Rappeler
                                        </span>
                                        {% elseif client.statusDetail == 6 %}
                                            <span class="badge badge-success badge-lg">
                                        <i class="bg-success"></i>
                                            RDV à prendre
                                        </span>
                                        {% elseif client.statusDetail == 7 %}
                                            <span class="badge badge-success badge-lg">
                                        <i class="bg-success"></i>
                                            RDV fixé
                                        </span>
                                        {% else %}
                                            <span class="badge badge-info badge-lg">
                                        <i class="bg-info"></i>
                                            Non Traité
                                        </span>
                                        {% endif %}
                                    </td>
                                        {% if client.calls|default %}
                                            {% if client.calls[client.calls|length - 1].callNotes is not null %}
                                                <td class="budget" style="text-align: center">
                                                    <button class="notes" data-container="body" type="button" data-toggle="popover" data-color="info" data-placement="top" data-content= "{{ client.calls[client.calls|length -1].callNotes }}">
                                                        <i class="far fa-comment text-cyan"></i>
                                                    </button>
                                                </td>
                                            {% else%}
                                                <td>Non Défini</td>
                                            {% endif %}
                                        {% else %}
                                            <td >Non Défini</td>
                                        {% endif %}

                                    {% if client.appointments|default %}
                                        {% if client.appointments[client.appointments|length -1].appointmentNotes is not null %}
                                            <td class="budget" style="text-align: center">
                                                <button class="notes" data-container="body" type="button" data-toggle="popover" data-color="info" data-placement="top" data-content= "{{ client.appointments[client.appointments|length -1].appointmentNotes }}">
                                                    <i class="far fa-comment text-cyan"></i>
                                                </button>
                                            </td>
                                        {% else %}
                                            <td>Non Défini</td>
                                        {% endif %}
                                    {% else %}
                                        <td>Non Défini</td>
                                    {% endif %}



                                    <td>
                                        {#<a href="{{ path('show_contact', {'id': client.id}) }}"  class="badge badge-default" >Consulter Fiche</a>#}
                                        <a href="{{ path('show_contact', {'id': client.id}) }}"><i class="fas fa-search-plus text-blue"></i></a>&nbsp;&nbsp;
                                        <a href="{{ path('full_update_contact', {'id': client.id}) }}"><i class="fas fa-edit text-yellow"></i></a>&nbsp;&nbsp;
                                        <a href="" data-toggle="modal" data-target="#deleteModal{{ client.id }}"><i class="fas fa-trash-alt text-red"></i></a>

                                    </td>


                                    <td class="budget">
                                        {{ client.email }}
                                    </td>


                                    <td class="budget">
                                        {% if  client.category == 1 %}
                                            Médecin
                                        {% elseif client.category == 2 %}
                                            Vétérinaire
                                        {% elseif client.category == 3 %}
                                            Chirurgien
                                        {% endif %}
                                    </td>

                                    {#<td class="budget">
                                        {% if client.providedEquipment %}
                                        {{ client.providedEquipment.designation }}
                                        {% else %}
                                        {% endif %}
                                    </td>#}



                                    <td class="budget">
                                        {{ client.address }}
                                    </td>

                                    <td class="budget">
                                        {{ client.postalCode }}
                                    </td>

                                    <td class="budget">
                                        {{ client.geographicArea.designation }}
                                    </td>

                                    <td class="budget">
                                        {{ client.city }}
                                    </td>

                                    <td class="budget">
                                        {{ client.country }}
                                    </td>

                                    <td class="budget">
                                        {{ client.phoneNumber }}
                                    </td>

                                    <td class="budget">
                                        {{ client.mobileNumber }}
                                    </td>

                                    <td class="budget">
                                        {{ client.companyName }}
                                    </td>

                                    <td class="budget">
                                        {% if client.isUnderContract is null %}

                                        {% elseif client.isUnderContract == 0 %}
                                            Non
                                        {% elseif client.isUnderContract == 1 %}
                                            Oui
                                        {% endif %}
                                    </td>

                                    {#<td >
                                        <a href="{{ path('call_handle', {'id': client.id}) }}"  class="badge badge-success" >Traiter Contact</a>
                                    </td>#}


                                  {#  <td >
                                        #}{#<a href="{{ path('update_contact', {'id': client.id}) }}"  class="badge badge-info" >Modifier Contact</a>#}{#
                                        #}{#<a href="{{ path('update_contact', {'id': client.id}) }}"><i class="fas fa-edit text-blue"></i></a>#}{#
                                    </td>

                                    <td >
                                        #}{#<a href="{{ path('new_contact') }}" data-href="/admin_resp/ingenieur/oussingenieurref/deleted" class="badge badge-danger" data-toggle="modal" data-target="#deleteModal">Supprimer Contact</a>#}{#
                                        #}{#<a href="{{ path('new_contact') }}"><i class="fas fa-trash-alt text-red"></i></a>#}{#
                                    </td>#}

                                </tr>
                                <div class="modal fade" id="deleteModal{{ client.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        {#<form action="{{ path('delete_contact', {'id': client.id}) }}" method="post">#}
                                            <div class="modal-content">
                                                <div class="modal-header" style="margin: 0 auto">
                                                    <h5 class="modal-title" id="exampleModalLabel">Avertissement</h5>
                                                    {#<button type="button" class="close" data-dismiss="modal" aria-label="Close">#}{#
                                                    #}{#<span aria-hidden="true">&times;</span>#}{#
                                                    </button>#}
                                                </div>
                                                <div class="modal-body" style="margin: 0 auto">
                                                    Êtes-vous sûr de vouloir supprimer "{{ client.firstName ~ ' ' ~ client.lastName }}" ?
                                                </div>
                                                <div class="modal-footer" style="margin: 0 auto">
                                                    <button type="button" class="btn btn-success" data-dismiss="modal">Annuler</button>
                                                    <a href="{{ path('delete_contact', {'id': client.id}) }}" class="btn btn-danger">Confirmer</a>
                                                </div>

                                            </div>
                                        {#</form>#}
                                    </div>
                                </div>

                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    </form>
                    <!-- Card footer -->
                    {{ knp_pagination_render(clients) }}
                    {#<div class="card-footer py-4">

                        <nav aria-label="...">
                            <ul class="pagination justify-content-end mb-0">

                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">
                                        <i class="fas fa-angle-left"></i>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fas fa-angle-right"></i>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additionalJs %}
    <script>

        $(document).ready(function() {
            /*$(".test").css({position:'fixed'});*/

            //hide new contact block and show import block
            $('#import-button').click(function () {
                $(this).parent().fadeOut(200)
                $('#import-block').fadeIn(1000);
            })

            //hide import block and show import block new contact block
            $('#retour-import').click(function () {
                $(this).parent().parent().fadeOut(50)
                $('#initial-import').fadeIn(1000);
            })
            $('#pagination').hover(function () {
                $(this).css('cursor', 'pointer');
            })

            $('#pagination').change(function () {

                $.ajax({
                    url: "{{ path('teleprospecting_pagination') }}",
                    method: "POST",
                    dataType: 'json',
                    data: {paginationValue: this.value},
                    success: (e) => {
                        location.reload();
                    },
                    error: (f) => {
                        console.log(f);
                    }
                })

            })

            $(".clickable-row").hover(function() {
                $(this).css('cursor', 'pointer');
            });

            $(".clickable-row").dblclick(function() {
                window.location = $(this).data("href");
            });
        })

    </script>
{% endblock %}
