{% extends 'base.html.twig' %}

{% block title %}Fiche Contact{% endblock %}

{% block body %}

    <div class="header pb-6" style="background-color: #EDA200">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">CRM</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                {#{% if not (is_granted('ROLE_COMMERCIAL')) %}#}
                                    <li class="breadcrumb-item"><i class="ni fas fa-address-book text-black-50"></i></li>
                                    <li class="breadcrumb-item">Gestion des contacts</li>
                                    <li class="breadcrumb-item"><a href="{{ path('all_contacts') }}">Liste des contacts</a></li>
                                {#{% else %}
                                    <li class="breadcrumb-item"><i class="fas fa-chalkboard-teacher text-yellow"></i></li>
                                    <li class="breadcrumb-item">Service Commercial</li>
                                    <li class="breadcrumb-item"><a href="{{ path('commercial_my_contacts') }}">Mes contacts</a></li>
                                {% endif %}#}
                                <li class="breadcrumb-item active" aria-current="page">Fiche contact</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        {% if not (is_granted('ROLE_COMMERCIAL')) %}
                            <a href="{{ path('all_contacts') }}" class="btn btn-sm btn-neutral">Retour</a>
                        {% else %}
                            <a href="{{ path('commercial_my_contacts') }}" class="btn btn-sm btn-neutral">Retour</a>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
<!-- Page content -->
<div class="container-fluid mt--6">
        <div class="col-xl-12 order-xl-1">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <h3 class="mb-0">Fiche Contact</h3>
                        </div>
                        <div class="col-6 text-right">
                            <a href="{{ path('call_handle', {'id': client_to_show.id}) }}" class="btn btn-sm btn-slack">Ajouter Appel</a>
                            <button type="button" class="btn btn-sm btn-slack" data-toggle="modal" data-target="#add-appointment-form">Ajouter RDV</button>
                            {% if not (is_granted('ROLE_TELEPRO')) %}
                            <a href="{{ path('new_project', {'clientId': client_to_show.id}) }}" class="btn btn-sm btn-slack">Ajouter projet</a>
                            {% endif %}
                            <a href="{{ path('full_update_contact', {'id': client_to_show.id}) }}" class="btn btn-sm btn-info">Editer</a>
                            {#<a href="{{ path('full_update_contact', {'id': client_to_show.id}) }}" class="btn btn-sm btn-warning">Supprimer</a>#}
                            <a href="" data-toggle="modal" data-target="#deleteModal" class="btn btn-sm btn-warning">Supprimer</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">


                    {#<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">1</div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">2</div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">3</div>
                    </div>#}

                    <ul class="nav nav-tabs mb-3">
                        <li><a class="nav-link heading-small text-muted mb-4 men_client" data-toggle="tab" href="#menu_client">Données Client</a></li>
                        <li><a class="nav-link heading-small text-muted mb-4" data-toggle="tab" href="#menu_appels">Appels</a></li>
                        <li><a class="nav-link heading-small text-muted mb-4" data-toggle="tab" href="#menu_rdvs">RDVs</a></li>
                        <li><a class="nav-link heading-small text-muted mb-4" data-toggle="tab" href="#menu_projets">Projets</a></li>
                    </ul>

                    <div class="tab-content">

                        <div id="menu_client" class="tab-pane fade">

                            <h6 class="heading-small text-muted mb-4">Données Client</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username">Prénom</label>
                                            <input type="text" id="input-username" class="form-control" value="{{ client_to_show.firstName }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-email">Nom</label>
                                            <input type="email" id="input-email" class="form-control" value="{{ client_to_show.lastName }}" disabled>
                                            {#<div type="email" id="input-email" class="list-group-item" placeholder="jesse@example.com">
                                            oussema@aol.fr
                                        </div>#}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">Société</label>
                                            <input type="text" id="input-last-name" class="form-control" value="{{ client_to_show.companyName }}" disabled>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">Email</label>
                                            <input type="text" id="input-last-name" class="form-control" value="{{ client_to_show.email }}" disabled>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-first-name">Addresse</label>
                                            <input type="text" id="input-first-name" class="form-control" value="{{ client_to_show.address }}" disabled>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">Code Postal</label>
                                            <input type="text" id="input-last-name" class="form-control" value="{{ client_to_show.postalCode }}" disabled>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-first-name">Commune</label>
                                            <input type="text" id="input-first-name" class="form-control" value="{{ client_to_show.city }}" disabled>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-first-name">Département</label>
                                            <input type="text" id="input-first-name" class="form-control" value="{{ client_to_show.geographicArea }}" disabled>
                                        </div>
                                    </div>
                                    {#<div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Pays</label>
                                        <input type="text" id="input-first-name" class="form-control" value="{{ client_to_show.country }}" disabled>
                                    </div>
                                </div>#}

                                </div>

                                <div class="row">

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-first-name">Pays</label>
                                            <input type="text" id="input-first-name" class="form-control" value="{{ client_to_show.country }}" disabled>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">Numéro Domicile</label>
                                            <input type="text" id="input-last-name" class="form-control" value="{{ client_to_show.phoneNumber }}" disabled>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-first-name">Numéro Mobile</label>
                                            <input type="text" id="input-first-name" class="form-control" value="{{ client_to_show.mobileNumber }}" disabled>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-city">Catégorie</label>
                                            <input type="text" id="input-city" class="form-control" value="{{ client_to_show.clientCategory }}" disabled>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    {#<div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-country">Equipement</label>
                                            <input type="text" id="input-country" class="form-control" value="{{ client_to_show.providedEquipment }}" disabled>
                                        </div>
                                    </div>#}

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-city">Sous Contrat</label>
                                            <input type="text" id="input-city" class="form-control" value="{% if client_to_show.isUnderContract is null %}{% elseif client_to_show.isUnderContract == 0 %}Non{% elseif client_to_show.isUnderContract == 1 %}Oui{% endif %}" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div id="menu_appels" class="tab-pane fade">


                            {% if client_to_show.calls|length > 0 %}
                                {% set calls_counter = 0 %}


                                <h6 class="heading-small text-muted mb-4">Historique des Appels</h6>

                                {% for call in client_to_show.calls %}
                                    <div class="pl-lg-4">
                                        {% set calls_counter = calls_counter + 1 %}
                                        <h3 class="heading-small text-muted mb-4">Appel {{ calls_counter }}</h3>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-city">Etat</label>
                                                    <input type="text" id="input-city" class="form-control" value="{% if call.generalStatus == 0 %}Non traité{% elseif call.generalStatus == 1 %}Appel non qualifié{% else %}Appel qualifié{% endif %}" disabled>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-country">Détails</label>
                                                    <input type="text" id="input-country" class="form-control" value="{% if call.statusDetails == 1 %}Ne répond pas{% elseif call.statusDetails == 2 %}Répondeur{% elseif call.statusDetails == 3 %}Barrage Secrétaire{% elseif call.statusDetails == 5 %}Pas Intéressé{% elseif call.statusDetails == 6 %}A Rappeler{% elseif call.statusDetails == 7 %}RDV fixé {% else %}Non traité{% endif %}" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pl-lg-4">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-city">Appelé Par</label>
                                                    <input type="text" id="input-city" class="form-control" value="{{ call.user.firstName ~ ' ' ~ call.user.lastName }}" disabled>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-country">Date</label>
                                                    <input type="text" id="input-country" class="form-control" value="{{ call.createdAt | format_datetime(locale='fr') }}" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {#<hr class="my-4" />#}
                                    <!-- Description -->
                                    {#<h6 class="heading-small text-muted mb-4">Observations Appel</h6>#}
                                    <div class="pl-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label">Observations Appel</label>
                                            <textarea rows="4" class="form-control" placeholder="Pas de notes ..." resize="none" disabled>{{ call.callNotes }}</textarea>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        {% if call.isDeleted == 1  %}
                                            <a class="badge bg-gradient-red text-white"><i class="fas fa-times fa-lg"></i> Appel Supprimé</a>
                                        {% endif %}
                                    </div>
                                    <hr class="my-4" />
                                {% endfor %}
                            {% else %}
                                0 Appel(s) !
                            {% endif %}


                        </div>
                        <div id="menu_rdvs" class="tab-pane fade">


                            {% if client_appointments_list|length > 0 %}

                                <div class="row align-items-center py-4">
                                    <div class="col-lg-6 col-7">
                                        <h6 class="heading-small text-muted mb-4">Historique des RDV</h6>
                                    </div>
                                </div>
                                {% set appointments_counter = 0 %}
                                {#<h6 class="heading-small text-muted mb-4">Liste des RDV</h6>#}
                                {% for appointment in client_appointments_list %}
                                    <div class="pl-lg-4">
                                    {% set appointments_counter = appointments_counter + 1 %}
                                    <h3 class="heading-small text-muted mb-4">RDV {{ appointments_counter }}</h3>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-city">Date et Heure de Début</label>
                                                <input type="text" id="input-city" class="form-control" value="{{ appointment.start|date }}" disabled>
                                            </div>
                                        </div>

                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-country">Date et Heure de Fin</label>
                                                <input type="text" id="input-country" class="form-control" value="{{ appointment.end|date }}" disabled>
                                            </div>
                                        </div>

                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-city">Commercial Affecté</label>
                                                <input type="text" id="input-city" class="form-control" value="{{ appointment.user.firstName ~ ' ' ~ appointment.user.lastName }}" disabled>
                                            </div>
                                        </div>

                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-city">Etat</label>
                                                <input type="text" id="input-city" class="form-control" value="{% if appointment.isDone == 0 %}A Venir{% elseif appointment.isDone == 1 %}Reporté{% elseif appointment.isDone == 2 %}Argu{% elseif appointment.isDone == 3 %}Vente{% endif %}" disabled>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-city">Pris Par</label>
                                                <input type="text" id="input-city" class="form-control" value="{{ appointment.appointmentFixer.firstName ~ ' ' ~ appointment.appointmentFixer.lastName }}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-country">Date</label>
                                                <input type="text" id="input-country" class="form-control" value="{{ appointment.createdAt | format_datetime(locale='fr') }}" disabled>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-city">Observations avant RDV</label>
                                                <textarea rows="4" class="form-control" placeholder="Pas de notes ..." resize="none" disabled>{{ appointment.appointmentNotes }}</textarea>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="text-right">
                                        {% if appointment.isDeleted == 1  %}
                                            <a class="badge bg-gradient-red text-white"><i class="fas fa-times fa-lg"></i> RDV Supprimé</a>
                                        {% endif %}
                                    </div>
                                    <hr class="my-4" />
                                {% endfor %}
                                </div>
                            {% else %}
                                0 Rdv(s) !
                            {% endif %}

                        </div>
                        <div id="menu_projets" class="tab-pane fade">

                            {% if client_to_show.projects|length > 0 %}
                                {% set projects_counter = 0 %}

                                <h6 class="heading-small text-muted mb-4">Historique des Projets</h6>

                                {% for project in client_to_show.projects %}
                                    <div class="pl-lg-4">
                                        {% set projects_counter = projects_counter + 1 %}
                                        <h3 class="heading-small text-muted mb-4">Projet {{ projects_counter }}</h3>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-country">Statut</label>
                                                    <input type="text" id="input-country" class="form-control" value="{% if project.status == 1 %}En cours{% elseif project.status == 2 %}Accepté{% elseif project.status == 3 %}Refusé{% endif %}" disabled>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-city">Technologie Vendue</label>
                                                    <input type="text" id="input-city" class="form-control" value="{{ project.equipment.designation }}" disabled>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-country">Mensualité</label>
                                                    <input type="text" id="input-country" class="form-control" value="{{ project.monthlyPayment }}" disabled>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-city">Nombre de Mensualités</label>
                                                    <input type="text" id="input-city" class="form-control" value="{{ project.numberOfMonthlyPayments }}" disabled>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-country">Total HT</label>
                                                    <input type="text" id="input-country" class="form-control" value="{{ project.totalHT }}" disabled>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-city">Rachat</label>
                                                    <input type="text" id="input-city" class="form-control" value="{% if project.rachat == 0 %}Non{% elseif project.rachat == 1 %}Oui {% endif %}" disabled>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-country">Report Mensualité</label>
                                                    <input type="text" id="input-country" class="form-control" value="{{ project.reportMensualite }}" disabled>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-country">Date de création</label>
                                                    <input type="text" id="input-country" class="form-control" value="{{ project.createdAt | format_datetime(locale='fr') }}" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="pl-lg-4">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-city">Utilisateur</label>
                                                    <input type="text" id="input-city" class="form-control" value="{{ project.projectMakerUser.firstName ~ ' ' ~ project.projectMakerUser.lastName }}" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pl-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label">Observations Projet</label>
                                            <textarea rows="4" class="form-control" placeholder="Pas de notes ..." resize="none" disabled>{{ project.projectNotes }}</textarea>
                                        </div>
                                    </div>
                                    <hr style="width:50%;text-align:center">

                                    <div class="pl-lg-4">
                                        <h3 class="heading-small text-muted mb-4">Pièces Jointes</h3>
                                        <div class="row">
                                            <div class="col-lg-4 text-center">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-country">CNI R/V</label>
                                                    <div>
                                                        {% if project.cni is not null %}
                                                            <a href="{{ asset('attachments/') ~ project.cni }}" target="_blank"><i class="fas fa-download text-green"></i></a>
                                                        {% else %}
                                                            <i class="fas fa-times-circle text-red"></i>
                                                        {% endif %}
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-lg-4 text-center">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-city">RIB</label>
                                                    <div>
                                                        {% if project.rib is not null %}
                                                            <a href="{{ asset('attachments/') ~ project.rib }}" target="_blank"><i class="fas fa-download text-green"></i></a>
                                                        {% else %}
                                                            <i class="fas fa-times-circle text-red"></i>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 text-center">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-city">Déclaration 2035</label>
                                                    <div>
                                                        {% if project.declaration2035 is not null %}
                                                            <a href="{{ asset('attachments/') ~ project.declaration2035 }}" target="_blank"><i class="fas fa-download text-green"></i></a>
                                                        {% else %}
                                                            <i class="fas fa-times-circle text-red"></i>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pl-lg-4">
                                        <div class="row">
                                            <div class="col-lg-4 text-center">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-country">Déclaration 2042</label>
                                                    <div>
                                                        {% if project.declaration2042 is not null %}
                                                            <a href="{{ asset('attachments/') ~ project.declaration2042 }}" target="_blank"><i class="fas fa-download text-green"></i></a>
                                                        {% else %}
                                                            <i class="fas fa-times-circle text-red"></i>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 text-center">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-city">Bilan Comptable</label>
                                                    <div>
                                                        {% if project.bilanComptable is not null %}
                                                            <a href="{{ asset('attachments/') ~ project.bilanComptable }}" target="_blank"><i class="fas fa-download text-green"></i></a>
                                                        {% else %}
                                                            <i class="fas fa-times-circle text-red"></i>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 text-center">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-city">Feuille de Partenariat</label>
                                                    <div>
                                                        {% if project.partenariat is not null %}
                                                            <a href="{{ asset('attachments/') ~ project.partenariat }}" target="_blank"><i class="fas fa-download text-green"></i></a>
                                                        {% else %}
                                                            <i class="fas fa-times-circle text-red"></i>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr style="width:50%;text-align:center">

                                    <div class="pl-lg-4">
                                        <h3 class="heading-small text-muted mb-4">Bloc Livraison</h3>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-country">Etat Livraison</label>
                                                    <input type="text" id="input-country" class="form-control" value="{% if project.shipmentStatus == 1 %}A commander{% elseif project.shipmentStatus == 2 %}Commandé{% elseif project.shipmentStatus == 3 %}Colis en préparation{% elseif project.shipmentStatus == 4 %}A livrer{% elseif project.shipmentStatus == 5 %}En cours de Livraison{% elseif project.shipmentStatus == 6 %}Livré{% endif %}" disabled>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-city">Date de l'état</label>
                                                    <input type="text" id="input-city" class="form-control" value="{{ project.shipmentStatusDate | format_datetime('full', 'none', locale='fr') }}" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pl-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-country">Observations Etat Livraison</label>
                                            <textarea rows="4" class="form-control" placeholder="Pas de notes ..." resize="none" disabled>{{ project.shipmentNotes }}</textarea>
                                        </div>
                                    </div>

                                    <hr class="my-4" />
                                {% endfor %}
                            {% else %}
                                0 Projet(s) !
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <form action="{{ path('delete_contact', {'id': client_to_show.id}) }}" method="post">
            <div class="modal-content">
                <div class="modal-header" style="margin: 0 auto">
                    <h5 class="modal-title" id="exampleModalLabel">Avertissement</h5>
                </div>
                <div class="modal-body" style="margin: 0 auto">
                    Êtes-vous sûr de vouloir supprimer "{{ client_to_show.firstName ~ ' ' ~ client_to_show.lastName }}" ?
                </div>
                <div class="modal-footer" style="margin: 0 auto">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger">Confirmer</button>
                </div>

            </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="add-appointment-form" tabindex="-1" role="dialog" aria-labelledby="add-appointment-form" aria-hidden="true">
        <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="card bg-secondary border-0 mb-0">
                        <div class="card-body px-lg-5 py-lg-5">
                            <div>
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Client</label>
                                    <input type="text" id="input-username" class="form-control" value="{{ client_to_show.firstName ~ ' ' ~ client_to_show.lastName }}" disabled>
                                </div>
                            </div>

                            {{ form_start(add_appointment_form) }}

                            <div class="form-group">
                                <label for="example-datetime-local-input" class="form-control-label">Date et heure de Début</label>
                                {{ form_widget(add_appointment_form.start) }}
                            </div>

                            <div class="form-group">
                                <label for="example-datetime-local-input" class="form-control-label">Date et heure de Fin</label>
                                {{ form_widget(add_appointment_form.end) }}
                            </div>
                            <hr class="my-3">

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary mt-4">Vérifier la disponibilité</button>
                            </div>
                            {{ form_end(add_appointment_form)}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

{% block additionalJs %}
    <script>
        window.onload = () => {

            let d = new Date();
            let month = d.getMonth()+1;
            let day = d.getDate();
            let today = d.getFullYear() + '-' +
                ((''+month).length<2 ? '0' : '') + month + '-' +
                ((''+day).length<2 ? '0' : '') + day;

            $("#appointment_form_start_date").val(today)
            $("#appointment_form_end_date").val(today)
            $("#appointment_form_start_time_hour").val(9)
            $("#appointment_form_end_time_hour").val(10)
            $("#appointment_form_start_date").on("change", function () {
                $("#appointment_form_end_date").val(this.value)
            })
            $("#appointment_form_start_time_hour").on("change", function () {
                if(this.value == "23") {
                    $("#appointment_form_end_time_hour").val(0)
                } else {
                    $("#appointment_form_end_time_hour").val(parseInt(this.value) + 1)
                }
            })
            $(".men_client").click()
        }
    </script>
{% endblock %}