{% extends 'base.html.twig' %}

{% block title %}Fiche Contact{% endblock %}

{% block body %}

    <div class="header pb-6" style="background-color: #EDA200">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">CRM</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                {% if not (is_granted('ROLE_COMMERCIAL')) %}
                                    <li class="breadcrumb-item"><i class="ni fas fa-address-book text-black-50"></i></li>
                                    <li class="breadcrumb-item">Gestion des contacts</li>
                                    <li class="breadcrumb-item"><a href="{{ path('all_contacts') }}">Liste des contacts</a></li>
                                {% else %}
                                    <li class="breadcrumb-item"><i class="fas fa-chalkboard-teacher text-yellow"></i></li>
                                    <li class="breadcrumb-item">Service Commercial</li>
                                    <li class="breadcrumb-item"><a href="{{ path('commercial_my_contacts') }}">Mes contacts</a></li>
                                {% endif %}
                                <li class="breadcrumb-item active" aria-current="page">Fiche contact</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        {% if not (is_granted('ROLE_COMMERCIAL')) %}
                            <a href="{{ path('all_contacts') }}" class="btn btn-sm btn-neutral">Retour</a>
                        {% else %}
                            <a href="{{ path('commercial_my_contacts') }}" class="btn btn-sm btn-neutral">Retour</a>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
<!-- Page content -->
<div class="container-fluid mt--6">

        {#<div class="col-xl-4 order-xl-2">
            <div class="card card-profile">
                <img src="../assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a href="#">
                                <img src="{{ asset('assets/img/theme/team-4.jpg') }}" class="rounded-circle">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                    <div class="d-flex justify-content-between">
                        <a href="#" class="btn btn-sm btn-info  mr-4 ">Connect</a>
                        <a href="#" class="btn btn-sm btn-default float-right">Message</a>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col">
                            <div class="card-profile-stats d-flex justify-content-center">
                                <div>
                                    <span class="heading">22</span>
                                    <span class="description">Friends</span>
                                </div>
                                <div>
                                    <span class="heading">10</span>
                                    <span class="description">Photos</span>
                                </div>
                                <div>
                                    <span class="heading">89</span>
                                    <span class="description">Comments</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <h5 class="h3">
                            Jessica Jones<span class="font-weight-light">, 27</span>
                        </h5>
                        <div class="h5 font-weight-300">
                            <i class="ni location_pin mr-2"></i>Bucharest, Romania
                        </div>
                        <div class="h5 mt-4">
                            <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
                        </div>
                        <div>
                            <i class="ni education_hat mr-2"></i>University of Computer Science
                        </div>
                    </div>
                </div>
            </div>
        </div>#}
        <div class="col-xl-12 order-xl-1">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <h3 class="mb-0">Fiche Contact</h3>
                        </div>
                        <div class="col-6 text-right">
                            <a href="{{ path('call_handle', {'id': client_to_show.id}) }}" class="btn btn-sm btn-slack">Ajouter Appel</a>
                            <button type="button" class="btn btn-sm btn-slack" data-toggle="modal" data-target="#add-appointment-form">Ajouter RDV</button>
                            <a href="" class="btn btn-sm btn-slack">Ajouter projet</a>
                            <a href="{{ path('full_update_contact', {'id': client_to_show.id}) }}" class="btn btn-sm btn-info">Editer</a>
                            {#<a href="{{ path('full_update_contact', {'id': client_to_show.id}) }}" class="btn btn-sm btn-warning">Supprimer</a>#}
                            <a href="" data-toggle="modal" data-target="#deleteModal" class="btn btn-sm btn-warning">Supprimer</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <h6 class="heading-small text-muted mb-4">Données Client</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Prénom</label>
                                        <input type="text" id="input-username" class="form-control" value="{{ client_to_show.firstName }}" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">Nom</label>
                                        <input type="email" id="input-email" class="form-control" value="{{ client_to_show.lastName }}" disabled>
                                        {#<div type="email" id="input-email" class="list-group-item" placeholder="jesse@example.com">
                                            oussema@aol.fr
                                        </div>#}
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-last-name">Société</label>
                                        <input type="text" id="input-last-name" class="form-control" value="{{ client_to_show.companyName }}" disabled>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-last-name">Email</label>
                                        <input type="text" id="input-last-name" class="form-control" value="{{ client_to_show.email }}" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Addresse</label>
                                        <input type="text" id="input-first-name" class="form-control" value="{{ client_to_show.address }}" disabled>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-last-name">Code Postal</label>
                                        <input type="text" id="input-last-name" class="form-control" value="{{ client_to_show.postalCode }}" disabled>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Commune</label>
                                        <input type="text" id="input-first-name" class="form-control" value="{{ client_to_show.city }}" disabled>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Département</label>
                                        <input type="text" id="input-first-name" class="form-control" value="{{ client_to_show.geographicArea }}" disabled>
                                    </div>
                                </div>
                                {#<div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Pays</label>
                                        <input type="text" id="input-first-name" class="form-control" value="{{ client_to_show.country }}" disabled>
                                    </div>
                                </div>#}

                            </div>

                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Pays</label>
                                        <input type="text" id="input-first-name" class="form-control" value="{{ client_to_show.country }}" disabled>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-last-name">Numéro Domicile</label>
                                        <input type="text" id="input-last-name" class="form-control" value="{{ client_to_show.phoneNumber }}" disabled>
                                    </div>
                                </div>
                                {#<div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Numéro Mobile</label>
                                        <input type="text" id="input-first-name" class="form-control" value="{{ client_to_show.mobileNumber }}" disabled>
                                    </div>
                                </div>#}
                                {#<div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-last-name">Numéro Mobile</label>
                                        <input type="text" id="input-last-name" class="form-control" placeholder="Last name" value="Jesse">
                                    </div>
                                </div>#}
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Numéro Mobile</label>
                                        <input type="text" id="input-first-name" class="form-control" value="{{ client_to_show.mobileNumber }}" disabled>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-city">Catégorie</label>
                                        <input type="text" id="input-city" class="form-control" value="{% if  client_to_show.category == 1 %}
                                            Médecin
                                        {% elseif client_to_show.category == 2 %}
                                            Vétérinaire
                                        {% elseif client_to_show.category == 3 %}
                                            Chirurgien
                                        {% endif %}" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                {#<div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-city">Catégorie</label>
                                        <input type="text" id="input-city" class="form-control" value="{% if  client_to_show.category == 1 %}
                                            Médecin
                                        {% elseif client_to_show.category == 2 %}
                                            Vétérinaire
                                        {% elseif client_to_show.category == 3 %}
                                            Chirurgien
                                        {% endif %}" disabled>
                                    </div>
                                </div>#}
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-country">Equipement</label>
                                        <input type="text" id="input-country" class="form-control" value="{{ client_to_show.providedEquipment }}" disabled>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-city">Sous Contrat</label>
                                        <input type="text" id="input-city" class="form-control" value="{% if client_to_show.isUnderContract is null %}{% elseif client_to_show.isUnderContract == 0 %}Non{% elseif client_to_show.isUnderContract == 1 %}Oui{% endif %}" disabled>
                                    </div>
                                </div>
                            </div>



                        </div>
                        {#<hr class="my-4" />#}
                        <!-- Address -->
                        {#<h6 class="heading-small text-muted mb-4">Données Utiles</h6>#}
                        {#<div class="pl-lg-4">#}

                            {#<div class="row">
                                #}{#<div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-city">Catégorie</label>
                                        <input type="text" id="input-city" class="form-control" value="{% if  client_to_show.category == 1 %}
                                            Médecin
                                        {% elseif client_to_show.category == 2 %}
                                            Vétérinaire
                                        {% elseif client_to_show.category == 3 %}
                                            Chirurgien
                                        {% endif %}" disabled>
                                    </div>
                                </div>#}{#
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-country">Equipement</label>
                                        <input type="text" id="input-country" class="form-control" value="{{ client_to_show.providedEquipment }}" disabled>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-city">Sous Contrat</label>
                                        <input type="text" id="input-city" class="form-control" value="{% if client_to_show.isUnderContract is null %}{% elseif client_to_show.isUnderContract == 0 %}Non{% elseif client_to_show.isUnderContract == 1 %}Oui{% endif %}" disabled>
                                    </div>
                                </div>
                            </div>#}

                            {#<div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-city">Sous Contrat</label>
                                        <input type="text" id="input-city" class="form-control" value="{% if client_to_show.isUnderContract is null %}{% elseif client_to_show.isUnderContract == 0 %}Non{% elseif client_to_show.isUnderContract == 1 %}Oui{% endif %}" disabled>
                                    </div>
                                </div>
                                #}{#<div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-country">Etat Appel</label>
                                        <input type="text" id="input-country" class="form-control" value="{% if appointment_to_show.client.status == 0 %}Non traité{% elseif appointment_to_show.client.status == 1 %}Appel non qualifié{% else %}Appel qualifié{% endif %}" disabled>
                                    </div>
                                </div>#}{#
                            </div>#}

                        {#</div>#}

                        {% if client_to_show.calls|length > 0 %}
                            {% set calls_counter = 0 %}
                        <hr class="my-4" />

                        <h6 class="heading-small text-muted mb-4">Historique des Appels</h6>

                            {% for call in client_to_show.calls %}
                            <div class="pl-lg-4">
                                {% set calls_counter = calls_counter + 1 %}
                                <h3 class="heading-small text-muted mb-4">Appel {{ calls_counter }}</h3>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-city">Etat</label>
                                            <input type="text" id="input-city" class="form-control" value="{% if call.generalStatus == 0 %}Non traité{% elseif call.generalStatus == 1 %}Appel non qualifié{% else %}Appel qualifié{% endif %}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-country">Détails</label>
                                            <input type="text" id="input-country" class="form-control" value="{% if call.statusDetails == 1 %}Ne répond pas{% elseif call.statusDetails == 2 %}Répondeur{% elseif call.statusDetails == 3 %}Barrage Secrétaire{% elseif call.statusDetails == 4 %}Pas Intéressé{% elseif call.statusDetails == 5 %}A Rappeler{% elseif call.statusDetails == 6 %}RDV à prendre{% elseif call.statusDetails == 7 %}RDV fixé {% else %}Non traité{% endif %}" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-city">Appelé Par</label>
                                            <input type="text" id="input-city" class="form-control" value="{{ call.user.firstName ~ ' ' ~ call.user.lastName }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-country">Date</label>
                                            <input type="text" id="input-country" class="form-control" value="{{ call.createdAt | format_datetime(locale='fr') }}" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {#<hr class="my-4" />#}
                        <!-- Description -->
                        {#<h6 class="heading-small text-muted mb-4">Observations Appel</h6>#}
                            <div class="pl-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Observations Appel</label>
                                    <textarea rows="4" class="form-control" placeholder="Pas de notes ..." resize="none" disabled>{{ call.callNotes }}</textarea>
                                </div>
                            </div>
                                <div class="text-right">
                                    {% if call.isDeleted == 1  %}
                                        <a class="badge bg-gradient-red text-white"><i class="fas fa-times fa-lg"></i> Appel Supprimé</a>
                                    {% endif %}
                                </div>
                                <hr class="my-4" />
                            {% endfor %}
                        {% endif %}
                        {% if client_appointments_list|length > 0 %}
                        <hr class="my-4" />
                        <div class="row align-items-center py-4">
                            <div class="col-lg-6 col-7">
                                <h6 class="heading-small text-muted mb-4">Historique des RDV</h6>
                            </div>
                        </div>
                            {% set appointments_counter = 0 %}
                        {#<h6 class="heading-small text-muted mb-4">Liste des RDV</h6>#}
                            {% for appointment in client_appointments_list %}
                        <div class="pl-lg-4">
                                {% set appointments_counter = appointments_counter + 1 %}
                                <h3 class="heading-small text-muted mb-4">RDV {{ appointments_counter }}</h3>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-city">Date et Heure de Début</label>
                                            <input type="text" id="input-city" class="form-control" value="{{ appointment.start|date }}" disabled>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-country">Date et Heure de Fin</label>
                                            <input type="text" id="input-country" class="form-control" value="{{ appointment.end|date }}" disabled>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-city">Commercial Affecté</label>
                                            <input type="text" id="input-city" class="form-control" value="{{ appointment.user.firstName ~ ' ' ~ appointment.user.lastName }}" disabled>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-city">Etat</label>
                                            <input type="text" id="input-city" class="form-control" value="{% if appointment.isDone == 0 %}A Venir{% else %}Effectué{% endif %}" disabled>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-city">Observations avant RDV</label>
                                            <textarea rows="4" class="form-control" placeholder="Pas de notes ..." resize="none" disabled>{{ appointment.appointmentNotes }}</textarea>
                                        </div>
                                    </div>

                                </div>
                                <div class="text-right">
                                    {% if appointment.isDeleted == 1  %}
                                        <a class="badge bg-gradient-red text-white"><i class="fas fa-times fa-lg"></i> RDV Supprimé</a>
                                    {% endif %}
                                </div>
                                <hr class="my-4" />
                            {% endfor %}
                        </div>

                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <form action="{{ path('delete_contact', {'id': client_to_show.id}) }}" method="post">
            <div class="modal-content">
                <div class="modal-header" style="margin: 0 auto">
                    <h5 class="modal-title" id="exampleModalLabel">Avertissement</h5>
                    {#<button type="button" class="close" data-dismiss="modal" aria-label="Close">#}{#
                    #}{#<span aria-hidden="true">&times;</span>#}{#
                    </button>#}
                </div>
                <div class="modal-body" style="margin: 0 auto">
                    Êtes-vous sûr de vouloir supprimer "{{ client_to_show.firstName ~ ' ' ~ client_to_show.lastName }}" ?
                </div>
                <div class="modal-footer" style="margin: 0 auto">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-danger">Confirmer</button>
                </div>

            </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="add-appointment-form" tabindex="-1" role="dialog" aria-labelledby="add-appointment-form" aria-hidden="true">
        <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="card bg-secondary border-0 mb-0">
                        <div class="card-body px-lg-5 py-lg-5">
                            <div>
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Client</label>
                                    <input type="text" id="input-username" class="form-control" value="{{ client_to_show.firstName ~ ' ' ~ client_to_show.lastName }}" disabled>
                                </div>
                            </div>

                            {{ form_start(add_appointment_form) }}

                            <div class="form-group">
                                <label for="example-datetime-local-input" class="form-control-label">Date et heure de Début</label>
                                {{ form_widget(add_appointment_form.start) }}
                            </div>

                            <div class="form-group">
                                <label for="example-datetime-local-input" class="form-control-label">Date et heure de Fin</label>
                                {{ form_widget(add_appointment_form.end) }}
                            </div>
                            <hr class="my-3">

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary mt-4">Vérifier la disponibilité</button>
                            </div>
                            {{ form_end(add_appointment_form)}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
