{% extends 'base.html.twig' %}

{% block title %}Edition contact{% endblock %}

{% block body %}
    <div class="header pb-6" style="background-color: #EDA200">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">CRM</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><i class="ni fas fa-address-book text-black-50"></i></li>
                                <li class="breadcrumb-item">Gestion des Contacts</li>
                                <li class="breadcrumb-item"><a href="{{ path('all_contacts') }}">Liste des contacts</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Edition Contact</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a href="{{ path('all_contacts') }}" class="btn btn-sm btn-neutral">Retour</a>
                    </div>
                </div>
                <!-- Card stats -->
            </div>
        </div>
    </div>


    <div class="container-fluid mt--8">

            <div class="header pb-8 pt-5 pt-md-14">
                <div class="container-fluid">
                    <div class="header-body" style="text-align: center">
                        {#<h1 style="color: black">Editer Contact</h1>#}
                    </div>
                </div>
            </div>

        <div class="container mt--8">
            <!-- Table -->
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="card bg-secondary border-0">

                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                            </div>
                            {{ form_start(client_form) }}

                                    <div class="form-group">

                                            {#<div class="input-group-prepend">
                                                <span class="input-group-text" style="width:120px">Prénom</span>
                                            </div>#}
                                            {{ form_label(client_form.firstName, 'Prénom') }}
                                            {{ form_widget(client_form.firstName, {'attr': {'class': 'form-control', 'value': client_to_update.firstName }}) }}

                                    </div>

                                    <div class="form-group">

                                           {# <div class="input-group-prepend">
                                                <span class="input-group-text" style="width:120px">Nom</span>
                                            </div>#}
                                            {{ form_label(client_form.lastName, 'Nom') }}
                                            {{ form_widget(client_form.lastName, {'attr': {'class': 'form-control', 'value': client_to_update.lastName }}) }}

                                    </div>

                                    <div class="form-group">

                                            {#<div class="input-group-prepend">
                                                <span class="input-group-text" style="width:120px">Email</span>
                                            </div>#}
                                            {{ form_label(client_form.email, 'Email') }}
                                            {{ form_widget(client_form.email, {'attr': {'class': 'form-control', 'value': client_to_update.email }}) }}

                                    </div>

                                    <div class="form-group">

                                            {#<div class="input-group-prepend">
                                                <span class="input-group-text" style="width:120px">Addresse</span>
                                            </div>#}
                                            {{ form_label(client_form.address, 'Addresse') }}
                                            {{ form_widget(client_form.address, {'attr': {'class': 'form-control', 'value': client_to_update.address }}) }}

                                    </div>

                                    <div class="form-group">

                                            {#<div class="input-group-prepend">
                                                <span class="input-group-text" style="width:120px">Code Postal</span>
                                            </div>#}
                                            {{ form_label(client_form.postalCode, 'Code Postal') }}
                                            {{ form_widget(client_form.postalCode, {'attr': {'class': 'form-control', 'value': client_to_update.postalCode }}) }}

                                    </div>

                                    <div class="form-group">

                                            {#<div class="input-group-prepend">
                                                <span class="input-group-text" style="width:120px">Département</span>
                                            </div>#}
                                            {{ form_label(client_form.geographicArea, 'Département') }}
                                            {{ form_widget(client_form.geographicArea, {'attr': {'class': 'form-control'}}) }}

                                    </div>

                                    <div class="form-group">

                                           {# <div class="input-group-prepend">
                                                <span class="input-group-text" style="width:120px">Commune</span>
                                            </div>#}
                                            {{ form_label(client_form.city, 'Commune') }}
                                            {{ form_widget(client_form.city, {'attr': {'class': 'form-control', 'value': client_to_update.city }}) }}

                                    </div>

                                    <div class="form-group">

                                            {#<div class="input-group-prepend">
                                                <span class="input-group-text" style="width:120px">Pays</span>
                                            </div>#}
                                            {{ form_label(client_form.country, 'Pays') }}
                                            {{ form_widget(client_form.country, {'attr': {'class': 'form-control', 'value': client_to_update.country }}) }}

                                    </div>

                                    <div class="form-group">

                                            {#<div class="input-group-prepend">
                                                <span class="input-group-text" style="width:120px">N° Domicile</span>
                                            </div>#}
                                            {{ form_label(client_form.phoneNumber, 'Numéro Domicile') }}
                                            {{ form_widget(client_form.phoneNumber, {'attr': {'class': 'form-control', 'value': client_to_update.phoneNumber }}) }}

                                    </div>

                                    <div class="form-group">

                                            {#<div class="input-group-prepend">
                                                <span class="input-group-text" style="width:120px">N° Mobile</span>
                                            </div>#}
                                            {{ form_label(client_form.mobileNumber, 'Numéro Mobile') }}
                                            {{ form_widget(client_form.mobileNumber, {'attr': {'class': 'form-control', 'value': client_to_update.mobileNumber }}) }}

                                    </div>

                                    <div class="form-group">

                                        {#<div class="input-group-prepend">
                                                        <span class="input-group-text" style="width:120px">Société</span>
                                                    </div>#}
                                        {{ form_label(client_form.companyName, 'Société') }}
                                        {{ form_widget(client_form.companyName, {'attr': {'class': 'form-control', 'value': client_to_update.companyName }}) }}

                                    </div>

                                    <div class="form-group">

                                            {#<div class="input-group-prepend">
                                                <span class="input-group-text" style="width:120px">Catégorie</span>
                                            </div>#}
                                            {{ form_label(client_form.category, 'Catégorie') }}
                                            {{ form_widget(client_form.category, {'attr': {'class': 'form-control', 'value': client_to_update.category }}) }}

                                    </div>

                                    <div class="form-group">

                                        {#<div class="input-group-prepend">
                                                        <span class="input-group-text" style="width:120px">Equipement</span>
                                                    </div>#}
                                        {{ form_label(client_form.providedEquipment, 'Equipement') }}
                                        {{ form_widget(client_form.providedEquipment, {'attr': {'class': 'form-control', 'value': client_to_update.providedEquipment }}) }}

                                    </div>

                                    <div class="form-group">

                                            {#<div class="input-group-prepend">
                                                <span class="input-group-text" style="width:120px">Sous Contrat</span>
                                            </div>#}
                                            {{ form_label(client_form.isUnderContract, 'Sous contrat') }}
                                            {{ form_widget(client_form.isUnderContract, {'attr': {'class': 'form-control', 'value': client_to_update.isUnderContract }}) }}

                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-success mt-4">Confirmer</button>
                                    </div>

                            {{ form_end(client_form)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additionalJs %}

    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <script src="{{ asset('assets/js/plugins/jquery/dist/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.selectpicker').selectpicker();
        })
    </script>#}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#client_form_geographicArea').val({{ client_to_update.geographicArea.id }})
            $('#client_form_category').val({{ client_to_update.category }})

        });
    </script>

{% endblock %}