{% extends 'base.html.twig' %}

{% block title %}
    {% if app.user.id != user.id %}
    Statistiques par utilisateur
    {% else %}
        Mes Statistiques
    {% endif %}
{% endblock %}



{% block body %}
{#{{ dump(single_clients_processes) }}#}
    <div class="header pb-6" style="background-color: #EDA200">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-5 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">CRM</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                {#<li class="breadcrumb-item"><i class="ni fas fa-id-card text-green"></i></li>#}
                                <li class="breadcrumb-item"><i class="fas fa-chart-bar text-green"></i></li>
                                {% if app.user.id == user.id %}
                                <li class="breadcrumb-item">Mon Profil</li>
                                <li class="breadcrumb-item active" aria-current="page">Mes Statistiques</li>
                                {% else %}
                                <li class="breadcrumb-item">Statistiques par utilisateur</li>
                                <li class="breadcrumb-item active" aria-current="page">{{ user.firstName ~ ' ' ~ user.lastName }}</li>
                                {% endif %}
                                {#<li class="breadcrumb-item active" aria-current="page">Default</li>#}
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-7 col-5 text-right">
                        {#<a href="#" class="btn btn-sm btn-neutral">Période</a>#}
                            <div class="form-group" id="normal_period_block">
                                <label for="period" style="color: #fff; font-weight: bold; font-family: 'Times New Roman'">Période : </label>
                                <select class="form-control-sm" name="normal_period" id="normal_period">
                                    <option value="" {% if app.session.get('date_filter_value_stats_per_user') is not defined or app.session.get('date_filter_value_stats_per_user') is null %} selected {% endif %}>Choisir...</option>
                                    <option value="0" {% if app.session.get('date_filter_value_stats_per_user') is defined and app.session.get('date_filter_value_stats_per_user') == "0" %} selected {% endif %}>Aujourd'hui</option>
                                    <option value="1" {% if app.session.get('date_filter_value_stats_per_user') is defined and app.session.get('date_filter_value_stats_per_user') == "1" %} selected {% endif %}>Hier</option>
                                    <option value="7" {% if app.session.get('date_filter_value_stats_per_user') is defined and app.session.get('date_filter_value_stats_per_user') == "7" %} selected {% endif %}>7 derniers jours</option>
                                    <option value="14" {% if app.session.get('date_filter_value_stats_per_user') is defined and app.session.get('date_filter_value_stats_per_user') == "14" %} selected {% endif %}>14 derniers jours</option>
                                    <option value="30" {% if app.session.get('date_filter_value_stats_per_user') is defined and app.session.get('date_filter_value_stats_per_user') == "30" %} selected {% endif %}>30 derniers jours</option>
                                    <option value="60" {% if app.session.get('date_filter_value_stats_per_user') is defined and app.session.get('date_filter_value_stats_per_user') == "60" %} selected {% endif %}>60 derniers jours</option>
                                    <option value="90" {% if app.session.get('date_filter_value_stats_per_user') is defined and app.session.get('date_filter_value_stats_per_user') == "90" %} selected {% endif %}>90 derniers jours</option>
                                    <option value="100" {% if app.session.get('date_filter_value_stats_per_user') is defined and app.session.get('date_filter_value_stats_per_user') == "100" %} selected {% endif %}>Personalisée</option>
                                </select>
                                <a href="{{ path('statistics_per_user_filters_notifications', {'id': user.id}) }}" class="btn btn-sm btn-success">Appliquer les filtres</a>
                                <a href="{{ path('statistics_per_user_filters_initialization', {'id': user.id}) }}" class="btn btn-sm btn-primary">Réinitialiser les filtres</a>
                            </div>

                            <form action="{{ path('statistics_per_user_filters', {'id': user.id}) }}" method="post">
                                <div class="form-group" id="custom_period_block" style="display: none">
                                    <input type="text" name="dateFilterValueStatsPerUser" value="100" hidden>
                                    {#<input type="text" name="user_id" value="{{ user.id }}" hidden>#}
                                    <label for="start_date" style="font-weight: bolder; font-family: Cambria; color: #fff">De: </label>
                                    <input type="date" class="form-control-sm" name="start_date" id="start_date" required>
                                    <label for="start_date" style="font-weight: bolder; font-family: Cambria; color: #fff">Jusqu'à: </label>
                                    <input type="date" class="form-control-sm" name="end_date" id="end_date" required>
                                    <a id="retour_period" class="btn btn-sm btn-neutral" style="margin-left: 10px">Retour</a>
                                    <input class="btn btn-sm btn-success" type="submit" value="Appliquer les filtres">
                                    <a href="{{ path('statistics_per_user_filters_initialization', {'id': user.id}) }}" class="btn btn-sm btn-primary" id="between-date-initialization" style="display: none">Réinitialiser les filtres</a>
                                </div>
                            </form>

                    </div>
                </div>
                <!-- Card stats -->
                {% if app.session.get('date_filter_value_stats_per_user') == "100" %}
                    {% set start_date = app.session.get('date_filter_value_stats_per_user_start')|date('Y-m-d') %}
                    {% set end_date = app.session.get('date_filter_value_stats_per_user_end')|date('Y-m-d') %}
                {% endif%}

                <div class="row">
                    <div class="col-xl-4 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            {% if app.session.get('date_filter_value_stats_per_user') is not null %}
                                {% set filter = app.session.get('date_filter_value_stats_per_user') %}
                                {% set selected_date = "now"|date_modify("-" ~ filter ~ " day")| date('Y-m-d') %}
                            {% endif%}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Contacts traités</h5>
                                        <span class="h2 font-weight-bold mb-0">
                                            {% if app.session.get('date_filter_value_stats_per_user') is not null %}
                                                {% set processed_clients_counter = 0 %}
                                                {% for process in single_clients_processes %}
                                                    {% set break = false %}
                                                    {% for date in process %}
                                                        {% if break == false %}
                                                            {% set process_date = date | date('Y-m-d') %}
                                                            {% if filter == "0" or filter == "1" %}
                                                                {% if process_date == selected_date %}
                                                                    {% set processed_clients_counter = processed_clients_counter + 1 %}
                                                                    {% set break = true %}
                                                                {% endif %}
                                                            {% elseif filter == "100" %}
                                                                {% if process_date >= start_date and process_date <= end_date %}
                                                                    {% set processed_clients_counter = processed_clients_counter + 1 %}
                                                                    {% set break = true %}
                                                                {% endif %}
                                                            {% else %}
                                                                {% if process_date >= selected_date %}
                                                                    {% set processed_clients_counter = processed_clients_counter + 1 %}
                                                                    {% set break = true %}
                                                                {% endif%}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                                {{ processed_clients_counter }}
                                            {% else %}
                                                {{ single_clients_processes_count }}
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-cyan text-white rounded-circle shadow">
                                            <i class="fas fa-user-friends"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            {% if app.session.get('date_filter_value_stats_per_user') is not null %}
                                {% set filter = app.session.get('date_filter_value_stats_per_user') %}
                                {% set selected_date = "now"|date_modify("-" ~ filter ~ " day")| date('Y-m-d') %}
                            {% endif %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Contacts Qualifiés</h5>
                                        <span class="h2 font-weight-bold mb-0">
                                            {#{% if app.session.get('date_filter_value_stats_per_user') is not null %}
                                                {% set qualified_contacts_counter = 0 %}
                                                {% for process in single_clients_processes %}
                                                    {% set break = false %}
                                                        {% for status, date in process|length..0 %}
                                                            {% if status == 1 %}
                                                                {% set process_date = date | date('Y-m-d') %}
                                                                {% if filter == "0" or filter == "1" %}
                                                                    {% if process_date == selected_date %}
                                                                        {% set qualified_contacts_counter = qualified_contacts_counter + 1 %}
                                                                        {% set break = true %}
                                                                    {% endif %}
                                                                {% elseif filter == "100" %}
                                                                    {% if process_date >= start_date and process_date <= end_date %}
                                                                        {% set qualified_contacts_counter = qualified_contacts_counter + 1 %}
                                                                        {% set break = true %}
                                                                    {% endif %}
                                                                {% else %}
                                                                    {% if process_date >= selected_date %}
                                                                        {% set qualified_contacts_counter = qualified_contacts_counter + 1 %}
                                                                        {% set break = true %}
                                                                    {% endif%}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                {% endfor %}
                                                {{ qualified_contacts_counter }}
                                            {% else %}
                                                {{ single_qualified_clients_processes_count }}
                                            {% endif %}#}
                                            {#{% if app.session.get('date_filter_value_stats_per_user') is not null %}
                                                {% set qualified_contacts_counter = 0 %}
                                                {% for process in single_qualified_clients_processes %}
                                                    {% set break = false %}
                                                    {% for date in process %}
                                                        {% if break == false %}
                                                            {% set process_date = date | date('Y-m-d') %}
                                                            {% if filter == "0" or filter == "1" %}
                                                                {% if process_date == selected_date %}
                                                                    {% set qualified_contacts_counter = qualified_contacts_counter + 1 %}
                                                                    {% set break = true %}
                                                                {% endif %}
                                                            {% elseif filter == "100" %}
                                                                {% if process_date >= start_date and process_date <= end_date %}
                                                                    {% set qualified_contacts_counter = qualified_contacts_counter + 1 %}
                                                                    {% set break = true %}
                                                                {% endif %}
                                                            {% else %}
                                                                {% if process_date >= selected_date %}
                                                                    {% set qualified_contacts_counter = qualified_contacts_counter + 1 %}
                                                                    {% set break = true %}
                                                                {% endif%}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                                {{ qualified_contacts_counter }}
                                            {% else %}
                                                {{ single_qualified_clients_processes_count }}
                                            {% endif %}#}
                                            {% if app.session.get('date_filter_value_stats_per_user') is not null %}
                                                {% set qualified_contacts_counter  = 0 %}

                                                {% for client in clients_processes %}
                                                    {% set NQ = 0 %}
                                                    {% set Q = 0 %}
                                                    {% set full_date_timeNQ = '' %}
                                                    {% set full_date_timeQ = '' %}
                                                    {% set breakNQ = false %}

                                                    {% for status, dates_array in client %}
                                                        {% if status == 1 %}
                                                            {% for date in dates_array %}
                                                                {% if breakNQ == false %}
                                                                    {% set process_dateNQ = date | date('Y-m-d') %}
                                                                    {% if filter == "0" or filter == "1" %}
                                                                        {% if process_dateNQ == selected_date %}
                                                                            {% set NQ = NQ + 1 %}
                                                                            {% set breakNQ = true %}
                                                                            {% set full_date_timeNQ = date %}
                                                                        {% endif %}
                                                                    {% elseif filter == "100" %}
                                                                        {% if process_dateNQ >= start_date and process_dateNQ <= end_date %}
                                                                            {% set NQ = NQ + 1 %}
                                                                            {% set breakNQ = true %}
                                                                            {% set full_date_timeNQ = date %}
                                                                        {% endif %}
                                                                    {% else %}
                                                                        {% if process_dateNQ >= selected_date %}
                                                                            {% set NQ = NQ + 1 %}
                                                                            {% set breakNQ = true %}
                                                                            {% set full_date_timeNQ = date %}
                                                                        {% endif%}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %}

                                                        {% endif %}
                                                    {% endfor %}


                                                    {% set breakQ = false %}
                                                    {% for status, dates_array in client %}
                                                        {% if status == 2 %}
                                                            {% for date in dates_array %}
                                                                {% if breakQ == false %}
                                                                    {% set process_dateQ = date | date('Y-m-d') %}
                                                                    {% if filter == "0" or filter == "1" %}
                                                                        {% if process_dateQ == selected_date %}
                                                                            {% set Q = Q + 1 %}
                                                                            {% set breakQ = true %}
                                                                            {% set full_date_timeQ = date %}
                                                                        {% endif %}
                                                                    {% elseif filter == "100" %}
                                                                        {% if process_dateQ >= start_date and process_dateQ <= end_date %}
                                                                            {% set Q = Q + 1 %}
                                                                            {% set breakQ = true %}
                                                                            {% set full_date_timeQ = date %}
                                                                        {% endif %}
                                                                    {% else %}
                                                                        {% if process_dateQ >= selected_date %}
                                                                            {% set Q = Q + 1 %}
                                                                            {% set breakQ = true %}
                                                                            {% set full_date_timeQ = date %}
                                                                        {% endif%}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %}

                                                        {% endif %}
                                                    {% endfor %}

                                                    {% if Q == 1 and NQ == 0 %}
                                                        {% set qualified_contacts_counter  = qualified_contacts_counter  + 1 %}
                                                    {% elseif NQ == 1 and Q == 1 %}

                                                        {% if full_date_timeQ > full_date_timeNQ %}
                                                            {% set qualified_contacts_counter  = qualified_contacts_counter  + 1 %}
                                                        {% endif %}
                                                    {% endif %}

                                                {% endfor %}
                                                {{ qualified_contacts_counter  }}
                                            {% else %}
                                                {{ single_qualified_clients_processes_count }}
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                            <i class="fas fa-list-alt"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Contacts NQ</h5>
                                        <span class="h2 font-weight-bold mb-0">
                                            {#{% if app.session.get('date_filter_value_stats_per_user') is not null %}
                                                {% set not_qualified_contacts_counter = 0 %}
                                                {% for process in single_not_qualified_clients_processes %}
                                                    {% set break = false %}
                                                    {% for date in process %}
                                                        {% if break == false %}
                                                            {% set process_date = date | date('Y-m-d') %}
                                                            {% if filter == "0" or filter == "1" %}
                                                                {% if process_date == selected_date %}
                                                                    {% set not_qualified_contacts_counter = not_qualified_contacts_counter + 1 %}
                                                                    {% set break = true %}
                                                                {% endif %}
                                                            {% elseif filter == "100" %}
                                                                {% if process_date >= start_date and process_date <= end_date %}
                                                                    {% set not_qualified_contacts_counter = not_qualified_contacts_counter + 1 %}
                                                                    {% set break = true %}
                                                                {% endif %}
                                                            {% else %}
                                                                {% if process_date >= selected_date %}
                                                                    {% set not_qualified_contacts_counter = not_qualified_contacts_counter + 1 %}
                                                                    {% set break = true %}
                                                                {% endif%}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                                {{ not_qualified_contacts_counter }}
                                            {% else %}
                                                {{ single_not_qualified_clients_processes_count }}
                                            {% endif %}#}
                                            {% if app.session.get('date_filter_value_stats_per_user') is not null %}
                                                {% set not_qualified_contacts_counter  = 0 %}

                                                {% for client in clients_processes %}
                                                    {% set NQ = 0 %}
                                                    {% set Q = 0 %}
                                                    {% set full_date_timeNQ = '' %}
                                                    {% set full_date_timeQ = '' %}
                                                    {% set breakNQ = false %}

                                                    {% for status, dates_array in client %}
                                                        {% if status == 1 %}
                                                            {% for date in dates_array %}
                                                                {% if breakNQ == false %}
                                                                    {% set process_dateNQ = date | date('Y-m-d') %}
                                                                    {% if filter == "0" or filter == "1" %}
                                                                        {% if process_dateNQ == selected_date %}
                                                                            {% set NQ = NQ + 1 %}
                                                                            {% set breakNQ = true %}
                                                                            {% set full_date_timeNQ = date %}
                                                                        {% endif %}
                                                                    {% elseif filter == "100" %}
                                                                        {% if process_dateNQ >= start_date and process_dateNQ <= end_date %}
                                                                            {% set NQ = NQ + 1 %}
                                                                            {% set breakNQ = true %}
                                                                            {% set full_date_timeNQ = date %}
                                                                        {% endif %}
                                                                    {% else %}
                                                                        {% if process_dateNQ >= selected_date %}
                                                                            {% set NQ = NQ + 1 %}
                                                                            {% set breakNQ = true %}
                                                                            {% set full_date_timeNQ = date %}
                                                                        {% endif%}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %}

                                                        {% endif %}
                                                    {% endfor %}


                                                    {% set breakQ = false %}
                                                    {% for status, dates_array in client %}
                                                        {% if status == 2 %}
                                                            {% for date in dates_array %}
                                                                {% if breakQ == false %}
                                                                    {% set process_dateQ = date | date('Y-m-d') %}
                                                                    {% if filter == "0" or filter == "1" %}
                                                                        {% if process_dateQ == selected_date %}
                                                                            {% set Q = Q + 1 %}
                                                                            {% set breakQ = true %}
                                                                            {% set full_date_timeQ = date %}
                                                                        {% endif %}
                                                                    {% elseif filter == "100" %}
                                                                        {% if process_dateQ >= start_date and process_dateQ <= end_date %}
                                                                            {% set Q = Q + 1 %}
                                                                            {% set breakQ = true %}
                                                                            {% set full_date_timeQ = date %}
                                                                        {% endif %}
                                                                    {% else %}
                                                                        {% if process_dateQ >= selected_date %}
                                                                            {% set Q = Q + 1 %}
                                                                            {% set breakQ = true %}
                                                                            {% set full_date_timeQ = date %}
                                                                        {% endif%}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %}

                                                        {% endif %}
                                                    {% endfor %}

                                                    {% if NQ == 1 and Q == 0 %}
                                                        {% set not_qualified_contacts_counter  = not_qualified_contacts_counter  + 1 %}
                                                    {% elseif NQ == 1 and Q == 1 %}

                                                        {% if full_date_timeNQ > full_date_timeQ %}
                                                            {% set not_qualified_contacts_counter  = not_qualified_contacts_counter  + 1 %}
                                                        {% endif %}
                                                    {% endif %}

                                                {% endfor %}
                                                {{ not_qualified_contacts_counter  }}
                                            {% else %}
                                                {{ single_not_qualified_clients_processes_count }}
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                            <i class="fas fa-list-alt"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-xl-4 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">RDV Pris</h5>
                                        <span class="h2 font-weight-bold mb-0">
                                            {% if app.session.get('date_filter_value_stats_per_user') is not null %}
                                                {% set fixed_appointments_counter = 0 %}
                                                {% for appointment in fixed_appointments %}
                                                    {% set appointment_date = appointment.createdAt | date('Y-m-d') %}
                                                    {% if filter == "0" or filter == "1" %}
                                                        {% if appointment_date == selected_date %}
                                                            {% set fixed_appointments_counter = fixed_appointments_counter + 1 %}
                                                        {% endif %}
                                                    {% elseif filter == "100" %}
                                                        {% if appointment_date >= start_date and appointment_date <= end_date %}
                                                            {% set fixed_appointments_counter = fixed_appointments_counter + 1 %}
                                                        {% endif %}
                                                    {% else %}
                                                        {% if appointment_date >= selected_date %}
                                                            {% set fixed_appointments_counter = fixed_appointments_counter + 1 %}
                                                        {% endif%}
                                                    {% endif %}
                                                {% endfor %}
                                                {{ fixed_appointments_counter }}
                                            {% else %}
                                                {{ fixed_appointments_count }}
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-yellow text-white rounded-circle shadow">
                                            <i class="fas fa-list-alt"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">RDV assignés</h5>
                                        <span class="h2 font-weight-bold mb-0">
                                            {% if app.session.get('date_filter_value_stats_per_user') is not null %}
                                                {% set my_assigned_appointments_counter = 0 %}
                                                {% for appointment in my_assigned_appointments %}
                                                    {% set appointment_date = appointment.createdAt | date('Y-m-d') %}
                                                    {% if filter == "0" or filter == "1" %}
                                                        {% if appointment_date == selected_date %}
                                                            {% set my_assigned_appointments_counter = my_assigned_appointments_counter + 1 %}
                                                        {% endif %}
                                                    {% elseif filter == "100" %}
                                                        {% if appointment_date >= start_date and appointment_date <= end_date %}
                                                            {% set my_assigned_appointments_counter = my_assigned_appointments_counter + 1 %}
                                                        {% endif %}
                                                    {% else %}
                                                        {% if appointment_date >= selected_date %}
                                                            {% set my_assigned_appointments_counter = my_assigned_appointments_counter + 1 %}
                                                        {% endif%}
                                                    {% endif %}
                                                {% endfor %}
                                                {{ my_assigned_appointments_counter }}
                                            {% else %}
                                                {{ my_assigned_appointments_count }}
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
                                            <i class="fas fa-list-alt"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">RDV effectués</h5>
                                        <span class="h2 font-weight-bold mb-0">
                                            {% if app.session.get('date_filter_value_stats_per_user') is not null %}
                                                {% set done_appointments_counter = 0 %}
                                                {% for appointment in done_appointments %}
                                                    {% set appointment_date = appointment.doneAt | date('Y-m-d') %}
                                                    {% if filter == "0" or filter == "1" %}
                                                        {% if appointment_date == selected_date %}
                                                            {% set done_appointments_counter = done_appointments_counter + 1 %}
                                                        {% endif %}
                                                    {% elseif filter == "100" %}
                                                        {% if appointment_date >= start_date and appointment_date <= end_date %}
                                                            {% set done_appointments_counter = done_appointments_counter + 1 %}
                                                        {% endif %}
                                                    {% else %}
                                                        {% if appointment_date >= selected_date %}
                                                            {% set done_appointments_counter = done_appointments_counter + 1 %}
                                                        {% endif%}
                                                    {% endif %}
                                                {% endfor %}
                                                {{ done_appointments_counter }}
                                            {% else %}
                                                {{ done_appointments_count }}
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                            <i class="fas fa-list-alt"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-4 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            {% if app.session.get('date_filter_value_stats_per_user') == "100" %}
                                {% set start_date = app.session.get('date_filter_value_stats_per_user_start')|date('Y-m-d') %}
                                {% set end_date = app.session.get('date_filter_value_stats_per_user_end')|date('Y-m-d') %}
                            {% endif%}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">RDV annulés</h5>
                                        <span class="h2 font-weight-bold mb-0">
                                            {% if app.session.get('date_filter_value_stats_per_user') is not null %}
                                                {% set deleted_appointments_counter = 0 %}
                                                {% for appointment in deleted_appointments %}
                                                    {% set appointment_delete_date = appointment.deletionDate | date('Y-m-d') %}
                                                    {% if filter == "0" or filter == "1" %}
                                                        {% if appointment_delete_date == selected_date %}
                                                            {% set deleted_appointments_counter = deleted_appointments_counter + 1 %}
                                                        {% endif %}
                                                    {% elseif filter == "100" %}
                                                        {% if appointment_delete_date >= start_date and appointment_delete_date <= end_date %}
                                                            {% set deleted_appointments_counter = deleted_appointments_counter + 1 %}
                                                        {% endif %}
                                                    {% else %}
                                                        {% if appointment_delete_date >= selected_date %}
                                                            {% set deleted_appointments_counter = deleted_appointments_counter + 1 %}
                                                        {% endif%}
                                                    {% endif %}
                                                {% endfor %}
                                                {{ deleted_appointments_counter }}
                                            {% else %}
                                                {{ deleted_appointments_count }}
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                            <i class="fas fa-list-alt"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Performance Contacts Traités</h5>
                                        <span class="h2 font-weight-bold mb-0">
                                            {% if app.session.get('date_filter_value_stats_per_user') is not null %}
                                                {% if  all_contacts_count != 0 %}
                                                    {{ ((processed_clients_counter / all_contacts_count) * 100)|number_format(2) }}%
                                                {% else %}
                                                    0.00%
                                                {% endif %}
                                            {% else %}
                                                {{ contacts_performance }}%
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                            <i class="ni ni-chart-bar-32"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Performance Contacts Qualifiés</h5>
                                        <span class="h2 font-weight-bold mb-0">
                                            {% if app.session.get('date_filter_value_stats_per_user') is not null %}
                                                {% if  processed_clients_counter != 0 %}
                                                    {{ ((qualified_contacts_counter / processed_clients_counter) * 100)|number_format(2) }}%
                                                {% else %}
                                                    0.00%
                                                {% endif %}
                                            {% else %}
                                                {{ qualified_contacts_performance }}%
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                            <i class="ni ni-chart-bar-32"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-4 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Performance Contacts NQ</h5>
                                        <span class="h2 font-weight-bold mb-0">
                                            {% if app.session.get('date_filter_value_stats_per_user') is not null %}
                                                {% if  processed_clients_counter != 0 %}
                                                    {{ ((not_qualified_contacts_counter / processed_clients_counter) * 100)|number_format(2) }}%
                                                {% else %}
                                                    0.00%
                                                {% endif %}
                                            {% else %}
                                                {{ not_qualified_contacts_performance }}%
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                            <i class="ni ni-chart-bar-32"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Performance RDV Effectués</h5>
                                        <span class="h2 font-weight-bold mb-0">
                                            {% if app.session.get('date_filter_value_stats_per_user') is not null %}
                                                {% if  my_assigned_appointments_counter != 0 %}
                                                    {{ ((done_appointments_counter / my_assigned_appointments_counter) * 100)|number_format(2) }}%
                                                {% else %}
                                                    0.00%
                                                {% endif %}
                                            {% else %}
                                                {{ done_appointments_performance }}%
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                            <i class="ni ni-chart-bar-32"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Performance RDV Annulés</h5>
                                        <span class="h2 font-weight-bold mb-0">
                                            {% if app.session.get('date_filter_value_stats_per_user') is not null %}
                                                {% if  my_assigned_appointments_counter != 0 %}
                                                    {{ ((deleted_appointments_counter / my_assigned_appointments_counter) * 100)|number_format(2) }}%
                                                {% else %}
                                                    0.00%
                                                {% endif %}
                                            {% else %}
                                                {{ deleted_appointments_performance }}%
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                            <i class="ni ni-chart-bar-32"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->

    {#<div class="container-fluid mt--6">
        <div class="row">
            <div class="col-xl-12">
                <div class="card bg-gradient-white">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-light text-uppercase ls-1 mb-1">Graphique</h6>
                                #}{#<h5 class="h3 text-white mb-0">Evolution</h5>#}{#
                            </div>
                            #}{#<div class="col">
                                <ul class="nav nav-pills justify-content-end">
                                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-prefix="$" data-suffix="k">
                                        <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                                            <span class="d-none d-md-block">Mois</span>
                                            <span class="d-md-none">M</span>
                                        </a>
                                    </li>
                                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="$" data-suffix="k">
                                        <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                                            <span class="d-none d-md-block">Semaine</span>
                                            <span class="d-md-none">W</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>#}{#
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Chart -->
                        <div class="chart">
                            <!-- Chart wrapper -->
                            <canvas#}{#id="chart-sales-dark" class="chart-canvas"#}{# id="multi-bar-chart" width="400" height="90"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            #}{#<div class="col-xl-4">
                <div class="card">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                                <h5 class="h3 mb-0">Total RDVs</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Chart -->
                        <div class="chart">
                            <canvas id="chart-bars" class="chart-canvas"></canvas>
                        </div>
                    </div>
                </div>
            </div>#}{#
            #}{#<div class="col-xl-6">
                <div class="card bg-default">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-light text-uppercase ls-1 mb-1">Aperçu</h6>
                                <h5 class="h3 text-white mb-0">Evaluation des RDV</h5>
                            </div>
                            <div class="col">
                                <ul class="nav nav-pills justify-content-end">
                                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-prefix="$" data-suffix="k">
                                        <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                                            <span class="d-none d-md-block">Mois</span>
                                            <span class="d-md-none">M</span>
                                        </a>
                                    </li>
                                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="$" data-suffix="k">
                                        <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                                            <span class="d-none d-md-block">Semaine</span>
                                            <span class="d-md-none">W</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Chart -->
                        <div class="chart">
                            <!-- Chart wrapper -->
                            <canvas id="chart-sales-dark" class="chart-canvas"></canvas>
                        </div>
                    </div>
                </div>
            </div>#}{#
        </div>
        #}{#<div class="row">
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Page visits</h3>
                            </div>
                            <div class="col text-right">
                                <a href="#!" class="btn btn-sm btn-primary">See all</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Page name</th>
                                <th scope="col">Visitors</th>
                                <th scope="col">Unique users</th>
                                <th scope="col">Bounce rate</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">
                                    /argon/
                                </th>
                                <td>
                                    4,569
                                </td>
                                <td>
                                    340
                                </td>
                                <td>
                                    <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    /argon/index.html
                                </th>
                                <td>
                                    3,985
                                </td>
                                <td>
                                    319
                                </td>
                                <td>
                                    <i class="fas fa-arrow-down text-warning mr-3"></i> 46,53%
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    /argon/charts.html
                                </th>
                                <td>
                                    3,513
                                </td>
                                <td>
                                    294
                                </td>
                                <td>
                                    <i class="fas fa-arrow-down text-warning mr-3"></i> 36,49%
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    /argon/tables.html
                                </th>
                                <td>
                                    2,050
                                </td>
                                <td>
                                    147
                                </td>
                                <td>
                                    <i class="fas fa-arrow-up text-success mr-3"></i> 50,87%
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    /argon/profile.html
                                </th>
                                <td>
                                    1,795
                                </td>
                                <td>
                                    190
                                </td>
                                <td>
                                    <i class="fas fa-arrow-down text-danger mr-3"></i> 46,53%
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Social traffic</h3>
                            </div>
                            <div class="col text-right">
                                <a href="#!" class="btn btn-sm btn-primary">See all</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Referral</th>
                                <th scope="col">Visitors</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">
                                    Facebook
                                </th>
                                <td>
                                    1,480
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">60%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Facebook
                                </th>
                                <td>
                                    5,480
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">70%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Google
                                </th>
                                <td>
                                    4,807
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">80%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Instagram
                                </th>
                                <td>
                                    3,678
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">75%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    twitter
                                </th>
                                <td>
                                    2,645
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">30%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>#}{#
        <!-- Footer -->
        #}{#<footer class="footer pt-0">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-6">
                    <div class="copyright text-center  text-lg-left  text-muted">
                        &copy; 2020 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                        <li class="nav-item">
                            <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>#}{#
    </div>#}




{% endblock %}

{% block additionalJs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      window.onload = () => {

          let normalPeriod =  $("#normal_period");
          let normalPeriodBlock =  $("#normal_period_block");
          let customPeriod = $("#custom_period_block");
          normalPeriod.on('change', function() {
              if($(this).val() === "100") {
                  $(this).parent().fadeOut(50)
                  customPeriod.fadeIn(1000)
              }
          })
          $('#retour_period').click(function () {
              $(this).parent().fadeOut(50)
              normalPeriodBlock.fadeIn(1000);
              normalPeriod.val({{ app.session.get('date_filter_value_stats_per_user') }});
              if(normalPeriod.val() === "100") {
                  normalPeriod.val("");
              }
          })
          //date
          $('#normal_period').hover(function () {
              $(this).css('cursor','pointer');
          })
          $('#normal_period').change(function () {
              console.log(this.value == "14")
              if(this.value && this.value != "100") {
                  $.ajax({
                      url:"{{ path('statistics_per_user_filters', {'id': user.id}) }}",
                      method: "POST",
                      dataType: 'json',
                      data : { dateFilterValueStatsPerUser: this.value,
                      userId: {{ user.id }}
                      },
                      success: (e) => {
                          /*location.reload();*/
                          /*console.log(e);*/
                      },
                      error : (f) => {
                          console.log(f);
                      }
                  })
              }

          })
          if(normalPeriod.val() === "100") {
              normalPeriodBlock.fadeOut(0.05)
              customPeriod.fadeIn(0.1)
              $("#start_date").val("{{ app.session.get('date_filter_value_stats_per_user_start')|date('Y-m-d') }}")
              $("#end_date").val("{{ app.session.get('date_filter_value_stats_per_user_end')|date('Y-m-d') }}")
              $("#between-date-initialization").fadeIn(0.1)
          }
      }

    </script>
{% endblock %}
