{% extends 'base.html.twig' %}

{% block title %}
    Liste des catégories clients
{% endblock %}

{% block body %}
    <div class="header pb-6" style="background-color: #EDA200">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">CRM</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><i class="fas fa-chalkboard-teacher text-blue"></i></li>
                                <li class="breadcrumb-item">Paramètres Avancés</li>
                                <li class="breadcrumb-item active" aria-current="page">Liste des catégories clients</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                        <div class="card-header border-0">
                            <div class="row">
                                <div class="col-md-8">
                                    <h3 class="mb-0">Total: {{ categories|length }} Catégorie(s)</h3>
                                </div>
                                <div class="col-md-4 text-right">
                                    <button data-toggle="modal" data-target="#createModal" class="btn btn-sm btn-success">Nouvelle catégorie</button>
                                </div>
                            </div>
                        </div>
                        <!-- Light table -->
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Désignation</th>
                                    <th scope="col">Date de Création</th>
                                    <th scope="col">Date de Modification</th>
                                    <th scope="col">Actions</th>
                                </tr>

                                </thead>
                                <tbody class="list">

                                {% for category in categories %}
                                    <tr>
                                        <td class="budget">
                                            {{ category.designation }}
                                        </td>
                                        <td class="budget">
                                            {{ category.createdAt | format_datetime(locale='fr') }}
                                        </td>
                                        <td class="budget">
                                            {{ category.updatedAt | format_datetime(locale='fr') }}
                                        </td>
                                        <td >
                                            <a data-toggle="modal" data-target="#editModal{{ category.id }}"><i class="fas fa-edit text-yellow"></i></a>&nbsp;&nbsp;
                                            <a data-toggle="modal" data-target="#deleteModal{{ category.id }}"><i class="fas fa-trash-alt text-red"></i></a>
                                        </td>
                                    </tr>

                                    <div class="modal fade" id="deleteModal{{ category.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header" style="margin: 0 auto">
                                                    <h5 class="modal-title" id="exampleModalLabel">Avertissement</h5>
                                                </div>
                                                <div class="modal-body" style="margin: 0 auto">
                                                    Êtes-vous sûr de vouloir supprimer "{{ category.designation }}" ?
                                                </div>
                                                <div class="modal-footer" style="margin: 0 auto">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                                                    <a href="{{ path('delete_category', {'id': category.id}) }}" class="btn btn-success">Confirmer</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="editModal{{ category.id }}" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
                                        <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header" style="margin: 0 auto">
                                                    <h5 class="modal-title" id="exampleModalLabel">Edition catégorie</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="edit-geo-zone-event-form" action="{{ path('edit_category', {'id': category.id }) }}" method="post">
                                                        <div>
                                                            <div class="form-group">
                                                                <label class="form-control-label" for="input-username">Désignation</label>
                                                                <input type="text" id="designation" class="form-control" name="designation" value="{{ category.designation }}">
                                                            </div>
                                                        </div>

                                                        <hr class="my-3">
                                                        <div class="text-center">
                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                                                            <button type="submit" class="btn btn-success">Sauvegarder</button>
                                                        </div>

                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>

                    <!-- Card footer -->
                    {{ knp_pagination_render(categories) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModal" aria-hidden="true">
        <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header" style="margin: 0 auto">
                    <h5 class="modal-title" id="exampleModalLabel">Nouvelle catégorie</h5>
                </div>
                <div class="modal-body">
                    <form id="edit-geo-zone-event-form" action="{{ path('new_category') }}" method="post">
                        <div>
                            <div class="form-group">
                                <label class="form-control-label" for="input-username">Désignation</label>
                                <input type="text" id="new_designation" class="form-control" name="new_designation">
                            </div>
                        </div>

                        <hr class="my-3">
                        <div class="text-center">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-success">Sauvegarder</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block additionalJs %}
    <script>
       /* $(document).ready(function() {
            $(".clickable-row").hover(function() {
                $(this).css('cursor', 'pointer');
            });

            $(".clickable-row").dblclick(function() {
                window.location = $(this).data("href");
            });
        })*/
       $('#pagination').hover(function () {
           $(this).css('cursor','pointer');
       })

       $('#pagination').change(function () {

           $.ajax({
               url:"{{ path('teleprospecting_pagination') }}",
               method: "POST",
               dataType: 'json',
               data : { paginationValue: this.value },
               success: (e) => {
                   location.reload();
               },
               error : (f) => {
                   console.log(f);
               }
           })

       })
    </script>
{% endblock %}
