{% extends 'base.html.twig' %}

{% block title %}
  Mon Profil
{% endblock %}

{% block body %}

  <!-- Header -->
  <!-- Header -->
  <div class="header pb-6 d-flex align-items-center" style="min-height: 250px; background-image: url({{ asset('assets/img/brand/Novuus-profile-page.jpg') }}); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-neutral opacity-8"></span>
    <!-- Header container -->
    {#<div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <h1 class="display-2 text-white">Hello Oussema</h1>
          <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
          <a href="#!" class="btn btn-neutral">Edit profile</a>
        </div>
      </div>
    </div>#}
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-xl-4 order-xl-2">
        <div class="card card-profile">
          <img src="{{ asset('assets/img/brand/Novuus-profile-page.jpg') }}" alt="Image placeholder" class="card-img-top" style="height: 208px">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="#">
                  <img src="{% if app.user.profilePicture|default %}{{ asset('profile_pictures/') ~ app.user.profilePicture }}{% else %}{{ asset('assets/img/theme/male.png') }}{% endif %}" class="rounded-circle" style="height: 130px">
                </a>
              </div>
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">

          </div>
          <div class="card-body">
            <div class="text-center">
              <h5 class="h3">
                {{ app.user.firstName ~ ' ' ~ app.user.lastName }}
              </h5>
              <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i>
                {% if app.user.roles[0] == "ROLE_TELEPRO" %}
                  Téléprospecteur
                {% elseif app.user.roles[0] == "ROLE_COMMERCIAL" %}
                  Agent Commercial
                {% elseif app.user.roles[0] == "ROLE_ADMIN" %}
                  Admin
                {% elseif app.user.roles[0] == "ROLE_SUPERADMIN" %}
                  Super Admin
                {% endif %}
              </div>
              <button id="upload-button" class="btn btn-sm btn-default">Charger Photo de Profil</button>
            </div>
            <div id="upload-form-block" style="display: none">
              <form id="profilePictureForm" action="{{ path('my_profile_pic_upload', {'id': app.user.id }) }}" method="post" enctype="multipart/form-data">
                <div class="d-flex justify-content-between">
                  <input class="form-control-sm" type="file" id="profilePicture" name="profilePicture" lang="en" style="display: none" required>
                  <button type="submit" class="btn btn-sm btn-success">Confirmer</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
      <div class="col-xl-8 order-xl-1">
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Mon Espace Personnel </h3>
              </div>
              <div class="col-4 text-right">
                <a id="edit-informations-button" class="btn btn-sm btn-info text-white">Editer</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form  action="{{ path('edit_my_profile', {'id': app.user.id}) }}" method="post">
              <h6 class="heading-small text-muted mb-4">Mes Informations Personnelles</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username">Prénom</label>
                      <input type="text" id="firstName" name="firstName" class="form-control" placeholder="Prénom" value="{{ app.user.firstName }}" disabled>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Nom</label>
                      <input type="text" id="lastName" name="lastName" class="form-control" placeholder="jesse@example.com" value="{{ app.user.lastName }}" disabled>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-first-name">Addresse email</label>
                      <input type="email" id="email" name="email" class="form-control" value="{{ app.user.email }}" disabled>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-last-name">Rôle</label>
                      <input type="text" id="role" name="role" class="form-control" value="{{ app.user.roles[0] }}" disabled>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-right">
                <a id="retour-informations-button" class="btn btn-sm btn-neutral" style="display: none">Retour</a>
                <button id="save-informations-button" type="submit" class="btn btn-sm btn-success" style="display: none">Sauvegarder</button>
              </div>
            </form>


          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block additionalJs %}
  <script>
    $(document).ready(function() {
      $("#edit-informations-button").on("click", function () {
        $("#firstName").prop('disabled', false)
        $("#lastName").prop('disabled', false)
        $(this).hide()
        $("#retour-informations-button").show()
        $("#save-informations-button").show()
      })

      $("#retour-informations-button").on("click", function () {
        $("#firstName").prop('disabled', true)
        $("#lastName").prop('disabled', true)
        $(this).hide()
        $("#save-informations-button").hide()
        $("#edit-informations-button").show()
      })
      $("#upload-button").on("click", function () {
        $("#profilePicture").trigger('click');
      })

      $("#profilePicture").on("change", function () {
        $("#profilePictureForm").submit()
      })

    })
  </script>
{% endblock %}



























