{% extends 'base.html.twig' %}
{% block title %}
{%  if app.user.id != commercial_user.id %}
    Agenda
{% else %}
    Mon Agenda
{% endif %}
{% endblock %}
{% block head %}

    <style>
        #calendar {
            width: 98%;
            margin: auto;
        }
    </style>

{% endblock %}


{% block body %}
    {#{{ dump(data['data']) }}#}
    {#<div id="calendar">
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>#}

    <div class="header pb-6" style="background-color: #EDA200">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-8 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">CRM</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                {%  if app.user.id == commercial_user.id %}
                                    <li class="breadcrumb-item"><i class="ni fas fa-id-card text-green"></i></li>
                                    <li class="breadcrumb-item">Mon Profil</li>
                                    <li class="breadcrumb-item active" aria-current="page">Mon Agenda</li>
                                {% else %}
                                    <li class="breadcrumb-item"><i class="fas fa-calendar-alt text-cyan"></i></li>
                                    <li class="breadcrumb-item">Agendas</li>
                                    <li class="breadcrumb-item"><a href="{{ path('appointment') }}">Agendas des Commerciaux</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">{{ commercial_user.firstName ~ ' ' ~ commercial_user.lastName }}</li>
                                {% endif %}
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-4 col-5 text-right">
                        <button id="add-geo" type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#add-geo-modal-form">Ajout Zones Géographiques</button>
                        <button id="test" type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#modal-form">Nouvelle Entrée</button>
                        {#<a href="" class="btn btn-sm btn-success">Fixer un RDV à {{ commercial_user.firstName ~ ' ' ~ commercial_user.lastName }}</a>#}
                        {#<button id="test" type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#modal-form">Fixer un RDV à {{ commercial_user.firstName ~ ' ' ~ commercial_user.lastName }}</button>#}
                        <button id="test2" type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#modal-show-form" style="display: none">show</button>
                        <button id="geozone-info" type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#geozone-info-modal" style="display: none">geo zone</button>
                        {#<a href="{{ path('new_client') }}" class="btn btn-sm btn-success">Nouveau prospect</a>#}
                        {#<a href="#" class="btn btn-sm btn-neutral">Filters</a>#}
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <div class="row">
                            <div class="col-md-4">
                                {#<h3 class="mb-0">RDV</h3>#}
                            </div>
                            <div class="col-md-8">
                                {% for message in app.flashes('appointment_busy_commercial_warning') %}
                                    <div style="color: orangered">
                                        <small>
                                            {{ message }}
                                        </small>
                                    </div>
                                {% endfor %}
                                {% for message in app.flashes('appointment_duration_warning') %}
                                    <div style="color: red">
                                        <small>
                                            {{ message }}
                                        </small>
                                    </div>
                                {% endfor %}
                                {% for message in app.flashes('appointment_confirmation') %}
                                    <div style="color: green">
                                        <small>
                                            {{ message }}
                                        </small>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Table -->
                    {# <div class="row justify-content-center">
                            <div class="col-lg-6 col-md-8">
                            </div>
                        </div>#}



                    <div id="calendar">
                        <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Light table -->
                    {#<div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                            </tr>
                            </thead>
                            <tbody class="list">
                                <tr>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>#}
                    <!-- Card footer -->
                    <div class="card-footer py-4">
                        <nav>
                            <label for="">Légende:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <i class="fas fa-circle fa-xs" style="color: #6699ff"></i><span class="status"> RDV </span>|
                            <i class="fas fa-circle fa-xs" style="color: #ff0000"></i><span class="status"> Réunion </span>|
                            <i class="fas fa-circle fa-xs" style="color: #ace600"></i><span class="status"> Congès </span>|
                            <i class="fas fa-circle fa-xs" style="color: #ffcc66"></i><span class="status"> Formation </span>|
                            <i class="fas fa-circle fa-xs" style="color: #e6e600"></i><span class="status"> Séance Patient </span>|
                            <i class="fas fa-circle fa-xs" style="color: #888844"></i><span class="status"> Atelier Phoning </span>|
                            <i class="fas fa-circle fa-xs" style="color: #008000"></i><span class="status"> Zone Géographique </span>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>


    {#<button type="button" class="btn btn-block btn-default" data-toggle="modal" data-target="#modal-form">Form</button>#}
    <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
        <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="card bg-secondary border-0 mb-0">
                        <div class="card-body px-lg-5 py-lg-5">
                            {#<div class="text-muted mb-4">
                                    <small>Veuillez sélectionner la date et l'heure du RDV:</small>
                                </div>#}
                            <div>
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Utilisateur</label>
                                    <input type="text" id="input-username" class="form-control" value="{{ commercial_user.firstName ~ ' ' ~ commercial_user.lastName }}" disabled>
                                </div>
                            </div>

                            {{ form_start(appointment_form) }}
                            <div>
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Type</label>
                                    <select class="form-control" name="event_type" required>
                                        <option value="" selected>Choisir...</option>
                                        <option value="1">Réunion</option>
                                        <option value="2">Congès</option>
                                        <option value="3">Formation</option>
                                        <option value="4">RDV</option>
                                        <option value="5">Séance Patient</option>
                                        <option value="6">Atelier Phoning</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="example-datetime-local-input" class="form-control-label">Date et heure de Début</label>
                                {{ form_widget(appointment_form.start) }}
                            </div>

                            <div class="form-group">
                                <label for="example-datetime-local-input" class="form-control-label">Date et heure de Fin</label>
                                {{ form_widget(appointment_form.end) }}
                            </div>
                            <hr class="my-3">

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary mt-4">Vérifier la disponibilité</button>
                            </div>
                            {{ form_end(appointment_form)}}

                        </div>
                    </div>




                </div>

            </div>
        </div>
    </div>




    <div class="modal fade" id="modal-show-form" tabindex="-1" role="dialog" aria-labelledby="modal-show-form" aria-hidden="true">
        <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">

                {#<div class="modal-header text-center">
                    <h6 class="modal-title" id="modal-title-default">Détails RDV</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>#}

                <div class="modal-body">
                    <form id="edit-event-form" action="" method="post">

                    <div id="client_show-block">
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Client</label>
                            <input type="text" id="client-show" class="form-control" value="" disabled>
                        </div>
                    </div>

                    <div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Date et heure de Début</label>
                            <div id="edit_form_start"><input type="date" id="edit_form_start_date" name="edit_form[start][date]" required="required">
                                <div id="edit_form_start_time">
                                    <select id="edit_form_start_time_hour" name="edit_form[start][time][hour]">
                                        <option value="0">00</option><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option>
                                    </select>:
                                    <select id="edit_form_start_time_minute" name="edit_form[start][time][minute]"><option value="0">00</option><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option><option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option><option value="50">50</option><option value="51">51</option><option value="52">52</option><option value="53">53</option><option value="54">54</option><option value="55">55</option><option value="56">56</option><option value="57">57</option><option value="58">58</option><option value="59">59</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Date et heure de Fin</label>
                            <div id="edit_form_end"><input type="date" id="edit_form_end_date" name="edit_form[end][date]" required="required">
                                <div id="edit_form_end_time">
                                    <select id="edit_form_end_time_hour" name="edit_form[end][time][hour]">
                                        <option value="0">00</option><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option>
                                    </select>:
                                    <select id="edit_form_end_time_minute" name="edit_form[end][time][minute]"><option value="0">00</option><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option><option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option><option value="50">50</option><option value="51">51</option><option value="52">52</option><option value="53">53</option><option value="54">54</option><option value="55">55</option><option value="56">56</option><option value="57">57</option><option value="58">58</option><option value="59">59</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="form-group" id="notes_block">
                            <label ID="notes_label" class="form-control-label" for="input-username">Observations avant RDV</label>
                            <textarea id="notes-show" class="form-control" name="notes" id="notes" cols="30" rows="6" placeholder="..." resize="none"></textarea>
                        </div>
                    </div>



                    {# <div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Description</label>
                            <input type="text" id="description-show" class="form-control" value="{{ commercial_user.firstName ~ ' ' ~ commercial_user.lastName }}" disabled>
                        </div>
                    </div>#}

                    <hr class="my-3">

                    <div class="text-center">
                        <button type="submit" class="btn btn-sm btn-info">Editer</button>
                        <a id="delete-event" class="btn btn-sm btn-warning" href="">Supprimer</a>
                        {#<button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Retour</button>#}

                    </div>
                    </form>
                </div>



            </div>
        </div>
    </div>


    <div class="modal fade" id="add-geo-modal-form" tabindex="-1" role="dialog" aria-labelledby="add-geo-modal-form" aria-hidden="true">
        <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="card bg-secondary border-0 mb-0">
                        <div class="card-body px-lg-5 py-lg-5">
                            {#<div class="text-muted mb-4">
                                    <small>Veuillez sélectionner la date et l'heure du RDV:</small>
                                </div>#}
                            <form action="{{ path('add_geo_zone_event', {'id': commercial_user.id}) }}" method="post">

                                <div>
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Utilisateur</label>
                                        <input type="text" id="input-username" class="form-control" value="{{ commercial_user.firstName ~ ' ' ~ commercial_user.lastName }}" disabled>
                                        <input type="text" id="commercial_id" value="{{ commercial_user.id}}" name="commercial_id" class="form-control" hidden>
                                        <input type="text" id="departments" name="departments" class="form-control" hidden>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" for="department">Départements</label><br>
                                    <select id="department" name="department" required multiple>
                                        {% for department in departments %}
                                            <option value="{{ department.id }}">{{ department.designation }}</option>
                                        {% endfor %}
                                    </select>
                                </div>


                            <div class="form-group">
                                <label for="example-datetime-local-input" class="form-control-label">Date de Début</label>
                                <input type="date" id="start-geo" class="form-control" name="start" required>
                            </div>

                            <div class="form-group">
                                <label for="example-datetime-local-input" class="form-control-label">Date de Fin</label>
                                <input type="date" id="end-geo" class="form-control" name="end" required>
                            </div>
                            <hr class="my-3">

                            <div class="text-center">
                                <button type="submit" class="btn btn-success mt-4">Confirmer</button>
                            </div>
                            </form>

                        </div>
                    </div>




                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="geozone-info-modal" tabindex="-1" role="dialog" aria-labelledby="geozone-info-modal" aria-hidden="true">
        <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">

                {#<div class="modal-header text-center">
                    <h6 class="modal-title" id="modal-title-default">Détails RDV</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>#}

                <div class="modal-body">

                    <form id="edit-geo-zone-event-form" action="" method="post">
                    <div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Utilisateur</label>
                            <input type="text" id="input-username" class="form-control" value="{{ commercial_user.firstName ~ ' ' ~ commercial_user.lastName }}" disabled>
                            <input type="text" id="commercial_id" value="{{ commercial_user.id}}" name="commercial_id" class="form-control" hidden>
                            {#<input type="text" id="departmentstest" name="departmentstest" class="form-control" hidden>#}
                        </div>
                    </div>

                    {#<div class="form-group">
                        #}{#<label class="form-control-label" for="department">Départements</label><br>
                        <select id="departmenttest" name="departmenttest" multiple>
                            {% for department in departments %}
                                <option value="{{ department.id }}">{{ department.designation }}</option>
                            {% endfor %}
                        </select>#}{#
                        <div class="form-group">
                            <label ID="notes_label" class="form-control-label" for="input-username">Départements</label>
                            <textarea id="departments-geozone" class="form-control" name="departments-geozone" cols="30" rows="6" placeholder="..." resize="none" disabled></textarea>
                        </div>
                    </div>#}

                    <div class="form-group">
                        <label class="form-control-label" for="edit-department">Départements</label><br>
                        <select id="edit-department" name="edit-department" required multiple>
                            {% for department in departments %}
                                <option value="{{ department.id }}">{{ department.designation }}</option>
                            {% endfor %}
                        </select>
                    </div>


                        <input type="text" id="edit-departments-values" name="edit-departments-values" class="form-control" hidden>
                    {#<div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Date de Début</label>
                            <input type="text" id="start-geozone" class="form-control" value="" disabled>
                        </div>
                    </div>

                    <div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Date de Fin</label>
                            <input type="text" id="end-geozone" class="form-control" value="" disabled>
                        </div>
                    </div>#}

                        <div>
                            <div class="form-group">
                                <label class="form-control-label" for="input-username">Date de Début</label>
                                <div id="edit_geo_zone_form_start"><input type="date" id="edit_geo_zone_form_start_date" name="edit_geo_zone_form[start][date]" required="required" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="form-group">
                                <label class="form-control-label" for="input-username">Date de Fin</label>
                                <div id="edit_geo_zone_form_end"><input type="date" id="edit_geo_zone_form_end_date" name="edit_geo_zone_form[end][date]" required="required" class="form-control">
                                </div>
                            </div>
                        </div>

                    {#<div>
                        <div class="form-group">
                            <label ID="notes_label" class="form-control-label" for="input-username">Observations Geo</label>
                            <textarea id="notes-geozone" class="form-control" name="notes-geozone" id="notes" cols="30" rows="6" placeholder="..." resize="none" disabled></textarea>
                        </div>
                    </div>#}



                    {# <div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Description</label>
                            <input type="text" id="description-show" class="form-control" value="{{ commercial_user.firstName ~ ' ' ~ commercial_user.lastName }}" disabled>
                        </div>
                    </div>#}

                    <hr class="my-3">

                    <div class="text-center">
                        <button type="submit" class="btn btn-sm btn-info">Editer</button>
                        <a id="delete-geozone" class="btn btn-sm btn-warning" href="">Supprimer</a>
                    </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block additionalJs %}

    <script>
        window.onload = () => {
            let calendarElement = document.querySelector("#calendar");
            let calendar = new FullCalendar.Calendar(calendarElement, {
                initialView: "dayGridMonth",
                locale: "fr",
                timeZone: "Europe/Paris",
               /* views: {
                    listWeek: { buttonText: 'test' },
                },*/
                headerToolbar: {
                    start: "prev,next today",
                    center: "title",
                    end: "dayGridMonth,timeGridWeek,timeGridDay,listWeek"
                },
                /*nextDayThreshold: '08:00:00',*/
                events: {{ data['data']|raw }},
                eventClick: function(info) {
                    /*console.log(info.event.id)*/
                    if(info.event.title !== "RDV") {
                        if (info.event.backgroundColor === "#008000") {
                            $("#geozone-info").click()
                            $("#edit-department  > option").each(function() {
                                $(this).attr("selected",false);
                            })
                            departmenttest.selectedIndex = 0;
                            $("#edit-department").attr('class', 'edit' + info.event.id)
                            /*if(departmenttest) {
                                departmenttest.destroy()
                            }*/
                            /*console.log(info.event.extendedProps.geoareasid[0])*/
                            $('#client_show-block').hide();
                            $('#notes_label').text('Observations zones géo');
                            /*$("#start-geozone").val((moment(info.event.start).format('DD/MM/YYYY')))
                            $("#end-geozone").val((moment(info.event.end).subtract(1, "days").format('DD/MM/YYYY')))*/
                            $("#departments-geozone").val(info.event.title)

                            $("#edit_geo_zone_form_start_date").val((moment(info.event.start).format('YYYY-MM-DD')))
                            $("#edit_geo_zone_form_end_date").val((moment(info.event.end).subtract(1, "days").format('YYYY-MM-DD')))




                            let editGeoZoneUrl = '{{ path("edit_geo_zone_event", {'id': 'the_geo_zone_event_to_edit_id'}) }}';
                            editGeoZoneUrl = editGeoZoneUrl.replace("the_geo_zone_event_to_edit_id", info.event.id);
                            $('#edit-geo-zone-event-form').attr('action', editGeoZoneUrl);

                            let deleteGeoZone = $("#delete-geozone")
                            let deleteUrl = '{{ path("delete_geo_zone_event", {'id': 'event_id'}) }}';
                            deleteUrl = deleteUrl.replace("event_id", info.event.id);
                            deleteGeoZone.attr("href",deleteUrl)
                            /*console.log(editDepartment.find('option')[0].prop())*/



                            /*departmenttest.setData([{ value: '25', text: 'test'}])*/
                            $(".edit" + info.event.id).find('option').each(function() {
                               /* console.log(this)*/
                                /*let testing = this.value*/
                                let that = this

                                $.each(info.event.extendedProps.geoareasid, function (index,val) {
                                    if(that.value == val) {
                                        /*console.log(info.event.extendedProps.geoareasid)*/

                                        $(that).attr("selected",true);
                                        let test = that
                                        /*$(that).remove()
                                        $(".edit" + info.event.id).append(test)*/
                                    }

                                })
                            })
                                /*console.log(this.value);*/

                            /*console.log($('#edit-department').val())*/
                            $('#edit-departments-values').val($('#edit-department').val());

                           /* console.log(editDepartment.val())*/
                        } else {
                            $("#test2").click()
                            $('#client_show-block').hide();
                            /*$("#notes_block").show()*/
                            $('#notes_label').text('Observations ' + info.event.title);
                            /*$("#start-show").val((moment(info.event.start).format('DD/MM/YYYY hh:mm')))
                            $("#end-show").val((moment(info.event.end).format('DD/MM/YYYY hh:mm')))*/
                            $("#notes-show").val(info.event.extendedProps.description)
                        }
                    } else {
                        $("#test2").click()
                        $('#client_show-block').show();
                        /*$("#notes_block").show()*/
                        /*$("#start-show").val((moment(info.event.start).format('DD/MM/YYYY hh:mm')))
                        $("#end-show").val((moment(info.event.end).format('DD/MM/YYYY hh:mm')))*/
                        $('#notes_label').text('Observations avant RDV');
                        $("#client-show").val(info.event.extendedProps.client)
                        $("#notes-show").val(info.event.extendedProps.description)
                        /*console.log((moment(info.event.start).startOf('day').format('YYYY-MM-DD')))
                        console.log(info.event.end)*/
                        /*if (info.event.extendedProps.description === null) {
                            $("#notes_block").hide()
                        }*/
                    }

                    /*console.log(info.event.extendedProps.description)*/


                    // change the border color just for fun
                    /*info.el.style.borderColor = 'red';*/
                    $("#edit_form_start_date").val((moment(info.event.start).startOf('day').format('YYYY-MM-DD')))
                    $("#edit_form_start_time_hour").val(parseInt(moment.parseZone(info.event.start).utcOffset(0).format('HH')))
                    $("#edit_form_start_time_minute").val(parseInt(moment(info.event.start).format('mm')))

                    $("#edit_form_end_date").val((moment(info.event.end).startOf('day').format('YYYY-MM-DD')))
                    $("#edit_form_end_time_hour").val(parseInt(moment.parseZone(info.event.end).utcOffset(0).format('HH')))
                    $("#edit_form_end_time_minute").val(parseInt(moment(info.event.end).format('mm')))
                    let editEventUrl = '{{ path("edit_event", {'id': 'the_event_to_edit_id'}) }}';
                    editEventUrl = editEventUrl.replace("the_event_to_edit_id", info.event.id);
                    $('#edit-event-form').attr('action', editEventUrl);



                    let deleteEvent = $("#delete-event")
                    let deleteEventUrl = '{{ path("delete_event", {'id': 'the_event_id'}) }}';
                    deleteEventUrl = deleteEventUrl.replace("the_event_id", info.event.id);
                    deleteEvent.attr("href",deleteEventUrl)
                },
               /* dayClick: function(date, allDay, jsEvent, view) {
                    console.log(date)
                }*/
            })
            calendar.render()
            calendar.on("dateClick", function (info) {
                /*console.log(moment(info.dateStr).format('DD/MM/YYYY'))*/
                /*$("#test").click()
                $("#appointment_form_start_date").val(moment(info.dateStr).format('YYYY-MM-DD'))
                $("#appointment_form_end_date").val(moment(info.dateStr).format('YYYY-MM-DD'))*/
                calendar.gotoDate(moment(info.dateStr).format('YYYY-MM-DD'));
                calendar.changeView('timeGridDay');
            })
            let d = new Date();
            let month = d.getMonth()+1;
            let day = d.getDate();

            let today = d.getFullYear() + '-' +
                ((''+month).length<2 ? '0' : '') + month + '-' +
                ((''+day).length<2 ? '0' : '') + day;

            $("#test").on("click", function () {
                $("#appointment_form_start_date").val(today)
                $("#appointment_form_end_date").val(today)
                $("#appointment_form_start_time_hour").val(9)
                $("#appointment_form_end_time_hour").val(10)

            })
            $("#appointment_form_start_time_hour").on("change", function () {
                if(this.value == "23") {
                    $("#appointment_form_end_time_hour").val(0)
                } else {
                    $("#appointment_form_end_time_hour").val(parseInt(this.value) + 1)
                }
            })
            $("#start-geo").val(today)
            $("#end-geo").val(today)
            /*$(".fc-today-button").prop('disabled', false);*/
            $('#departments').val($('#department').val());
            let department = new SlimSelect({
                select: '#department',
                placeholder: 'Choisissez les départements',
                searchText: 'Aucun Résultat',
                searchPlaceholder: 'Rechercher',
                onChange: () => {

                    $('#departments').val($('#department').val());


                }
            })


            let departmenttest = new SlimSelect({
                select: '#edit-department',
                placeholder: 'Choisissez les départements',
                searchText: 'Aucun Résultat',
                searchPlaceholder: 'Rechercher',
                onChange: () => {

                    $('#edit-departments-values').val($('#edit-department').val());


                }
            })


        }

    </script>

{% endblock %}