{% extends 'base.html.twig' %}

{% block title %}Fiche RDV{% endblock %}

{% block body %}

<div class="header pb-6" style="background-color: #EDA200">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">CRM</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><i class="fas fa-chalkboard-teacher text-yellow"></i></li>
                            <li class="breadcrumb-item">Service Commercial</li>
                            <li class="breadcrumb-item active" aria-current="page">Fiche RDV</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="{{ path('commercial') }}" class="btn btn-sm btn-neutral">Retour</a>
                </div>
            </div>
        </div>
    </div>
</div>

{#<div class="header pb-6 d-flex align-items-center" style="min-height: 100px; background-image: url(../assets/img/theme/profile-cover.jpg); background-size: cover;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    #}{#<div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-lg-7 col-md-10">
                <h1 class="display-2 text-white">Hello Jesse</h1>
                <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
                <a href="#!" class="btn btn-neutral">Edit profile</a>
            </div>
        </div>
    </div>#}{#
</div>#}
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        {#<div class="col-xl-4 order-xl-2">
            <div class="card card-profile">
                <img src="../assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a href="#">
                                <img src="{{ asset('assets/img/theme/team-4.jpg') }}" class="rounded-circle">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                    <div class="d-flex justify-content-between">
                        <a href="#" class="btn btn-sm btn-info  mr-4 ">Connect</a>
                        <a href="#" class="btn btn-sm btn-default float-right">Message</a>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col">
                            <div class="card-profile-stats d-flex justify-content-center">
                                <div>
                                    <span class="heading">22</span>
                                    <span class="description">Friends</span>
                                </div>
                                <div>
                                    <span class="heading">10</span>
                                    <span class="description">Photos</span>
                                </div>
                                <div>
                                    <span class="heading">89</span>
                                    <span class="description">Comments</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <h5 class="h3">
                            Jessica Jones<span class="font-weight-light">, 27</span>
                        </h5>
                        <div class="h5 font-weight-300">
                            <i class="ni location_pin mr-2"></i>Bucharest, Romania
                        </div>
                        <div class="h5 mt-4">
                            <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
                        </div>
                        <div>
                            <i class="ni education_hat mr-2"></i>University of Computer Science
                        </div>
                    </div>
                </div>
            </div>
        </div>#}
        <div class="col-xl-12 order-xl-1">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Fiche RDV</h3>
                        </div>
                        {#<div class="col-4 text-right">
                            <a href="{{ path('all_contacts') }}" class="btn btn-sm btn-neutral">Retour</a>
                        </div>#}
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <h6 class="heading-small text-muted mb-4">Données Client</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Prénom</label>
                                        <input type="text" id="input-username" class="form-control" value="{{ appointment_to_show.client.firstName }}" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">Nom</label>
                                        <input type="email" id="input-email" class="form-control" value="{{ appointment_to_show.client.lastName }}" disabled>
                                        {#<div type="email" id="input-email" class="list-group-item" placeholder="jesse@example.com">
                                            oussema@aol.fr
                                        </div>#}
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-last-name">Société</label>
                                        <input type="text" id="input-last-name" class="form-control" value="{{ appointment_to_show.client.companyName }}" disabled>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Email</label>
                                        <input type="text" id="input-first-name" class="form-control" value="{{ appointment_to_show.client.email }}" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="row">


                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Adresse</label>
                                        <input type="text" id="input-first-name" class="form-control" value="{{ appointment_to_show.client.address }}" disabled>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-last-name">Code Postal</label>
                                        <input type="text" id="input-last-name" class="form-control" value="{{ appointment_to_show.client.postalCode }}" disabled>
                                    </div>
                                </div>

                            </div>

                            <div class="row">


                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Département</label>
                                        <input type="text" id="input-first-name" class="form-control" value="{{ appointment_to_show.client.geographicArea }}" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Pays</label>
                                        <input type="text" id="input-first-name" class="form-control" value="{{ appointment_to_show.client.country }}" disabled>
                                    </div>
                                </div>


                            </div>

                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-last-name">Numéro Domicile</label>
                                        <input type="text" id="input-last-name" class="form-control" value="{{ appointment_to_show.client.phoneNumber }}" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Numéro Mobile</label>
                                        <input type="text" id="input-first-name" class="form-control" value="{{ appointment_to_show.client.mobileNumber }}" disabled>
                                    </div>
                                </div>
                                {#<div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-last-name">Numéro Mobile</label>
                                        <input type="text" id="input-last-name" class="form-control" placeholder="Last name" value="Jesse">
                                    </div>
                                </div>#}
                            </div>

                        </div>
                        <hr class="my-4" />
                        <!-- Address -->
                        <h6 class="heading-small text-muted mb-4">Données Utiles</h6>
                        <div class="pl-lg-4">

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-city">Catégorie</label>
                                        <input type="text" id="input-city" class="form-control" value="{{ appointment_to_show.client.category }}" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-country">Equipement</label>
                                        <input type="text" id="input-country" class="form-control" value="{{ appointment_to_show.client.providedEquipment }}" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-city">Sous Contrat</label>
                                        <input type="text" id="input-city" class="form-control" value="{% if appointment_to_show.client.isUnderContract %}Oui{% else %}Non{% endif %}" disabled>
                                    </div>
                                </div>
                                {#<div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-country">Etat Appel</label>
                                        <input type="text" id="input-country" class="form-control" value="{% if appointment_to_show.client.status == 0 %}Non traité{% elseif appointment_to_show.client.status == 1 %}Appel non qualifié{% else %}Appel qualifié{% endif %}" disabled>
                                    </div>
                                </div>#}
                            </div>
                        </div>


                        <hr class="my-4" />
                        <!-- Address -->
                        <h6 class="heading-small text-muted mb-4">Informations RDV</h6>
                        <div class="pl-lg-4">

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-city">Etat</label>
                                        <input type="text" id="input-city" class="form-control" value="{% if appointment_to_show.isDone == 0 %}A Venir{% else %}Effectué{% endif %}" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-country">Commercial Affecté</label>
                                        <input type="text" id="input-country" class="form-control" value="{{ appointment_to_show.user.firstName ~ ' ' ~ appointment_to_show.user.lastName }}" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-city">Date/heure Début</label>
                                        <input type="text" id="input-city" class="form-control" value="{{ appointment_to_show.start | date() }}" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-country">Date/heure Fin</label>
                                        <input type="text" id="input-country" class="form-control" value="{{ appointment_to_show.end | date() }}" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <hr class="my-4" />
                        <!-- Description -->
                        <h6 class="heading-small text-muted mb-4">Notes RDV</h6>
                        <div class="pl-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">Notes</label>
                                <textarea rows="4" class="form-control" placeholder="Pas de notes ..." resize="none" disabled>{{ appointment_to_show.appointmentNotes }}</textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
