{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block head %}

    <style>
        #calendar {
            width: 80%;
            margin: auto;
        }
    </style>

{% endblock %}


{% block body %}
{#{{ dump(data['data']) }}#}
{#<div id="calendar">
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>#}

    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">CRM</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="#"><i class="fas fa-calendar-alt text-cyan"></i></a></li>
                                <li class="breadcrumb-item"><a href="#">Agendas</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ commercial_user.firstName ~ ' ' ~ commercial_user.lastName }}</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        {#<a href="" class="btn btn-sm btn-success">Fixer un RDV à {{ commercial_user.firstName ~ ' ' ~ commercial_user.lastName }}</a>#}
                        <button id="test" type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#modal-form">Fixer un RDV à {{ commercial_user.firstName ~ ' ' ~ commercial_user.lastName }}</button>
                        <button id="test2" type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#modal-show-form" style="display: none">show</button>
                        {#<a href="{{ path('new_client') }}" class="btn btn-sm btn-success">Nouveau prospect</a>#}
                        {#<a href="#" class="btn btn-sm btn-neutral">Filters</a>#}
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <div class="row">
                            <div class="col-md-4">
                                <h3 class="mb-0">RDV</h3>
                            </div>
                            <div class="col-md-8">
                                {% for message in app.flashes('appointment_busy_commercial_warning') %}
                                    <div style="color: orangered">
                                        <small>
                                            {{ message }}
                                        </small>
                                    </div>
                                {% endfor %}
                                {% for message in app.flashes('appointment_duration_warning') %}
                                    <div style="color: red">
                                        <small>
                                            {{ message }}
                                        </small>
                                    </div>
                                {% endfor %}
                                {% for message in app.flashes('appointment_confirmation') %}
                                    <div style="color: green">
                                        <small>
                                            {{ message }}
                                        </small>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                        <!-- Table -->
                       {# <div class="row justify-content-center">
                            <div class="col-lg-6 col-md-8">

                            </div>
                        </div>#}



                        <div id="calendar">
                            <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- Light table -->
                    {#<div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>

                            </tr>
                            </thead>
                            <tbody class="list">


                                <tr>


                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                    </div>#}
                    <!-- Card footer -->
                    <div class="card-footer py-4">
                        <nav aria-label="...">
                            {#<ul class="pagination justify-content-end mb-0">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">
                                        <i class="fas fa-angle-left"></i>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fas fa-angle-right"></i>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>#}
                        </nav>
                    </div>

            </div>
        </div>
    </div>
    </div>


        {#<button type="button" class="btn btn-block btn-default" data-toggle="modal" data-target="#modal-form">Form</button>#}
        <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
            <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <div class="card bg-secondary border-0 mb-0">
                            <div class="card-body px-lg-5 py-lg-5">
                                {#<div class="text-muted mb-4">
                                    <small>Veuillez sélectionner la date et l'heure du RDV:</small>
                                </div>#}
                                <div>
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Agent Commercial</label>
                                        <input type="text" id="input-username" class="form-control" value="{{ commercial_user.firstName ~ ' ' ~ commercial_user.lastName }}" disabled>
                                    </div>
                                </div>

                                {{ form_start(appointment_form) }}
                                    <div class="form-group">
                                        <label for="example-datetime-local-input" class="form-control-label">Date et heure de Début</label>
                                        {{ form_widget(appointment_form.start) }}
                                    </div>

                                    <div class="form-group">
                                        <label for="example-datetime-local-input" class="form-control-label">Date et heure de Fin</label>
                                        {{ form_widget(appointment_form.end) }}
                                    </div>
                                    <hr class="my-3">

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary mt-4">Vérifier la disponibilité</button>
                                    </div>
                                {{ form_end(appointment_form)}}

                            </div>
                        </div>




                    </div>

                </div>
            </div>
        </div>




    <div class="modal fade" id="modal-show-form" tabindex="-1" role="dialog" aria-labelledby="modal-show-form" aria-hidden="true">
        <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">

                {#<div class="modal-header text-center">
                    <h6 class="modal-title" id="modal-title-default">Détails RDV</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>#}

                <div class="modal-body">

                    <div id="client_show-block">
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Client</label>
                            <input type="text" id="client-show" class="form-control" value="" disabled>
                        </div>
                    </div>

                    <div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Date et heure de Début</label>
                            <input type="text" id="start-show" class="form-control" value="" disabled>
                        </div>
                    </div>

                    <div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Date et heure de Fin</label>
                            <input type="text" id="end-show" class="form-control" value="" disabled>
                        </div>
                    </div>

                    <div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Observations RDV</label>
                            <textarea id="notes-show" class="form-control" name="notes" id="notes" cols="30" rows="6" placeholder="..." resize="none" disabled></textarea>
                        </div>
                    </div>



                   {# <div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-username">Description</label>
                            <input type="text" id="description-show" class="form-control" value="{{ commercial_user.firstName ~ ' ' ~ commercial_user.lastName }}" disabled>
                        </div>
                    </div>#}

                    <hr class="my-3">

                    <div class="text-center">
                        <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Retour</button>
                    </div>
                </div>



            </div>
        </div>
    </div>
{% endblock %}

{% block additionalJs %}

    <script>
        window.onload = () => {
            let calendarElement = document.querySelector("#calendar");
            let calendar = new FullCalendar.Calendar(calendarElement, {
                initialView: "dayGridMonth",
                locale: "fr",
                timeZone: "Europe/Paris",
                headerToolbar: {
                    start: "prev,next today",
                    center: "title",
                    end: "dayGridMonth,timeGridWeek"
                },
                events: {{ data['data']|raw }},
                titleFormat: { // will produce something like "Tuesday, September 18, 2018"
                    month: 'long',
                    year: 'numeric',
                    day: 'numeric',
                    weekday: 'long'
                },
                eventClick: function(info) {
                    $("#test2").click()
                    console.log(info.event.title)
                    if(info.event.title === "Evénement perso") {
                        $('#client_show-block').hide();
                    } else {
                        $('#client_show-block').show();
                    }
                    /*console.log(info.event.title)*/
                    $("#client-show").val(info.event.title)
                    $("#start-show").val((moment(info.event.start).format('DD/MM/YYYY hh:mm')))
                    $("#end-show").val((moment(info.event.end).format('DD/MM/YYYY hh:mm')))
                    $("#notes-show").val(info.event.extendedProps.description)
                    // change the border color just for fun
                    /*info.el.style.borderColor = 'red';*/
                }
            })
            calendar.render()
            calendar.on("dateClick", function (info) {
                $("#test").click()
                $("#appointment_form_start_date").val(info.dateStr)
                $("#appointment_form_end_date").val(info.dateStr)
            })
            $("#test").on("click", function () {
                $("#appointment_form_start_date").val($("#appointment_form_start_date").defaultDate)
                $("#appointment_form_end_date").val($("#appointment_form_end_date").defaultDate)
            })
        }


    </script>

{% endblock %}
