{% extends 'base.html.twig' %}

{% block title %}Appels Supprimés{% endblock %}

{% block body %}

    <div class="header pb-6" style="background-color: #EDA200">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">CRM</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><i class="ni fas fa-trash-alt text-teal"></i></li>
                                <li class="breadcrumb-item">Corbeille</li>
                                <li class="breadcrumb-item active" aria-current="page">Liste des appels supprimés</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        {#<a href="{{ path('new_user') }}" class="btn btn-sm btn-success">Nouveau utilisateur</a>#}
                        {#<a href="#" class="btn btn-sm btn-neutral">Filters</a>#}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <div class="row">
                            <div class="col-md-9">
                                <h3 class="mb-0">Total: {{ all_deleted_calls|length }} Appels</h3>
                            </div>
                            <div class="col-md-3">
                                {#<input type="text" class="form-control " placeholder="Recherche" id="contact-filter">#}
                            </div>
                        </div>
                    </div>
                    <!-- Light table -->
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">client appelé</th>
                                <th scope="col">utilisateur appelant</th>
                                <th scope="col">état appel</th>
                                <th scope="col">détails appel</th>
                                <th scope="col">observations appel</th>
                                <th scope="col">Date de suppression</th>
                                <th scope="col">Actions</th>
                                {#<th scope="col">Traitement</th>#}
                                {#<th scope="col">état</th>
                                <th scope="col">Détails</th>
                                <th scope="col">Observations Appel</th>
                                <th scope="col">Observations RDV</th>
                                <th scope="col">Actions</th>#}
                                {#<th scope="col">Modification</th>
                                <th scope="col">Suppression</th>#}
                            </tr>
                            </thead>
                            <tbody class="list">

                            {% for call in deleted_calls %}
                                <tr>
                                    <td class="budget">
                                        {{ call.client.firstName ~ ' ' ~ call.client.lastName }}
                                    </td>

                                    <td class="budget">
                                        {{ call.user.firstName ~ ' ' ~ call.user.lastName }}
                                    </td>

                                    <td class="budget">
                                        {% if  call.generalStatus == 1 %}
                                            <span class="badge badge-warning badge-lg">
                                        <i class="bg-warning"></i>
                                         Appel non Qualifié
                                        </span>
                                        {% elseif call.generalStatus == 2 %}
                                        <span class="badge badge-success badge-lg">
                                        <i class="bg-success"></i>
                                            Appel Qualifié
                                        {% endif %}
                                    </td>

                                    <td class="budget">
                                        {% if call.statusDetails == 1 %}
                                            <span class="badge badge-warning badge-lg">
                                        <i class="bg-warning"></i>
                                         Ne répond pas
                                        </span>
                                        {% elseif call.statusDetails == 2 %}
                                            <span class="badge badge-warning badge-lg">
                                        <i class="bg-warning"></i>
                                            Répondeur
                                        </span>
                                        {% elseif call.statusDetails == 3 %}
                                            <span class="badge badge-warning badge-lg">
                                        <i class="bg-warning"></i>
                                            Barrage Secrétaire
                                        </span>
                                        {% elseif call.statusDetails == 4 %}
                                            <span class="badge badge-warning badge-lg">
                                        <i class="bg-success"></i>
                                            Pas Intéressé
                                        </span>
                                        {% elseif call.statusDetails == 5 %}
                                            <span class="badge badge-warning badge-lg">
                                        <i class="bg-warning"></i>
                                            A Rappeler
                                        </span>
                                        {% elseif call.statusDetails == 6 %}
                                            <span class="badge badge-success badge-lg">
                                        <i class="bg-success"></i>
                                            RDV à prendre
                                        </span>
                                        {% elseif call.statusDetails == 7 %}
                                            <span class="badge badge-success badge-lg">
                                        <i class="bg-success"></i>
                                            RDV fixé
                                        </span>
                                        {% endif %}
                                    </td>

                                    {#<td class="budget">
                                        {% if client.providedEquipment %}
                                        {{ client.providedEquipment.designation }}
                                        {% else %}
                                        {% endif %}
                                    </td>#}



                                    <td class="budget">
                                        {% if call.callNotes is not null %}
                                            <button class="notes" data-container="body" type="button" data-toggle="popover" data-color="info" data-placement="top" data-content= "{{ call.callNotes }}">
                                                <i class="far fa-comment text-cyan"></i>
                                            </button>
                                        {% else %}
                                            <button class="notes" data-container="body" type="button" data-toggle="popover" data-color="info" data-placement="top" data-content= "{{ call.callIfAppointmentNotes }}">
                                                <i class="far fa-comment text-cyan"></i>
                                            </button>
                                        {% endif%}
                                    </td>

                                    <td class="budget">
                                        {{ call.deletionDate|format_datetime(locale='fr') }}
                                    </td>
                                    <td >
                                        <a href="{{ path('restore_call', {'id': call.id}) }}"  class="badge badge-success" >Restaurer Appel</a>
                                    </td>

                                    {#<td >
                                        <a href="{{ path('call_handle', {'id': client.id}) }}"  class="badge badge-success" >Traiter Contact</a>
                                    </td>#}

                                    {#{% if client.calls|default %}
                                    {% if client.calls[client.calls|length - 1].callNotes is not null %}
                                    <td class="budget" style="text-align: center">
                                        <button class="notes" data-container="body" type="button" data-toggle="popover" data-color="info" data-placement="top" data-content= "{{ client.calls[client.calls|length -1].callNotes }}">
                                            <i class="far fa-comment text-cyan"></i>
                                        </button>
                                    </td>
                                    {% else %}
                                        <td >Non Défini</td>
                                    {% endif %}

                                    {% else %}
                                        <td>Non Défini</td>
                                    {% endif %}#}
                                    {#{% if client.calls|default %}#}
                                    {#<td >
                                    <a href="{{ path('show_client', {'id': client.id}) }}"  class="badge badge-default" >Consulter Fiche</a>
                                </td>

                                <td >
                                    <a href="{{ path('update_client', {'id': client.id}) }}"  class="badge badge-info" >Modifier Contact</a>
                                </td>

                                <td >
                                    <a href="{{ path('new_client') }}" data-href="/admin_resp/ingenieur/oussingenieurref/deleted" class="badge badge-danger" data-toggle="modal" data-target="#deleteModal">Supprimer Contact</a>
                                </td>#}

                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <!-- Card footer -->
                    {{ knp_pagination_render(deleted_calls) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additionalJs %}
    <script>
        $('#pagination').hover(function () {
            $(this).css('cursor','pointer');
        })

        $('#pagination').change(function () {

            $.ajax({
                url:"{{ path('deleted_calls_pagination') }}",
                method: "POST",
                dataType: 'json',
                data : { paginationValue: this.value },
                success: (e) => {
                    location.reload();
                },
                error : (f) => {
                    console.log(f);
                }
            })

        })

    </script>
{% endblock %}
