{% extends 'base.html.twig' %}

{% block title %}Statistiques Commercial{% endblock %}



{% block body %}

    <div class="header pb-6" style="background-color: #EDA200">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">CRM</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><i class="fas fa-chalkboard-teacher text-yellow"></i></li>
                                <li class="breadcrumb-item">Service Commercial</li>
                                <li class="breadcrumb-item active" aria-current="page">Statistiques</li>
                                {#<li class="breadcrumb-item active" aria-current="page">Default</li>#}
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        {#<a href="#" class="btn btn-sm btn-neutral">Période</a>#}
                        <form {#action="{{ path('teleprospecting_stats_filters') }}" method="post"#}>
                            <div class="form-group" id="normal_period_block">
                                <label for="period" style="font-weight: bolder; font-family: Cambria; color: #fff">Période</label>
                                <select class="form-control-sm" name="normal_period" id="normal_period">
                                    <option value="" {#{% if app.session.get('date_filter_value_commercial_stats' is null) %} selected {% endif %}#}>Choisir...</option>
                                    <option value="0" {% if app.session.get('date_filter_value_commercial_stats') == 0 %} selected {% endif %}>Aujourd'hui</option>
                                    <option value="1" {% if app.session.get('date_filter_value_commercial_stats') == 1 %} selected {% endif %}>Hier</option>
                                    <option value="7" {% if app.session.get('date_filter_value_commercial_stats') == 7 %} selected {% endif %}>7 derniers jours</option>
                                    <option value="14" {% if app.session.get('date_filter_value_commercial_stats') == 14 %} selected {% endif %}>14 derniers jours</option>
                                    <option value="30" {% if app.session.get('date_filter_value_commercial_stats') == 30 %} selected {% endif %}>30 derniers jours</option>
                                    <option value="60" {% if app.session.get('date_filter_value_commercial_stats') == 60 %} selected {% endif %}>60 derniers jours</option>
                                    <option value="90" {% if app.session.get('date_filter_value_commercial_stats') == 90 %} selected {% endif %}>90 derniers jours</option>
                                    <option value="100">Personalisée</option>
                                </select>
                                {#<input class="btn btn-sm btn-success" type="submit" value="Confirmer">#}
                            </div>

                            <div class="form-group" id="custom_period_block" style="display: none">
                                <label for="start_date" style="font-weight: bolder; font-family: Cambria; color: #fff">De: </label>
                                <input type="date" class="form-control-sm" name="start_date" id="start_date" required>
                                <label for="start_date" style="font-weight: bolder; font-family: Cambria; color: #fff">Jusqu'à: </label>
                                <input type="date" class="form-control-sm" name="end_date" id="end_date" required>
                                <a id="retour_period" class="btn btn-sm btn-neutral" style="margin-left: 10px">Retour</a>
                                <input class="btn btn-sm btn-success" type="submit" value="Confirmer">
                            </div>
                        </form>
                        {#<a href="#" class="btn btn-sm btn-neutral">Filters</a>#}
                    </div>
                </div>
                <!-- Card stats -->
                {% if app.session.get('date_filter_value_commercial_stats') is not null %}
                    {% set filter = app.session.get('date_filter_value_commercial_stats') %}
                    {% set selected_date = "now"|date_modify("-" ~ filter ~ " day")| format_datetime('short', 'none') %}
                {% endif %}
                <div class="row">
                    <div class="col-xl-4 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Total Commerciaux</h5>
                                        <span class="h2 font-weight-bold mb-0">{{ count_total_commercials }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-yellow text-white rounded-circle shadow">
                                            <i class="fas fa-user-friends"></i>
                                        </div>
                                    </div>
                                </div>
                                {#<p class="mt-3 mb-0 text-sm">
                                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Total RDV</h5>
                                        <span class="h2 font-weight-bold mb-0">
                                            {#{{ total_appointments }}#}
                                            {% if app.session.get('date_filter_value_commercial_stats') is not null %}
                                                {% set fixed_appointments_counter = 0 %}
                                                {% for appointment in total_appointments %}
                                                    {% set appointment_date = appointment.createdAt | format_datetime('short', 'none') %}
                                                    {% if filter == "0" or filter == "1" %}
                                                        {% if appointment_date == selected_date %}
                                                            {% set fixed_appointments_counter = fixed_appointments_counter + 1 %}
                                                        {% endif %}
                                                    {% else %}
                                                        {% if appointment_date >= selected_date %}
                                                            {% set fixed_appointments_counter = fixed_appointments_counter + 1 %}
                                                        {% endif%}
                                                    {% endif %}
                                                {% endfor %}
                                                {{ fixed_appointments_counter }}
                                            {% else %}
                                                {{ total_appointments_count }}
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                            <i class="fas fa-list-alt"></i>
                                        </div>
                                    </div>
                                </div>
                               {# <p class="mt-3 mb-0 text-sm">
                                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Total RDV effectués</h5>
                                        <span class="h2 font-weight-bold mb-0">
                                            {#{{ done_appointments }}#}
                                            {% if app.session.get('date_filter_value_commercial_stats') is not null %}
                                                {% set done_appointments_counter = 0 %}
                                                {% for appointment in total_appointments %}
                                                    {% set appointment_date = appointment.doneAt | format_datetime('short', 'none') %}
                                                    {% if filter == "0" or filter == "1" %}
                                                        {% if appointment_date == selected_date %}
                                                            {% set done_appointments_counter = done_appointments_counter + 1 %}
                                                        {% endif %}
                                                    {% else %}
                                                        {% if appointment_date >= selected_date %}
                                                            {% set done_appointments_counter = done_appointments_counter + 1 %}
                                                        {% endif%}
                                                    {% endif %}
                                                {% endfor %}
                                                {{ done_appointments_counter }}
                                            {% else %}
                                                {{ done_appointments_count }}
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                            <i class="fas fa-list-alt"></i>
                                        </div>
                                    </div>
                                </div>
                               {# <p class="mt-3 mb-0 text-sm">
                                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>#}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-4 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Total RDV à Venir</h5>
                                        <span class="h2 font-weight-bold mb-0">
                                            {#{{ upcoming_appointments }}#}
                                            {% if app.session.get('date_filter_value_commercial_stats') is not null %}
                                                {{ fixed_appointments_counter - done_appointments_counter }}
                                            {% else %}
                                                {{ upcoming_appointments }}
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                            <i class="fas fa-list-alt"></i>
                                        </div>
                                    </div>
                                </div>
                                {# <p class="mt-3 mb-0 text-sm">
                                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Total Projets</h5>
                                        <span class="h2 font-weight-bold mb-0">N/A</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                            <i class="ni ni-archive-2"></i>
                                        </div>
                                    </div>
                                </div>
                                {# <p class="mt-3 mb-0 text-sm">
                                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                    <span class="text-nowrap">Since last month</span>
                                </p>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->

    <div class="container-fluid mt--6">
        {#<div class="row">
            <div class="col-xl-8">
                <div class="card bg-default">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-light text-uppercase ls-1 mb-1">Aperçu</h6>
                                <h5 class="h3 text-white mb-0">Evaluation des projets</h5>
                            </div>
                            <div class="col">
                                <ul class="nav nav-pills justify-content-end">
                                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-prefix="$" data-suffix="k">
                                        <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                                            <span class="d-none d-md-block">Mois</span>
                                            <span class="d-md-none">M</span>
                                        </a>
                                    </li>
                                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="$" data-suffix="k">
                                        <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                                            <span class="d-none d-md-block">Semaine</span>
                                            <span class="d-md-none">W</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Chart -->
                        <div class="chart">
                            <!-- Chart wrapper -->
                            <canvas id="chart-sales-dark" class="chart-canvas"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                                <h5 class="h3 mb-0">Total RDVs</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Chart -->
                        <div class="chart">
                            <canvas id="chart-bars" class="chart-canvas"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>#}{#
        #}<div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Détails</h3>
                            </div>
                            <div class="col text-right">
                                <a href="#!" class="btn btn-sm btn-info">Afficher Tout</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Commercial</th>
                                <th scope="col">RDV effectués</th>
                                <th scope="col">Projets réalisés</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for commercial in all_commercials %}
                            <tr>
                                <th scope="row">
                                    {{ commercial.firstName ~ ' ' ~ commercial.lastName }}
                                </th>
                                <td>
                                    {% set counter = 0 %}
                                    {% for appointment in commercial.appointments  %}
                                        {% if appointment.isDone == 1 %}
                                            {% set counter = counter + 1 %}
                                        {% endif %}
                                    {% endfor %}

                                    {% if app.session.get('date_filter_value_commercial_stats') is not null %}
                                        {% set done_appointments_counter = 0 %}
                                        {% for appointment in commercial.appointments  %}
                                            {% set appointment_done_date = appointment.doneAt | format_datetime('short', 'none') %}
                                            {% if filter == "0" or filter == "1" %}
                                                {% if appointment_done_date == selected_date %}
                                                    {% set done_appointments_counter = done_appointments_counter + 1 %}
                                                {% endif %}
                                            {% else %}
                                                {% if appointment_done_date >= selected_date %}
                                                    {% set done_appointments_counter = done_appointments_counter + 1 %}
                                                {% endif%}
                                            {% endif %}
                                        {% endfor %}
                                        {{ done_appointments_counter }}
                                    {% else %}
                                        {% set counter = 0 %}
                                        {% for appointment in commercial.appointments  %}
                                            {% if appointment.isDone == 1 %}
                                                {% set counter = counter + 1 %}
                                            {% endif %}
                                        {% endfor %}
                                        {{ counter }}
                                    {% endif %}
                                </td>
                                <td>
                                N/A
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block additionalJs %}
    <script>
      window.onload = () => {
          let normalPeriod =  $("#normal_period");
          let normalPeriodBlock =  $("#normal_period_block");
          let customPeriod = $("#custom_period_block");
          normalPeriod.on('change', function() {
              if($(this).val() === "100") {
                  $(this).parent().fadeOut(50)
                  customPeriod.fadeIn(1000)
              }
          })
          $('#retour_period').click(function () {
              $(this).parent().fadeOut(50)
              normalPeriodBlock.fadeIn(1000);
              normalPeriod.val({{ app.session.get('date_filter_value_commercial_stats') }});
          })

          //date

          $('#normal_period').hover(function () {
              $(this).css('cursor','pointer');
          })
          $('#normal_period').change(function () {
              console.log(this.value == "14")
              if(this.value && this.value != "100") {
                  $.ajax({
                      url:"{{ path('commercial_stats_filters') }}",
                      method: "POST",
                      dataType: 'json',
                      data : { dateFilterValueCommercialStats: this.value },
                      success: (e) => {
                          location.reload();
                          /*console.log(e);*/
                      },
                      error : (f) => {
                          console.log(f);
                      }
                  })
              }


          })
      }
    </script>
{% endblock %}
