{% extends 'base.html.twig' %}

{% block title %}Statistiques Commercial{% endblock %}



{% block body %}
    {% if app.session.get('date_filter_value_commercial_stats') is not null %}
        {% set filter = app.session.get('date_filter_value_commercial_stats') %}
        {% if filter == "100" %}
            {% set start_date = app.session.get('date_filter_commercial_start')|date('Y-m-d') %}
            {% set end_date = app.session.get('date_filter_commercial_end')|date('Y-m-d') %}
        {% else %}
            {% set selected_date = "now"|date_modify("-" ~ filter ~ " day")| date('Y-m-d') %}
        {% endif %}
    {% endif %}
    <div class="header pb-6" style="background-color: #EDA200">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-5 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">CRM</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><i class="fas fa-chalkboard-teacher text-yellow"></i></li>
                                <li class="breadcrumb-item">Service Commercial</li>
                                <li class="breadcrumb-item active" aria-current="page">Statistiques</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-7 col-5 text-right">
                        {#<a href="#" class="btn btn-sm btn-neutral">Période</a>#}
                        <div class="form-group" id="normal_period_block">
                            <label for="period" style="color: #fff; font-weight: bold; font-family: 'Times New Roman'">Période : </label>
                            <select class="form-control-sm" name="normal_period" id="normal_period">
                                <option value="" {% if app.session.get('date_filter_value_commercial_stats') is not defined or app.session.get('date_filter_value_commercial_stats') is null %} selected {% endif %}>Choisir...</option>
                                <option value="0" {% if app.session.get('date_filter_value_commercial_stats') is defined and app.session.get('date_filter_value_commercial_stats') == "0" %} selected {% endif %}>Aujourd'hui</option>
                                <option value="1" {% if app.session.get('date_filter_value_commercial_stats') is defined and app.session.get('date_filter_value_commercial_stats') == "1" %} selected {% endif %}>Hier</option>
                                <option value="7" {% if app.session.get('date_filter_value_commercial_stats') is defined and app.session.get('date_filter_value_commercial_stats') == "7" %} selected {% endif %}>7 derniers jours</option>
                                <option value="14" {% if app.session.get('date_filter_value_commercial_stats') is defined and app.session.get('date_filter_value_commercial_stats') == "14" %} selected {% endif %}>14 derniers jours</option>
                                <option value="30" {% if app.session.get('date_filter_value_commercial_stats') is defined and app.session.get('date_filter_value_commercial_stats') == "30" %} selected {% endif %}>30 derniers jours</option>
                                <option value="60" {% if app.session.get('date_filter_value_commercial_stats') is defined and app.session.get('date_filter_value_commercial_stats') == "60" %} selected {% endif %}>60 derniers jours</option>
                                <option value="90" {% if app.session.get('date_filter_value_commercial_stats') is defined and app.session.get('date_filter_value_commercial_stats') == "90" %} selected {% endif %}>90 derniers jours</option>
                                <option value="100" {% if app.session.get('date_filter_value_commercial_stats') is defined and app.session.get('date_filter_value_commercial_stats') == "100" %} selected {% endif %}>Personalisée</option>
                            </select>
                            {#<input class="btn btn-sm btn-success" type="submit" value="Confirmer">#}
                            <a href="{{ path('commercial_stats_filters_notifications') }}" class="btn btn-sm btn-success">Appliquer les filtres</a>
                            <a href="{{ path('commercial_stats_filters_initialization') }}" class="btn btn-sm btn-primary">Réinitialiser les filtres</a>
                        </div>

                        <form action="{{ path('commercial_stats_filters') }}" method="post">
                            <div class="form-group" id="custom_period_block" style="display: none">
                                <input type="text" name="dateFilterValueCommercialStats" value="100" hidden>
                                <label for="start_date" style="font-weight: bolder; font-family: Cambria; color: #fff">De: </label>
                                <input type="date" class="form-control-sm" name="start_date" id="start_date" required>
                                <label for="start_date" style="font-weight: bolder; font-family: Cambria; color: #fff">Jusqu'à: </label>
                                <input type="date" class="form-control-sm" name="end_date" id="end_date" required>
                                <a id="retour_period" class="btn btn-sm btn-neutral" style="margin-left: 10px">Retour</a>
                                <input class="btn btn-sm btn-success" type="submit" value="Appliquer les filtres">
                                <a href="{{ path('commercial_stats_filters_initialization') }}" class="btn btn-sm btn-primary" id="between-date-initialization" style="display: none">Réinitialiser les filtres</a>
                            </div>
                        </form>
                        {#<a href="#" class="btn btn-sm btn-neutral">Filters</a>#}
                    </div>
                </div>
                <!-- Card stats -->
            </div>
        </div>
    </div>
    <!-- Page content -->

    <div class="container-fluid mt--6">

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                                <h3 class="mb-0">Résumé Statistiques</h3>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Données</th>
                                <th scope="col">Valeur</th>
                                <th scope="col">Pourcentage</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                       Total RDV
                                    </th>
                                    <td>
                                        {% if app.session.get('date_filter_value_commercial_stats') is not null %}
                                            {% set all_appointments_counter = 0 %}
                                            {% for appointment in all_appointments %}
                                                {% set appointment_date = appointment.createdAt | date('Y-m-d') %}
                                                {% if filter == "0" or filter == "1" %}
                                                    {% if appointment_date == selected_date %}
                                                        {% set all_appointments_counter = all_appointments_counter + 1 %}
                                                    {% endif %}
                                                {% elseif filter == "100" %}
                                                    {% if appointment_date >= start_date and appointment_date <= end_date %}
                                                        {% set fixed_appointments_counter = all_appointments_counter + 1 %}
                                                    {% endif %}
                                                {% else %}
                                                    {% if appointment_date >= selected_date %}
                                                        {% set all_appointments_counter = all_appointments_counter + 1 %}
                                                    {% endif%}
                                                {% endif %}
                                            {% endfor %}
                                            {{ all_appointments_counter }}
                                        {% else %}
                                            {{ all_appointments_count }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        N/A
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">
                                        RDV annulés
                                    </th>
                                    <td>
                                        {% if app.session.get('date_filter_value_commercial_stats') is not null %}
                                            {% set deleted_appointments_counter = 0 %}
                                            {% for appointment in deleted_appointments %}
                                                {% set appointment_deletion_date = appointment.deletionDate | date('Y-m-d') %}
                                                {% if filter == "0" or filter == "1" %}
                                                    {% if appointment_deletion_date == selected_date %}
                                                        {% set deleted_appointments_counter = deleted_appointments_counter + 1 %}
                                                    {% endif %}
                                                {% elseif filter == "100" %}
                                                    {% if appointment_deletion_date >= start_date and appointment_deletion_date <= end_date %}
                                                        {% set deleted_appointments_counter = deleted_appointments_counter + 1 %}
                                                    {% endif %}
                                                {% else %}
                                                    {% if appointment_deletion_date >= selected_date %}
                                                        {% set deleted_appointments_counter = deleted_appointments_counter + 1 %}
                                                    {% endif%}
                                                {% endif %}
                                            {% endfor %}
                                            {{ deleted_appointments_counter }}
                                        {% else %}
                                            {{ deleted_appointments_count }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        N/A
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">
                                        RDV reportés
                                    </th>
                                    <td>
                                        {#{% if app.session.get('date_filter_value_commercial_stats') is not null %}
                                            {% set RAPPEL_contacts_counter  = 0 %}
                                            {% for client in clients_processes %}
                                                {% set break_RAPPEL = false %}
                                                {% for date_time, status_detail in client %}
                                                    {% set process_date = date_time | date('Y-m-d') %}
                                                    {% if break_RAPPEL == false %}
                                                        {% if filter == "0" or filter == "1" %}
                                                            {% if process_date == selected_date %}
                                                                {% if status_detail == 6 %}
                                                                    {% set RAPPEL_contacts_counter = RAPPEL_contacts_counter + 1 %}
                                                                    {% set break_RAPPEL = true %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% elseif filter == "100" %}
                                                            {% if process_date >= start_date and process_date <= end_date %}
                                                                {% if status_detail == 6 %}
                                                                    {% set RAPPEL_contacts_counter = RAPPEL_contacts_counter + 1 %}
                                                                    {% set break_RAPPEL = true %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% else %}
                                                            {% if process_date >= selected_date %}
                                                                {% if status_detail == 6 %}
                                                                    {% set RAPPEL_contacts_counter = RAPPEL_contacts_counter + 1 %}
                                                                    {% set break_RAPPEL = true %}
                                                                {% endif %}
                                                            {% endif%}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                            {{ RAPPEL_contacts_counter  }}
                                        {% else %}
                                            {{ all_RAPPEL_contacts_count }}
                                        {% endif %}#}
                                        {% if app.session.get('date_filter_value_commercial_stats') is not null %}
                                            {% set postponed_appointments_counter = 0 %}
                                            {% for appointment in postponed_appointments %}
                                                {% set appointment_postpone_date = appointment.postponedAt | date('Y-m-d') %}
                                                {% if filter == "0" or filter == "1" %}
                                                    {% if appointment_postpone_date == selected_date %}
                                                        {% set postponed_appointments_counter = postponed_appointments_counter + 1 %}
                                                    {% endif %}
                                                {% elseif filter == "100" %}
                                                    {% if appointment_postpone_date >= start_date and appointment_postpone_date <= end_date %}
                                                        {% set postponed_appointments_counter = postponed_appointments_counter + 1 %}
                                                    {% endif %}
                                                {% else %}
                                                    {% if appointment_postpone_date >= selected_date %}
                                                        {% set postponed_appointments_counter = postponed_appointments_counter + 1 %}
                                                    {% endif%}
                                                {% endif %}
                                            {% endfor %}
                                            {{ postponed_appointments_counter }}
                                        {% else %}
                                            {{ postponed_appointments_count }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        N/A
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">
                                        Argu
                                    </th>
                                    <td>
                                        {#{% if app.session.get('date_filter_value_commercial_stats') is not null %}
                                            {% set NRP_contacts_counter  = 0 %}
                                            {% for client in clients_processes %}
                                                {% set break_NRP = false %}
                                                {% for date_time, status_detail in client %}
                                                    {% set process_date = date_time | date('Y-m-d') %}
                                                    {% if break_NRP == false %}
                                                        {% if filter == "0" or filter == "1" %}
                                                            {% if process_date == selected_date %}
                                                                {% if status_detail == 1 %}
                                                                    {% set NRP_contacts_counter = NRP_contacts_counter + 1 %}
                                                                    {% set break_NRP = true %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% elseif filter == "100" %}
                                                            {% if process_date >= start_date and process_date <= end_date %}
                                                                {% if status_detail == 1 %}
                                                                    {% set NRP_contacts_counter = NRP_contacts_counter + 1 %}
                                                                    {% set break_NRP = true %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% else %}
                                                            {% if process_date >= selected_date %}
                                                                {% if status_detail == 1 %}
                                                                    {% set NRP_contacts_counter = NRP_contacts_counter + 1 %}
                                                                    {% set break_NRP = true %}
                                                                {% endif %}
                                                            {% endif%}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                            {{ NRP_contacts_counter  }}
                                        {% else %}
                                            {{ all_NRP_contacts_count }}
                                        {% endif %}#}
                                        {% if app.session.get('date_filter_value_commercial_stats') is not null %}
                                            {% set argu_appointments_counter = 0 %}
                                            {% for appointment in argu_appointments %}
                                                {% set appointment_isdone_date = appointment.doneAt | date('Y-m-d') %}
                                                {% if filter == "0" or filter == "1" %}
                                                    {% if appointment_isdone_date == selected_date %}
                                                        {% set argu_appointments_counter = argu_appointments_counter + 1 %}
                                                    {% endif %}
                                                {% elseif filter == "100" %}
                                                    {% if appointment_isdone_date >= start_date and appointment_isdone_date <= end_date %}
                                                        {% set argu_appointments_counter = argu_appointments_counter + 1 %}
                                                    {% endif %}
                                                {% else %}
                                                    {% if appointment_isdone_date >= selected_date %}
                                                        {% set argu_appointments_counter = argu_appointments_counter + 1 %}
                                                    {% endif%}
                                                {% endif %}
                                            {% endfor %}
                                            {{ argu_appointments_counter }}
                                        {% else %}
                                            {{ argu_appointments_count }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        N/A
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">
                                        Vente
                                    </th>
                                    <td>
                                        {#{% if app.session.get('date_filter_value_commercial_stats') is not null %}
                                            {% set RDV_contacts_counter  = 0 %}
                                            {% for client in clients_processes %}
                                                {% set break_RDV = false %}
                                                {% for date_time, status_detail in client %}
                                                    {% set process_date = date_time | date('Y-m-d') %}
                                                    {% if break_RDV == false %}
                                                        {% if filter == "0" or filter == "1" %}
                                                            {% if process_date == selected_date %}
                                                                {% if status_detail == 7 %}
                                                                    {% set RDV_contacts_counter = RDV_contacts_counter + 1 %}
                                                                    {% set break_RDV = true %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% elseif filter == "100" %}
                                                            {% if process_date >= start_date and process_date <= end_date %}
                                                                {% if status_detail == 7 %}
                                                                    {% set RDV_contacts_counter = RDV_contacts_counter + 1 %}
                                                                    {% set break_RDV = true %}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% else %}
                                                            {% if process_date >= selected_date %}
                                                                {% if status_detail == 7 %}
                                                                    {% set RDV_contacts_counter = RDV_contacts_counter + 1 %}
                                                                    {% set break_RDV = true %}
                                                                {% endif %}
                                                            {% endif%}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                            {{ RDV_contacts_counter  }}
                                        {% else %}
                                            {{ all_RDV_contacts_count }}
                                        {% endif %}#}
                                        {% if app.session.get('date_filter_value_commercial_stats') is not null %}
                                            {% set vente_appointments_counter = 0 %}
                                            {% for appointment in vente_appointments %}
                                                {% set appointment_isdone_date = appointment.doneAt | date('Y-m-d') %}
                                                {% if filter == "0" or filter == "1" %}
                                                    {% if appointment_isdone_date == selected_date %}
                                                        {% set vente_appointments_counter = vente_appointments_counter + 1 %}
                                                    {% endif %}
                                                {% elseif filter == "100" %}
                                                    {% if appointment_isdone_date >= start_date and appointment_isdone_date <= end_date %}
                                                        {% set vente_appointments_counter = vente_appointments_counter + 1 %}
                                                    {% endif %}
                                                {% else %}
                                                    {% if appointment_isdone_date >= selected_date %}
                                                        {% set vente_appointments_counter = vente_appointments_counter + 1 %}
                                                    {% endif%}
                                                {% endif %}
                                            {% endfor %}
                                            {{ vente_appointments_counter }}
                                        {% else %}
                                            {{ vente_appointments_count }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        N/A
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">
                                        TX TRANSFO
                                    </th>
                                    <td>
                                        N/A
                                    </td>
                                    <td>
                                       {# {% if app.session.get('date_filter_value_commercial_stats') is not null %}
                                            {% if QUALIFIED_contacts_counter != 0 %}
                                                {{ ((RDV_contacts_counter /  QUALIFIED_contacts_counter) * 100)|number_format(2) }} %
                                            {% else %}
                                                0 %
                                            {% endif %}
                                        {% else %}
                                            {{ TX_TRANSFOR }} %
                                        {% endif %}#}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">

                            <h3 class="mb-0">Statistiques Générales</h3>

                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Données</th>
                                <th scope="col">Valeur</th>

                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <th scope="row">
                                    Total Commerciaux
                                </th>
                                <td>
                                    {{ commercials_count }}
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    Total RDV
                                </th>
                                <td>
                                    {{ all_appointments_count }}
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    Total RDV Effectués
                                </th>
                                <td>
                                    {{ done_appointments_count }}
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    Total RDV Restants
                                </th>
                                <td>
                                    {{ upcoming_appointments_count }}
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">

                            <h3 class="mb-0">Statistiques Pour La Période Sélectionnée</h3>

                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Données</th>
                                <th scope="col">Valeur</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <th scope="row">
                                    Total RDV
                                </th>
                                <td>
                                    {% if app.session.get('date_filter_value_commercial_stats') is not null %}
                                        {{ all_appointments_counter }}
                                    {% else %}
                                        {{ all_appointments_count }}
                                    {% endif %}
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    Total RDV Effectués
                                </th>

                                <td>
                                    {% if app.session.get('date_filter_value_commercial_stats') is not null %}
                                        {% set done_appointments_counter = 0 %}
                                        {% for appointment in done_appointments %}
                                            {% set appointment_isdone_date = appointment.doneAt | date('Y-m-d') %}
                                            {% if filter == "0" or filter == "1" %}
                                                {% if appointment_isdone_date == selected_date %}
                                                    {% set done_appointments_counter = done_appointments_counter + 1 %}
                                                {% endif %}
                                            {% elseif filter == "100" %}
                                                {% if appointment_isdone_date >= start_date and appointment_isdone_date <= end_date %}
                                                    {% set done_appointments_counter = done_appointments_counter + 1 %}
                                                {% endif %}
                                            {% else %}
                                                {% if appointment_isdone_date >= selected_date %}
                                                    {% set done_appointments_counter = done_appointments_counter + 1 %}
                                                {% endif%}
                                            {% endif %}
                                        {% endfor %}
                                        {{ done_appointments_counter }}
                                    {% else %}
                                        {{ done_appointments_count }}
                                    {% endif %}
                                </td>
                            </tr>

                            {#<tr>
                                <th scope="row">
                                    Total RDV à Venir
                                </th>

                                <td>

                                </td>
                            </tr>#}

                            <tr>
                                <th scope="row">
                                    Total RDV Reportés
                                </th>

                                <td>
                                    {% if app.session.get('date_filter_value_commercial_stats') is not null %}
                                        {{ postponed_appointments_counter }}
                                    {% else %}
                                        {{ postponed_appointments_count }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Total RDV Annulés
                                </th>
                                <td>
                                    {% if app.session.get('date_filter_value_commercial_stats') is not null %}
                                        {{ deleted_appointments_counter }}
                                    {% else %}
                                        {{ deleted_appointments_count }}
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {#<div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">

                            <h3 class="mb-0">Performances Générales</h3>

                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Données</th>
                                <th scope="col">Pourcentage</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <th scope="row">
                                    Pourcentage RDV Effectués
                                </th>
                                <td>

                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    Pourcentage RDV à Venir
                                </th>

                                <td>

                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>#}

        {#<div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">

                            <h3 class="mb-0">Performances pour la période sélectionnée</h3>

                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Données</th>
                                <th scope="col">Pourcentage</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <th scope="row">
                                    Pourcentage RDV Effectués
                                </th>
                                <td>

                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    Pourcentage RDV à Venir
                                </th>

                                <td>

                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    Pourcentage RDV Reportés
                                </th>

                                <td>

                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    Pourcentage RDV Annulés
                                </th>

                                <td>

                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    Pourcentage Argu
                                </th>

                                <td>

                                </td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    Pourcentage Vente
                                </th>

                                <td>

                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>#}

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Statistiques Par Utilisateur</h3>
                            </div>
                            <div class="col text-right">

                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Utilisateur</th>
                                <th scope="col">RDV Assignés</th>
                                <th scope="col">RDV Effectués</th>
                                <th scope="col">Argu</th>
                                <th scope="col">Vente</th>
                                <th scope="col">RDV Reportés</th>
                                <th scope="col">RDV Annulés</th>
                                {#<th scope="col">A Rappeler</th>
                                <th scope="col">RDV</th>#}
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                {% set all_user_appointments = [] %}
                                {% if user.appointments|default %}
                                    {% for appointment in user.appointments %}
                                        {% if appointment.eventType.id == 4 %}
                                        {% set all_user_appointments = all_user_appointments|merge([appointment]) %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {#{{ dump(all_user_appointments) }}#}

                                <tr class="clickable-row" data-href="{{ path('statistics_per_user', {'id': user.id}) }}">
                                    <th scope="row">
                                        {{ user.firstName ~ ' ' ~ user.lastName }}
                                    </th>
                                    <td>
                                        {% if app.session.get('date_filter_value_commercial_stats') is not null %}
                                            {% set assigned_appointments_by_user_counter = 0 %}
                                            {% for assigned_appointment_by_user in all_user_appointments %}
                                                {% set assigned_appointment_by_user_date = assigned_appointment_by_user.createdAt | date('Y-m-d') %}
                                                {% if filter == "0" or filter == "1" %}
                                                    {% if assigned_appointment_by_user_date == selected_date %}
                                                        {% set assigned_appointments_by_user_counter = assigned_appointments_by_user_counter + 1 %}
                                                    {% endif %}
                                                {% elseif filter == "100" %}
                                                    {% if assigned_appointment_by_user_date >= start_date and assigned_appointment_by_user_date <= end_date %}
                                                        {% set assigned_appointments_by_user_counter = assigned_appointments_by_user_counter + 1 %}
                                                    {% endif %}
                                                {% else %}
                                                    {% if assigned_appointment_by_user_date >= selected_date %}
                                                        {% set assigned_appointments_by_user_counter = assigned_appointments_by_user_counter + 1 %}
                                                    {% endif%}
                                                {% endif %}
                                            {% endfor %}
                                            {{ assigned_appointments_by_user_counter }}
                                        {% else %}
                                            {{ all_user_appointments | length }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if app.session.get('date_filter_value_commercial_stats') is not null %}
                                            {% set done_appointments_by_user_counter = 0 %}
                                            {% for done_appointment_by_user in all_user_appointments %}
                                                {% if (done_appointment_by_user.isDone == 2 or done_appointment_by_user.isDone == 3) and done_appointment_by_user.isDeleted == 0 %}
                                                    {% set done_appointments_by_user_date = done_appointment_by_user.doneAt | date('Y-m-d') %}
                                                    {% if filter == "0" or filter == "1" %}
                                                        {% if done_appointments_by_user_date == selected_date %}
                                                            {% set done_appointments_by_user_counter = done_appointments_by_user_counter + 1 %}
                                                        {% endif %}
                                                    {% elseif filter == "100" %}
                                                        {% if done_appointments_by_user_date >= start_date and done_appointments_by_user_date <= end_date %}
                                                            {% set done_appointments_by_user_counter = done_appointments_by_user_counter + 1 %}
                                                        {% endif %}
                                                    {% else %}
                                                        {% if done_appointments_by_user_date >= selected_date %}
                                                            {% set done_appointments_by_user_counter = done_appointments_by_user_counter + 1 %}
                                                        {% endif%}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            {{ done_appointments_by_user_counter }}
                                        {% else %}
                                            {% set done_appointments_by_user_counter_without_filter = 0 %}
                                            {% for done_appointment_by_user in all_user_appointments %}
                                                {% if (done_appointment_by_user.isDone == 2 or done_appointment_by_user.isDone == 3) and done_appointment_by_user.isDeleted == 0 %}
                                                    {% set done_appointments_by_user_counter_without_filter = done_appointments_by_user_counter_without_filter + 1 %}
                                                {% endif %}
                                            {% endfor %}
                                            {{ done_appointments_by_user_counter_without_filter }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if app.session.get('date_filter_value_commercial_stats') is not null %}
                                            {% set ARGU_appointments_by_user_counter = 0 %}
                                            {% for done_appointment_by_user in all_user_appointments %}
                                                {% if done_appointment_by_user.isDone == 2 and done_appointment_by_user.isDeleted == 0 %}
                                                    {% set ARGU_appointments_by_user_date = done_appointment_by_user.doneAt | date('Y-m-d') %}
                                                    {% if filter == "0" or filter == "1" %}
                                                        {% if ARGU_appointments_by_user_date == selected_date %}
                                                            {% set ARGU_appointments_by_user_counter = ARGU_appointments_by_user_counter + 1 %}
                                                        {% endif %}
                                                    {% elseif filter == "100" %}
                                                        {% if ARGU_appointments_by_user_date >= start_date and ARGU_appointments_by_user_date <= end_date %}
                                                            {% set ARGU_appointments_by_user_counter = ARGU_appointments_by_user_counter + 1 %}
                                                        {% endif %}
                                                    {% else %}
                                                        {% if ARGU_appointments_by_user_date >= selected_date %}
                                                            {% set ARGU_appointments_by_user_counter = ARGU_appointments_by_user_counter + 1 %}
                                                        {% endif%}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            {{ ARGU_appointments_by_user_counter }}
                                        {% else %}
                                            {% set ARGU_appointments_by_user_counter_without_filter = 0 %}
                                            {% for done_appointment_by_user in all_user_appointments %}
                                                {% if done_appointment_by_user.isDone == 2 and done_appointment_by_user.isDeleted == 0 %}
                                                    {% set ARGU_appointments_by_user_counter_without_filter = ARGU_appointments_by_user_counter_without_filter + 1 %}
                                                {% endif %}
                                            {% endfor %}
                                            {{ ARGU_appointments_by_user_counter_without_filter }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if app.session.get('date_filter_value_commercial_stats') is not null %}
                                            {% set VENTE_appointments_by_user_counter = 0 %}
                                            {% for done_appointment_by_user in all_user_appointments %}
                                                {% if done_appointment_by_user.isDone == 3 and done_appointment_by_user.isDeleted == 0 %}
                                                    {% set VENTE_appointments_by_user_date = done_appointment_by_user.doneAt | date('Y-m-d') %}
                                                    {% if filter == "0" or filter == "1" %}
                                                        {% if VENTE_appointments_by_user_date == selected_date %}
                                                            {% set VENTE_appointments_by_user_counter = VENTE_appointments_by_user_counter + 1 %}
                                                        {% endif %}
                                                    {% elseif filter == "100" %}
                                                        {% if VENTE_appointments_by_user_date >= start_date and VENTE_appointments_by_user_date <= end_date %}
                                                            {% set VENTE_appointments_by_user_counter = VENTE_appointments_by_user_counter + 1 %}
                                                        {% endif %}
                                                    {% else %}
                                                        {% if VENTE_appointments_by_user_date >= selected_date %}
                                                            {% set VENTE_appointments_by_user_counter = VENTE_appointments_by_user_counter + 1 %}
                                                        {% endif%}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            {{ VENTE_appointments_by_user_counter }}
                                        {% else %}
                                            {% set VENTE_appointments_by_user_counter_without_filter = 0 %}
                                            {% for done_appointment_by_user in all_user_appointments %}
                                                {% if done_appointment_by_user.isDone == 3 and done_appointment_by_user.isDeleted == 0 %}
                                                    {% set VENTE_appointments_by_user_counter_without_filter = VENTE_appointments_by_user_counter_without_filter + 1 %}
                                                {% endif %}
                                            {% endfor %}
                                            {{ VENTE_appointments_by_user_counter_without_filter }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if app.session.get('date_filter_value_commercial_stats') is not null %}
                                            {% set POSTPONED_appointments_by_user_counter = 0 %}
                                            {% for POSTPONED_appointment_by_user in all_user_appointments %}
                                                {% if POSTPONED_appointment_by_user.isDone == 1 and POSTPONED_appointment_by_user.isDeleted == 0 %}
                                                    {% set POSTPONED_appointments_by_user_date = POSTPONED_appointment_by_user.postponedAt | date('Y-m-d') %}
                                                    {% if filter == "0" or filter == "1" %}
                                                        {% if POSTPONED_appointments_by_user_date == selected_date %}
                                                            {% set POSTPONED_appointments_by_user_counter = POSTPONED_appointments_by_user_counter + 1 %}
                                                        {% endif %}
                                                    {% elseif filter == "100" %}
                                                        {% if POSTPONED_appointments_by_user_date >= start_date and POSTPONED_appointments_by_user_date <= end_date %}
                                                            {% set POSTPONED_appointments_by_user_counter = POSTPONED_appointments_by_user_counter + 1 %}
                                                        {% endif %}
                                                    {% else %}
                                                        {% if POSTPONED_appointments_by_user_date >= selected_date %}
                                                            {% set POSTPONED_appointments_by_user_counter = POSTPONED_appointments_by_user_counter + 1 %}
                                                        {% endif%}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            {{ POSTPONED_appointments_by_user_counter }}
                                        {% else %}
                                            {% set POSTPONED_appointments_by_user_counter_without_filter = 0 %}
                                            {% for POSTPONED_appointment_by_user in all_user_appointments %}
                                                {% if POSTPONED_appointment_by_user.isDone == 1 and POSTPONED_appointment_by_user.isDeleted == 0 %}
                                                    {% set POSTPONED_appointments_by_user_counter_without_filter = POSTPONED_appointments_by_user_counter_without_filter + 1 %}
                                                {% endif %}
                                            {% endfor %}
                                            {{ POSTPONED_appointments_by_user_counter_without_filter }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if app.session.get('date_filter_value_commercial_stats') is not null %}
                                            {% set DELETED_appointments_by_user_counter = 0 %}
                                            {% for DELETED_appointment_by_user in all_user_appointments %}
                                                {% if DELETED_appointment_by_user.isDeleted == 1 %}
                                                    {% set DELETED_appointments_by_user_date = DELETED_appointment_by_user.deletionDate | date('Y-m-d') %}
                                                    {% if filter == "0" or filter == "1" %}
                                                        {% if DELETED_appointments_by_user_date == selected_date %}
                                                            {% set DELETED_appointments_by_user_counter = DELETED_appointments_by_user_counter + 1 %}
                                                        {% endif %}
                                                    {% elseif filter == "100" %}
                                                        {% if DELETED_appointments_by_user_date >= start_date and DELETED_appointments_by_user_date <= end_date %}
                                                            {% set DELETED_appointments_by_user_counter = DELETED_appointments_by_user_counter + 1 %}
                                                        {% endif %}
                                                    {% else %}
                                                        {% if DELETED_appointments_by_user_date >= selected_date %}
                                                            {% set DELETED_appointments_by_user_counter = DELETED_appointments_by_user_counter + 1 %}
                                                        {% endif%}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            {{ DELETED_appointments_by_user_counter }}
                                        {% else %}
                                            {% set DELETED_appointments_by_user_counter_without_filter = 0 %}
                                            {% for DELETED_appointment_by_user in all_user_appointments %}
                                                {% if DELETED_appointment_by_user.isDeleted == 1 %}
                                                    {% set DELETED_appointments_by_user_counter_without_filter = DELETED_appointments_by_user_counter_without_filter + 1 %}
                                                {% endif %}
                                            {% endfor %}
                                            {{ DELETED_appointments_by_user_counter_without_filter }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path('statistics_per_user', {'id': user.id}) }}"><i class="fas fa-search-plus text-blue"></i></a>&nbsp;&nbsp;
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}

{% block additionalJs %}
    <script>
        window.onload = () => {
            let normalPeriod =  $("#normal_period");
            let normalPeriodBlock =  $("#normal_period_block");
            let customPeriod = $("#custom_period_block");
            normalPeriod.on('change', function() {
                if($(this).val() === "100") {
                    $(this).parent().fadeOut(50)
                    customPeriod.fadeIn(1000)
                }
            })
            $('#retour_period').click(function () {
                $(this).parent().fadeOut(50)
                normalPeriodBlock.fadeIn(1000);
                normalPeriod.val({{ app.session.get('date_filter_value_commercial_stats') }});
                if(normalPeriod.val() === "100") {
                    normalPeriod.val("");
                }
            })

            //date

            $('#normal_period').hover(function () {
                $(this).css('cursor','pointer');
            })
            $('#normal_period').change(function () {
                /*console.log(this.value == "14")*/
                if(this.value && this.value != "100") {
                    $.ajax({
                        url:"{{ path('commercial_stats_filters') }}",
                        method: "POST",
                        dataType: 'json',
                        data : { dateFilterValueCommercialStats: this.value },
                        success: (e) => {
                            /*location.reload();*/
                            /*console.log(e);*/
                        },
                        error : (f) => {
                            console.log(f);
                        }
                    })
                }


            })
            if(normalPeriod.val() === "100") {
                normalPeriodBlock.fadeOut(0.05)
                customPeriod.fadeIn(0.1)
                $("#start_date").val("{{ app.session.get('date_filter_commercial_start')|date('Y-m-d') }}")
                $("#end_date").val("{{ app.session.get('date_filter_commercial_end')|date('Y-m-d') }}")
                $("#between-date-initialization").fadeIn(0.1)
            }

            $(".clickable-row").hover(function () {
                $(this).css('cursor', 'pointer');
            });

            $(".clickable-row").dblclick(function () {
                window.location = $(this).data("href");
            });
        }
    </script>
{% endblock %}
